Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

maint: Add GPL license and copyright to example copied from Seed
  examples/calc.js
Due: eslint

tests: Remove constexpr from get_random_number
  test/gjs-tests.cpp
Due: cppcheck, cpplint

jsapi-util: Remove unused value read from /proc/self/stat
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

CI: Add workaround for IWYU bug
  tools/gjs-private-iwyu.imp
Due: none

arg-cache: Add fundamental marshaller.
  gi/arg-cache.cpp
Due: cppcheck, cpplint

fix build with clang
  gjs/jsapi-class.h
  gjs/jsapi-util-args.h
Due: cppcheck, cpplint

console: fix typo in command-line option
  gjs/console.cpp
Due: cppcheck, cpplint

examples: Fix Clutter example
  examples/clutter.js
Due: eslint

Prevent passing null pointers when not nullable.
  gi/arg-cache.cpp
Due: cppcheck, cpplint

Add test for not-nullable gpointer parameters.
  installed-tests/js/testGLib.js
Due: eslint

release: Prepare for 1.66.1
  NEWS
Due: none

release: Add NEWS from stable version 1.66.1
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

arg: Use only one single template-based function to create simple types array
  gi/arg-types-inl.h
  gi/arg.cpp
  gi/js-value-inl.h
Due: cppcheck, cpplint

arg: Convert GValue arrays using auto function
  gi/arg-types-inl.h
  gi/arg.cpp
  gi/js-value-inl.h
Due: cppcheck, cpplint

arg: Implement gjs_array_to_strv using the auto-array
  gi/arg-types-inl.h
  gi/arg.cpp
  gi/js-value-inl.h
Due: cppcheck, cpplint

arg: Don't create temporary values when array types have direct conversion
  gi/arg.cpp
Due: cppcheck, cpplint

gi: Use static argument type names instead of getting them from tag
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Handle out-of-range error as part of the hashtable int key creation
  gi/arg.cpp
Due: cppcheck, cpplint

arg-cache: Use only one marshaller for all the numeric types
  gi/arg-cache.cpp
Due: cppcheck, cpplint

value: Use Gjs::js_value_to_c[_checked] to transform values
  gi/value.cpp
Due: cppcheck, cpplint

arg: Use a template function to generate Array from GList and GSList
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Use an unique template function to free G(S)List
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Use template function to convert JS Array to G(S)List
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Improve debugging of numeric marshal conversions
  gi/arg-cache.cpp
  gi/arg.cpp
Due: cppcheck, cpplint

arg-cache: Use simple boxed marshaller if we're handling a GValue method
  gi/arg-cache.cpp
  installed-tests/js/meson.build
  installed-tests/js/testGObjectValue.js
Due: cppcheck, cpplint, eslint

arg-cache: Support passing GValue objects, not only generated-gvalues
  gi/arg-cache.cpp
  gi/function.h
  installed-tests/js/testGObjectValue.js
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint

test: Increase the timeout for the API tests test
  test/meson.build
Due: none

boxed: Also unset the GValue if allocated directly
  gi/boxed.cpp
Due: cppcheck, cpplint

Fixed error in _init() that prevented GType objects from being created. Improved the regression test, implementing Marco T's feedback.
  installed-tests/js/testGObject.js
  modules/core/overrides/GObject.js
Due: eslint

wrapperutils: Use native C++ allocation and deletion for wrappers
  gi/boxed.cpp
  gi/object.cpp
  gi/object.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

Use standard allocator for JS private data
  gi/ns.cpp
  gi/param.cpp
  gi/repo.cpp
  gi/wrapperutils.h
  gjs/importer.cpp
  modules/cairo-context.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint

Revert "arg-cache: Save space by not caching GType"
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
Due: cppcheck, cpplint

gi/wrapperutils: Move gjs_get_string_id() into resolve() implementations
  gi/boxed.cpp
  gi/boxed.h
  gi/fundamental.cpp
  gi/fundamental.h
  gi/interface.cpp
  gi/interface.h
  gi/object.cpp
  gi/object.h
  gi/union.cpp
  gi/union.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

arg: Use argument flags for the gjs conversion functions
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.cpp
  gi/arg.h
  gi/boxed.cpp
  gi/foreign.cpp
  gi/foreign.h
  gi/function.cpp
  gi/value.cpp
  gjs/enum-utils.h
  modules/cairo-context.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint

gi: Support caller-allocates GValue arguments
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.cpp
  gi/arg.h
  gi/function.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

arg-cache: Save unsigned state as argument flag, sharing the bit with FILENAME
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.h
Due: cppcheck, cpplint

arg-cache: Use more flags to store argument flags
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.h
  gi/function.cpp
Due: cppcheck, cpplint

wrapperutils: Release the arcbox if we return early
  gi/wrapperutils.h
Due: cppcheck, cpplint
