Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js

Gio override: check for missing or conflicting schema path
  installed-tests/js/testGio.js
  modules/overrides/Gio.js
Due: eslint

function: Improve debug message
  gi/function.cpp
Due: cppcheck, cpplint

js: Remove most goto error handling
  gi/arg.cpp
  gi/boxed.cpp
  gi/repo.cpp
  gjs/console.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/importer.cpp
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

README.MSVC.md: Update build documentation
  README.MSVC.md
Due: none

build: Don't error out on warnings in test GIR sources
  installed-tests/js/meson.build
Due: none

profiler: Call destructor of PseudoStack
  gjs/profiler.cpp
Due: cppcheck, cpplint

gobject: Handle CONSTRUCT_ONLY flag
  gi/gobject.cpp
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testLegacyGObject.js
Due: cppcheck, cpplint, eslint

object: Warn when setting a deprecated property
  gi/object.cpp
  gjs/deprecation.cpp
  gjs/deprecation.h
Due: cppcheck, cpplint

CI: Create mozjs68 CI images
  .gitlab-ci.yml
  test/ci-images.sh
Due: none

doap: Update bug database link
  gjs.doap
Due: none

doap: Use SPDX entity links for software licenses
  gjs.doap
Due: none

doap: Update homepage
  gjs.doap
Due: none

global: Define debug names for compartments
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/debugger.cpp
  gjs/global.cpp
  gjs/global.h
Due: cppcheck, cpplint

build: Add -Wno-typedef-redefinition to C compiler arguments
  meson.build
Due: none

console: Remove trailing newline from log message
  gjs/console.cpp
Due: cppcheck, cpplint

Gio override: optimize constructor param checks in _init
  modules/overrides/Gio.js
Due: eslint

cairo: Remove unused fields from private structures
  modules/cairo-context.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint

jsapi-util-string: Make debug print functions handle null
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

release: Prepare for 1.58.4
  NEWS
Due: none

build: Post-release version bump
  configure.ac
Due: none

release: Add NEWS from 1.58.4
  NEWS
Due: none

release: Prepare for 1.63.3
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

build: Prefer signal.h to sys/signal.h
  gjs/context.h
  gjs/profiler.cpp
  meson.build
  tools/gjs-private-iwyu.imp
Due: cppcheck, cpplint

build: Change CI to run on mozjs68 images
  .gitlab-ci.yml
  test/ci-images.sh
Due: none

build: Build with mozjs68
  meson.build
Due: none

js: Remove requests
  gi/closure.cpp
  gi/function.cpp
  gi/gerror.cpp
  gi/gobject.cpp
  gi/gtype.cpp
  gi/ns.cpp
  gi/object.cpp
  gi/private.cpp
  gi/repo.cpp
  gi/value.cpp
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/debugger.cpp
  gjs/global.cpp
  gjs/importer.cpp
  gjs/jsapi-class.h
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-args.h
  gjs/jsapi-util-error.cpp
  gjs/jsapi-util-root.h
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.cpp
  modules/system.cpp
  test/gjs-test-utils.cpp
Due: cppcheck, cpplint

js: Rename "compartments" to "realms"
  gi/closure.cpp
  gi/function.cpp
  gi/gobject.cpp
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  gjs/atoms.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/debugger.cpp
  gjs/engine.cpp
  gjs/global.cpp
  gjs/jsapi-dynamic-class.cpp
  test/gjs-test-utils.cpp
  test/gjs-test-utils.h
  tools/heapgraph.py
Due: cppcheck, cpplint

js: Remove hashtable init() calls
  gi/boxed.cpp
  gi/object.cpp
  gi/object.h
  gjs/context.cpp
Due: cppcheck, cpplint

js: Rename JS::AutoFooVector
  gi/arg.cpp
  gi/function.cpp
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/importer.cpp
  gjs/jsapi-util.cpp
  gjs/module.cpp
Due: cppcheck, cpplint

js: Various API renames
  gi/object.cpp
  gjs/deprecation.cpp
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-root.h
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  gjs/profiler.cpp
Due: cppcheck, cpplint

engine: Add missing headers
  gjs/engine.cpp
Due: cppcheck, cpplint

js: Remove handling of shebang line
  gjs/context.cpp
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  gjs/module.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint

jsapi-util-string: Remove no-copy optimization in gjs_string_from_ucs4()
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

global: Use default global ClassOps
  gjs/global.cpp
Due: cppcheck, cpplint

js: Use JS::SourceText to store source code
  gjs/context.cpp
  gjs/engine.cpp
  gjs/engine.h
  gjs/global.cpp
  gjs/module.cpp
  modules/console.cpp
  test/gjs-test-call-args.cpp
Due: cppcheck, cpplint

js: Change gjs_string_to_utf8() to return JS::UniqueChars
  gi/arg.cpp
  gi/gerror.cpp
  gjs/deprecation.cpp
  gjs/importer.cpp
  gjs/jsapi-util-args.h
  gjs/jsapi-util-error.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  test/gjs-tests.cpp
Due: cppcheck, cpplint

gerror: Pass null JSPrincipals to saved frame API calls
  gi/gerror.cpp
  gjs/jsapi-util-error.cpp
Due: cppcheck, cpplint

byteArray: Use new ArrayBuffer API
  gjs/byteArray.cpp
Due: cppcheck, cpplint
