Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

module: Delete GjsScriptModule copy constructor and assignment operator
  gjs/module.cpp
Due: cppcheck, cpplint

maint: Replace use of g_newa() and g_alloca()
  gi/object.cpp
  gi/private.cpp
  gi/value.cpp
Due: cppcheck, cpplint

util: Fix wrong format specifiers
  libgjs-private/gjs-util.c
Due: cppcheck, cpplint

function: Allocate ffi_arg_pointers using an unique_ptr array
  gi/function.cpp
Due: cppcheck, cpplint

function: Don't use alloca for CallState values
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

dbus: Avoid null dereference in error message
  libgjs-private/gjs-gdbus-wrapper.c
Due: cppcheck, cpplint

maint: Move expressions with side-effects out of assert statements
  test/gjs-tests.cpp
Due: cppcheck, cpplint

CI: Add cppcheck config file
  .gitlab-ci.yml
  tools/cppcheck.cfg
  tools/run_cppcheck.sh
Due: none

CI: Avoid cppcheck false positives
  .gitlab-ci.yml
  gi/arg.cpp
  tools/run_cppcheck.sh
Due: cppcheck, cpplint

Dockerfile: Allow to pass the mozjs base to use for build-deps
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

CI: Use Fedora project registry images instead of DockerHub
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

CI: Replace jobs that pull from DockerHub with CI templates
  .gitlab-ci.yml
Due: none

CI: Replace cpplint image build and CI job with CI templates
  .gitlab-ci.yml
  test/extra/Dockerfile.alpine.cpplint
Due: none

CI: Use images with buildah and runc preinstalled for image builds
  .gitlab-ci.yml
Due: none

CI: Stop building mozjs68 images
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

CI: Upgrade mozjs78 images to Fedora 33
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

param: Remove JSClass macros
  gi/param.cpp
Due: cppcheck, cpplint

importer: Remove JSClass macros
  gjs/importer.cpp
  gjs/mem-private.h
Due: cppcheck, cpplint

*: Fix spelling mistakes found by codespell
  CONTRIBUTING.md
  README.MSVC.md
  doc/Logging.md
  doc/Modules.md
  doc/cairo.md
  gi/arg.cpp
  gjs/importer.cpp
  gjs/jsapi-dynamic-class.cpp
  installed-tests/js/jasmine.js
  modules/core/_format.js
  modules/script/tweener/equations.js
  modules/script/tweener/tweener.js
  tools/apply-format
Due: cppcheck, cpplint, eslint

testRegress: Fix misspelled call in GBoxed regression tests
  installed-tests/js/testRegress.js
Due: eslint

.gitlab-ci.yml: add codespell job
  .gitlab-ci.yml
Due: none

CI: Add license-check job
  .gitlab-ci.yml
Due: none

Correct contributor copyright email.
  examples/.eslintrc.yml
  installed-tests/.eslintrc.yml
  modules/core/.eslintrc.yml
  modules/print.h
  modules/script/.eslintrc.yml
  modules/script/tweener/.eslintrc.yml
Due: cppcheck, cpplint, eslint

maint: Make project compatible with Reuse Software spec
  .gitlab-ci.yml
  .reuse/dep5
  COPYING
  COPYING.LGPL
  LICENSES/BSD-3-Clause.txt
  LICENSES/CC0-1.0.txt
  LICENSES/GPL-2.0-or-later.txt
  LICENSES/GPL-3.0-or-later.txt
  LICENSES/LGPL-2.0-or-later.txt
  LICENSES/LGPL-2.1-or-later.txt
  LICENSES/MIT.txt
  LICENSES/MPL-1.1.txt
  LICENSES/MPL-2.0.txt
Due: none

CI: Don't ignore fatal errors in IWYU postprocess script
  tools/process_iwyu.py
Due: none

js: Remove IWYU pragma from includes
  gjs/jsapi-class.h
  gjs/macros.h
Due: cppcheck, cpplint

profiler: Fix mistake in HAVE_SIGNAL_H preprocessor guard
  gjs/profiler.cpp
Due: cppcheck, cpplint

CI: Fix bug in IWYU mapping file
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.cpp
  gi/arg.h
  gi/boxed.cpp
  gi/fundamental.cpp
  gi/gerror.h
  gi/interface.cpp
  gi/repo.cpp
  gi/union.cpp
  gi/wrapperutils.h
  modules/cairo-context.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
  tools/gjs-private-iwyu.imp
  tools/process_iwyu.py
Due: cppcheck, cpplint

CI: Bump pinned job to a Fedora 33 image
  .gitlab-ci.yml
Due: none

CI: Make necessary changes to includes for IWYU 0.15
  gi/boxed.h
  gi/object.h
  gi/union.cpp
  gjs/atoms.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/deprecation.cpp
  gjs/jsapi-util-string.cpp
  gjs/profiler.cpp
  gjs/stack.cpp
  modules/cairo.cpp
  modules/print.cpp
  test/gjs-test-rooting.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint

CI: Fix bug in IWYU postprocess script
  gi/gobject.cpp
  gi/ns.cpp
  gjs/coverage.cpp
  gjs/deprecation.cpp
  gjs/profiler.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint

test: Avoid including stddef.h for NULL
  test/gjs-test-no-introspection-object.cpp
Due: cppcheck, cpplint

CI: Remove false positive includes
  gi/boxed.cpp
  gi/object.cpp
  gjs/context.cpp
  test/gjs-test-jsapi-utils.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint

CI: Remove workarounds no longer needed for IWYU 0.14
  tools/gjs-private-iwyu.imp
  tools/process_iwyu.py
Due: none

CI: Add standalone header files to IWYU script
  gi/arg-types-inl.h
  gjs/jsapi-util-args.h
  tools/run_iwyu.sh
Due: cppcheck, cpplint

CI: Limit bandwidth usage for git clones during CI
  .gitlab-ci.yml
  subprojects/glib.wrap
  subprojects/gobject-introspection.wrap
  subprojects/libffi.wrap
  subprojects/proxy-libintl.wrap
  subprojects/sysprof.wrap
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
  test/test-ci.sh
Due: none

CI: Compare cpplint and IWYU against the pull request's base branch
  .gitlab-ci.yml
  test/test-ci.sh
Due: none

test: Fix debugger test script to print diff properly
  installed-tests/debugger-test.sh
Due: none
