Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

CI: Fix IWYU cflags
  tools/run_iwyu.sh
Due: none

CI: No need to include autoconf-2.13 in Docker images
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

maint: Adjust includes to IWYU 0.24
  gi/fundamental.cpp
  gi/gtype.cpp
  gi/info.h
  gi/ns.cpp
  gi/repo.cpp
  gi/utils-inl.h
  gi/wrapperutils.h
  gjs/auto.h
  gjs/console.cpp
  gjs/context.cpp
  gjs/context.h
  gjs/gjs_pch.hh
  gjs/jsapi-class.h
  gjs/jsapi-util-root.h
  gjs/jsapi-util.h
  gjs/native.cpp
  gjs/profiler.cpp
  gjs/stack.cpp
  gjs/text-encoding.cpp
  libgjs-private/gjs-util.h
  test/gjs-test-utils.cpp
  test/gjs-test-utils.h
  tools/gjs-private-iwyu.imp
  tools/process_iwyu.py
Due: cppcheck, cpplint, pch_check

tests: Update error messages
  installed-tests/debugger/sourcemap-inlined-module.debugger.output
  installed-tests/debugger/sourcemap-inlined.debugger.output
  installed-tests/debugger/sourcemap-separate-module.debugger.output
  installed-tests/debugger/sourcemap-separate.debugger.output
Due: none

mozjs-140: Implement GjsContextPrivate::getHostDefinedData instead of getIncumbentGlobal
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint, pch_check

error: Make Error.isError work on GErrors
  gi/gerror.cpp
  gi/gerror.h
  gjs/engine.cpp
  installed-tests/js/testExceptions.js
Due: cppcheck, cpplint, eslint, pch_check

docs: Update docs for mozjs140
  README.MSVC.md
  doc/Hacking.md
  gjs/profiler.cpp
Due: cppcheck, cpplint, pch_check

mozjs-140: Adapt for JS::Heap::address rename to unsafeAddress
  gi/boxed.h
Due: cppcheck, cpplint, pch_check

mozjs-140: Initialize the codeForEvalGets field for JSSecurityCallbacks
  gjs/engine.cpp
Due: cppcheck, cpplint, pch_check

debugger, system: Explicitly report uncatchable exception
  doc/Understanding-SpiderMonkey-code.md
  gjs/debugger.cpp
  modules/system.cpp
Due: cppcheck, cpplint, pch_check

build: Build with mozjs140
  .gitlab-ci.yml
  meson.build
  tools/run_iwyu.sh
Due: none

object: Use JS::NewObjectWithStashedPointer instead of SimpleWrapper
  gi/object.cpp
  gjs/gjs_pch.hh
  gjs/jsapi-simple-wrapper.cpp
  gjs/jsapi-simple-wrapper.h
  meson.build
  test/gjs-test-jsapi-utils.cpp
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint, pch_check

mozjs-140: Use JS::EnvironmentChain for scope_chain
  gjs/context.cpp
  gjs/gjs_pch.hh
  gjs/module.cpp
Due: cppcheck, cpplint, pch_check

GLib: Use new symmetric difference Set method
  modules/core/overrides/GLib.js
Due: eslint

release: Write changelog for mozjs140
  NEWS
Due: none

release: Prepare for 1.85.2
  NEWS
  meson.build
Due: none

testGtk4Warnings: use opengl renderer The CI servers seem to have issues with the vulkan renderer. Set the test environment to use opengl instead. Fixes https://gitlab.gnome.org/GNOME/gjs/-/issues/698
  installed-tests/meson.build
  meson.build
Due: none

arg: genericize zero terminated struct handling
  gi/arg.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint, pch_check

arg: do not rely on pointer size for enum width
  gi/arg.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint, pch_check

gi/info.h: Rename CALLBACK to GJS_CALLBACK
  gi/arg-cache.cpp
  gi/info.h
Due: cppcheck, cpplint, pch_check

gi/info.h: Drop the constexpr from gtype_funcs
  gi/info.h
Due: cppcheck, cpplint, pch_check

libgjs-private: Port gjs_set_thread_locale() for Windows
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
Due: cppcheck, cpplint, pch_check

README.MSVC.md: Update Visual Studio build info
  README.MSVC.md
Due: none

arg: validate utf8 from C value
  gi/arg-cache.cpp
  gi/js-value-inl.h
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint, pch_check

cleanup: Remove dead code using older GLib
  gi/ns.cpp
  gi/repo.cpp
  gjs/console.cpp
  gjs/promise.cpp
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
Due: cppcheck, cpplint, pch_check

overrides/Gio: Use print's warnDeprecatedOncePerCallsite to warn
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: eslint

Add JS API wrapping warn_deprecated_once_per_callsite
  modules/print.cpp
Due: cppcheck, cpplint, pch_check

overrides/Gio: Add wrappers for platform-specific Gio functions
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: eslint

installed-tests/testGDBus: Remove compatibility code for older GLib
  installed-tests/js/testGDBus.js
Due: eslint

gi/repo: Do not manual loading of platform-specific Gio namespace
  gi/repo.cpp
Due: cppcheck, cpplint, pch_check

Update g-i-tests
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testRegress.js
Due: eslint

test: Fix async test to be actually async
  installed-tests/js/testRegress.js
Due: eslint

CI: Stop building mozjs128 images
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

uri: set G_URI_FLAGS_ENCODED flag
  gjs/internal.cpp
  installed-tests/scripts/testCommandLine.sh
Due: cppcheck, cpplint, pch_check

CI: Install IWYU, rather than building it
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

GObject: Remove check on GObject.BindingGroup
  modules/core/overrides/GObject.js
Due: eslint

release: Prepare for 1.85.90
  NEWS
  meson.build
Due: none

CI: Update stale lcov URL
  tools/lcovrc
Due: none

CI: Update lcov ignore files
  tools/run_coverage.sh
Due: none

CI: Make necessary changes for GLib-as-subproject
  .gitlab-ci.yml
  tools/lcovrc
  tools/run_coverage.sh
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
