Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js

arg: Save exception state when releasing an array
  gi/arg.cpp
Due: cppcheck, cpplint

fundamental: Fix FundamentalPrototype counter
  gi/fundamental.cpp
Due: cppcheck, cpplint

tests: Don't use g_assert and g_assert_not_reached in tests
  test/gjs-test-call-args.cpp
  test/gjs-test-coverage.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint

release: Prepare for 1.58.8
  NEWS
Due: none

arg: Don't sink GClosure ref if it's a return value
  gi/arg.cpp
  gi/function.cpp
Due: cppcheck, cpplint

tests: Use memory GSettings backend
  meson.build
Due: none

overrides/Gtk: Adjust gtk_container_child_set_property() check
  modules/core/overrides/Gtk.js
Due: eslint

js: Replace trimLeft and trimRight with trimStart and trimEnd
  modules/core/overrides/GLib.js
  modules/script/_bootstrap/debugger.js
Due: eslint

param: Use GParamSpec as the private pointer
  gi/param.cpp
Due: cppcheck, cpplint

cairo: Use cairo_t as the private pointer for Cairo.Context
  modules/cairo-context.cpp
Due: cppcheck, cpplint

cairo: Use cairo_path_t as the private pointer for Cairo.Path
  modules/cairo-path.cpp
Due: cppcheck, cpplint

cairo: Use cairo_pattern_t as the private pointer for Cairo.Pattern
  modules/cairo-linear-gradient.cpp
  modules/cairo-pattern.cpp
  modules/cairo-private.h
  modules/cairo-radial-gradient.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
Due: cppcheck, cpplint

cairo: Use cairo_region_t as the private pointer for Cairo.Region
  modules/cairo-region.cpp
Due: cppcheck, cpplint

cairo: Use cairo_surface_t as the private pointer for Cairo.Surface
  modules/cairo-image-surface.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-private.h
  modules/cairo-ps-surface.cpp
  modules/cairo-surface.cpp
  modules/cairo-svg-surface.cpp
Due: cppcheck, cpplint

release: Prepare for 1.64.3
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

release: Prepare for 1.65.3
  NEWS
Due: none

arg.cpp: Add required messages for static_assert
  gi/arg.cpp
  meson.build
Due: cppcheck, cpplint

CI: Pin new version of build image
  .gitlab-ci.yml
Due: none

tests: Adapt to GTK4 API changes
  installed-tests/js/testGtk4.js
Due: eslint

global: Enable class fields.
  gjs/global.cpp
Due: cppcheck, cpplint

CI: Add include-what-you-use to the debug CI image
  .gitlab-ci.yml
  test/extra/Dockerfile.debug
Due: none

CI: Always run IWYU with python3
  tools/run_iwyu.sh
Due: none

CI: Only setup the builddir in run_iwyu
  tools/run_iwyu.sh
Due: none

CI: Refresh index before running git-diff-index
  tools/run_iwyu.sh
Due: none

CI: Fix exit code of IWYU script
  tools/process_iwyu.py
  tools/run_iwyu.sh
Due: none

importer: Fix includes
  gjs/importer.cpp
Due: cppcheck, cpplint

CI: Add iwyu jobs
  .gitlab-ci.yml
Due: none

Switch to maintained lint-condo image.
  .gitlab-ci.yml
Due: none

examples: add GListModel implementation
  examples/glistmodel.js
Due: eslint

Update dangling comma eslint rule. - In ESLint v6, dangling commas on functions are now linted.
  .eslintrc.yml
  examples/gtk-application.js
  installed-tests/js/testTweener.js
Due: eslint

function: Only get function name if we actually warn
  gi/function.cpp
Due: cppcheck, cpplint

build: Remove JSTracer forward declaration from IWYU processing
  gi/closure.h
  tools/process_iwyu.py
Due: cppcheck, cpplint

args: Fix missing include
  gjs/jsapi-util-args.h
Due: cppcheck, cpplint

test: Mark that g_assertion_message() does not normally return
  test/gjs-test-call-args.cpp
  test/gjs-test-common.cpp
  test/gjs-test-coverage.cpp
  test/gjs-test-rooting.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint

modules: Split print functions into native module.
  gjs/global.cpp
  meson.build
  modules/modules.cpp
  modules/print.cpp
  modules/print.h
  modules/script/_bootstrap/.eslintrc.yml
  modules/script/_bootstrap/debugger.js
  modules/script/_bootstrap/default.js
  tools/run_iwyu.sh
Due: cppcheck, cpplint, eslint
