Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: ewlsh/lint-condo
  stage: source_check
  script:
  - node /usr/src/lint-condo

CI: Remove GJS_GLOBAL_SLOT_PROTOTYPE_* from IWYU overrides list
  tools/gjs-private-iwyu.imp
Due: none

CI: Update IWYU includes
  modules/print.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint

utils-inl: Use constexpr checks for int-to-pointer conversions
  gi/utils-inl.h
Due: cppcheck, cpplint

arg: Use if constexpr instead of std::enable_if when possible
  gi/arg-inl.h
Due: cppcheck, cpplint

arg: Use if constexpr to return the argument member
  gi/arg-inl.h
Due: cppcheck, cpplint

arg: Use if constexpr to simplify boolean specializations on set
  gi/arg-inl.h
Due: cppcheck, cpplint

arg-cache: Associate callback closure with instance object
  gi/arg-cache.cpp
Due: cppcheck, cpplint

coverage: Treat coverage prefix as absolute path
  gjs/coverage.cpp
  installed-tests/scripts/testCommandLine.sh
Due: cppcheck, cpplint

build: Build with mozjs78
  meson.build
Due: none

debugger: Remove Debugger.enabled property
  modules/script/_bootstrap/debugger.js
Due: eslint

js: Update header includes for SpiderMonkey 78
  gi/fundamental.cpp
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-string.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint

global: Allow uneval() in debugger global
  gjs/global.cpp
Due: cppcheck, cpplint

js: Fix up declarations of mozilla::DefaultHasher
  gi/boxed.h
  gjs/context-private.h
Due: cppcheck, cpplint

jsapi-util-string: Remove JSFlatString
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

js: Remove JSREPORT_ERROR and JSREPORT_WARNING
  gjs/jsapi-util-error.cpp
  modules/console.cpp
Due: cppcheck, cpplint

js: Refactor Array-related JSAPI calls.
  gi/arg.cpp
  gi/boxed.cpp
  gi/closure.cpp
  gi/function.cpp
  gi/gerror.cpp
  gi/gobject.cpp
  gi/private.cpp
  gi/value.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/importer.cpp
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-error.cpp
  gjs/jsapi-util.cpp
  modules/cairo-context.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint

js: Various API renames and adjustments
  gjs/atoms.cpp
  gjs/coverage.cpp
  gjs/engine.cpp
  gjs/global.cpp
  gjs/jsapi-util-root.h
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

wrapperutils: Be stricter about having a prototype with correct JSClass
  gi/wrapperutils.h
Due: cppcheck, cpplint

docs: Update documentation for SpiderMonkey 78
  NEWS
  README.MSVC.md
  doc/Hacking.md
  doc/Home.md
  meson.build
Due: none

console: Adapt to new JS::PrintError API.
  modules/console.cpp
Due: cppcheck, cpplint

tests: Fix specifics in tests to match SpiderMonkey 78 output
  test/gjs-test-call-args.cpp
  test/gjs-test-coverage.cpp
Due: cppcheck, cpplint

jsapi-util: Remove js::Jsvalify.
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

CI: Update CI images to mozjs78
  .gitlab-ci.yml
Due: none

engine: Update hook signatures.
  gjs/engine.cpp
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint

valgrind: Update valgrind file for SpiderMonkey 78
  installed-tests/extra/gjs.supp
Due: none

coverage: Enable coverage before creating GjsContext
  NEWS
  gjs/console.cpp
  gjs/coverage.cpp
  gjs/coverage.h
  installed-tests/minijasmine.cpp
  test/gjs-test-coverage.cpp
Due: cppcheck, cpplint

release: Prepare for 1.65.90
  NEWS
Due: none

gdbus-wrapper: support multiple bus connections
  libgjs-private/gjs-gdbus-wrapper.c
Due: cppcheck, cpplint

context: Clear toggle queue whenever a GC is scheduled
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint

eslint: Bump ecmaScript version
  .eslintrc.yml
Due: eslint

Documentation: add documentation for ENV variables
  doc/Environment.md
Due: none

meson: Fix Windows builds against mozjs-78 and later
  installed-tests/js/meson.build
  installed-tests/meson.build
  meson.build
  meson_options.txt
Due: none

arg-cache.h: Fix building on clang-cl
  gi/arg-cache.h
Due: cppcheck, cpplint

README.MSVC.md: Update instructions on Windows/MSVC builds
  README.MSVC.md
Due: none

arg-cache: Don't set always the array length to an ulong in little endian
  gi/arg-cache.cpp
Due: cppcheck, cpplint

arg-cache: Fail in case we try to set an unsupported array length type
  gi/arg-cache.cpp
Due: cppcheck, cpplint

arg-cache: Always use an unsigned int mask for flags
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint

Remove potential use-after-free data corruption in ByteArray.toString.
  gjs/byteArray.cpp
Due: cppcheck, cpplint

Prevent unimplemented vfuncs from crashing.
  gi/function.cpp
Due: cppcheck, cpplint

arg-inl: Use more constexpr functions and constexpr checks
  gi/arg-inl.h
Due: cppcheck, cpplint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
