Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh

Instrument Object::prop_setter
  gi/object.cpp
Due: cpplint, headers_check

GObject: Remove interface generic functions
  NEWS
  installed-tests/js/testGObjectInterface.js
  modules/core/overrides/GObject.js
Due: eslint

test: Remove unused code
  installed-tests/js/testTweener.js
Due: eslint

tests: Remove leftover console.log in tests from debugging
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testRegress.js
Due: eslint

gdbus: Use g_strcmp0 for null check
  libgjs-private/gjs-gdbus-wrapper.c
Due: headers_check

tweener: Remove obsolete TODO comment
  modules/script/tweener/tweener.js
Due: eslint

maint: Typecheck Lang test and add partial types for Lang module
  installed-tests/js/testLang.js
  modules/script/lang.d.ts
  tsconfig.json
  types/gjs.d.ts
Due: eslint, typecheck

maint: Typecheck Jasmine custom matchers file
  installed-tests/js/matchers.js
  tsconfig.json
Due: eslint, typecheck

GObject: Use Object.hasOwn in a few places
  modules/core/overrides/GObject.js
Due: eslint

GLib: Use slice to copy array
  modules/core/overrides/GLib.js
Due: eslint

arg: Factor out function for supported GHashTable key types
  gi/arg.cpp
  gi/gi-utils.h
Due: cpplint, headers_check

maint: Enable type-checking of TypeScript declaration files
  modules/internal/environment.d.ts
  tsconfig.json
Due: typecheck

GObject: Assign GObject.Value override after creating it
  modules/core/overrides/GObject.js
Due: eslint

maint: Typecheck Tweener test and add tentative types for Tweener module
  installed-tests/js/testTweener.js
  modules/esm/console.js
  modules/script/signals.d.ts
  modules/script/tweener/tweener.d.ts
  tools/eslint.config.js
  tsconfig.json
  types/gjs.d.ts
Due: eslint, typecheck

test: Avoid using __lookupGetter__/__lookupSetter__
  installed-tests/js/testLang.js
Due: eslint

GObject: Set class property symbols only once
  modules/core/overrides/GObject.js
Due: eslint

maint: Update JS modules
  tools/package-lock.json
  tools/package.json
Due: typecheck

object: Remove unused return value of associate_closure()
  gi/arg-cache.cpp
  gi/object.cpp
  gi/object.h
  gi/private.cpp
Due: cpplint, headers_check

tests: Use Promise.withResolvers()
  installed-tests/js/testTimers.js
Due: eslint

tests: Add missing argument to FinalizationRegistry.register
  installed-tests/js/testWeakRef.js
Due: eslint

maint: Typecheck Package test and add types for Package module
  modules/script/package.d.ts
  tsconfig.json
  types/gjs.d.ts
Due: typecheck

maint: Start typechecking Jasmine tests
  installed-tests/js/testself.js
  tools/package-lock.json
  tools/package.json
  tsconfig.json
Due: eslint, typecheck

tests: Use idle_add_once/timeout_add_once/timeout_add_seconds_once
  installed-tests/js/minijasmine-executor.js
  installed-tests/js/testAsyncMainloop.js
  installed-tests/js/testGDBus.js
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testGObjectDestructionAccess.js
  installed-tests/js/testGObjectInterface.js
  installed-tests/js/testGtk3.js
  installed-tests/js/testGtk4.js
  installed-tests/js/testIntrospection.js
  installed-tests/js/testLegacyGObject.js
  installed-tests/js/testLegacyGtk.js
  installed-tests/js/testPromise.js
  installed-tests/scripts/testCommandLine.sh
  installed-tests/scripts/testGtk4Warnings.sh
Due: eslint

maint: Typecheck global objects test
  installed-tests/js/testGlobal.js
  tools/eslint.config.js
  tsconfig.json
  types/gjs.d.ts
Due: eslint, typecheck

maint: Use pragma once in public headers
  gjs/context.h
  gjs/coverage.h
  gjs/error-types.h
  gjs/gjs.h
  gjs/macros.h
  gjs/mem.h
  gjs/profiler.h
Due: cpplint, headers_check

object: Factor out function for supported GObject field types
  gi/gi-utils.h
  gi/object.cpp
Due: cpplint, headers_check

gdbus-wrapper: Modernize GObject property class init code
  gjs/context.cpp
  gjs/coverage.cpp
  libgjs-private/gjs-gdbus-wrapper.c
Due: cpplint, headers_check

heapgraph: Handle "<unknown object>"
  tools/heapdot.py
  tools/heapgraph.py
Due: none

maint: Typecheck Mainloop test and add partial types for Mainloop module
  installed-tests/js/testMainloop.js
  modules/script/mainloop.d.ts
  tsconfig.json
  types/gjs.d.ts
Due: eslint, typecheck

maint: Iterate over property descriptors instead of names
  modules/core/overrides/GObject.js
  modules/esm/console.js
  modules/script/_legacy.js
Due: eslint

maint: Fix code coverage report generation
  tools/run_coverage.sh
Due: none

tests: Add missing argument to charCodeAt
  installed-tests/js/testGLib.js
  installed-tests/js/testRegress.js
Due: eslint

GLib: Remove unnecessary args spread parameter
  modules/core/overrides/GLib.js
Due: eslint

test: Add regression test for WeakRef working with GObjects
  installed-tests/js/testWeakRef.js
Due: eslint

GLib: Handle BigInt in strstr_len() and strrstr_len()
  installed-tests/js/testGLib.js
  modules/core/overrides/GLib.js
Due: eslint

tweener: Remove _init() stuff
  modules/script/tweener/tweener.js
Due: eslint

mem: Move estimate_size_of_gdkpixbuf to private header
  gi/object.cpp
  gjs/mem-private.h
  gjs/mem.h
Due: cpplint, headers_check

maint: Properly return SOURCE_CONTINUE/REMOVE from source functions
  installed-tests/js/testGLib.js
  modules/script/tweener/tweener.js
Due: eslint

GObject: Expose GObject.GTypeFlags symbol
  installed-tests/js/testGObjectClass.js
  modules/core/overrides/GObject.js
Due: eslint

Gio: Avoid repeated lookup in array
  modules/core/overrides/Gio.js
Due: eslint
