Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: node:12
  stage: source_check
  script:
  - ./tools/run_eslint.sh

debugger: Make '$$' mean the last value
  installed-tests/debugger/lastvalues.debugger
  installed-tests/debugger/lastvalues.debugger.js
  installed-tests/debugger/lastvalues.debugger.output
  installed-tests/meson.build
  modules/script/_bootstrap/debugger.js
Due: eslint

ci: When finding common ancestors use source branch or commit branch.
  test/test-ci.sh
Due: none

Revert "Merge branch 'ewlsh/fix-ci' into 'master'"
  test/test-ci.sh
Due: none

fix readline build on certain systems
  meson.build
Due: none

Fix label formatting.
  gi/repo.cpp
Due: cppcheck, cpplint

Use explicit types instead of auto
  gjs/global.cpp
Due: cppcheck, cpplint

Assert when trying to define properties on wrong global type
  gjs/global.cpp
Due: cppcheck, cpplint

Add native registry for GI modules.
  gi/repo.cpp
  gjs/global.cpp
  gjs/global.h
  gjs/importer.cpp
  gjs/module.cpp
  gjs/module.h
Due: cppcheck, cpplint

jsapi-util: Remove const T* get() overload of GjsAutoPointer
  gjs/jsapi-util.h
Due: cppcheck, cpplint

CI: Remove JHBuild line from CI script
  test/test-ci.sh
Due: none

gtype: Remove gjs_typecheck_gtype()
  gi/gtype.cpp
  gi/gtype.h
  gi/private.cpp
Due: cppcheck, cpplint

arg: Remove unnecessary forward declaration
  gi/arg.cpp
Due: cppcheck, cpplint

gi: Remove unused destructors
  gi/boxed.h
  gi/fundamental.h
  gi/gerror.h
  gi/interface.h
  gi/union.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

CI: Remove unnecessary ninja invocation from coverage
  tools/run_coverage.sh
Due: none

CI: Install sysprof from package instead of building it
  test/extra/Dockerfile.debug
Due: none

CI: Ignore subprojects in coverage reports
  tools/run_coverage.sh
Due: none

jsapi-util: Change CallArgs parameter to const reference
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
Due: cppcheck, cpplint

wrapperutils: Make static constexpr members uppercase
  gi/boxed.h
  gi/fundamental.h
  gi/gerror.h
  gi/interface.h
  gi/object.h
  gi/union.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

test: Silence self-assignment clang warning in a more idiomatic way
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

test: Use g_assert_{true,false} in unit tests instead of g_assert
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

wrapperutils: Remove to_string_kind()
  gi/boxed.h
  gi/fundamental.h
  gi/interface.h
  gi/object.cpp
  gi/object.h
  gi/union.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

arg: Only accept object in gjs_object_to_g_hash()
  gi/arg.cpp
Due: cppcheck, cpplint

doc: Update style guide to include SPDX comments
  doc/CPP_Style_Guide.md
Due: none

CI: Generate compile database without running Meson
  .gitlab-ci.yml
  tools/run_cppcheck.sh
  tools/run_iwyu.sh
Due: none

doc: Update style guide with advice about g_assert()
  doc/CPP_Style_Guide.md
Due: none

build: Require gobject-introspection 1.66.0
  gi/arg.cpp
  installed-tests/js/testGIMarshalling.js
  libgjs-private/gjs-util.c
  meson.build
Due: cppcheck, cpplint, eslint

NEWS: Fix issues found by codespell
  NEWS
Due: none

.gitlab-ci.yml: Also check NEWS file
  .gitlab-ci.yml
Due: none

wrapperutils: Really make debug methods no-ops if compiled out
  gi/wrapperutils.h
Due: cppcheck, cpplint

docs: Avoid confusing term "checkout directory"
  doc/Hacking.md
Due: none

CI: Fix stdint.h IWYU workaround
  tools/process_iwyu.py
Due: none

context: Remove JSAPI annotation from GjsContextPrivate::eval()
  gjs/context-private.h
Due: cppcheck, cpplint

CI: Fix cut off stack traces in sanitizer jobs
  meson.build
Due: none

CI: Fix getting the upstream base
  test/test-ci.sh
Due: none

function: Use std::string for building the function string
  gi/function.cpp
Due: cppcheck, cpplint

js: Use strings and stringstreams instead of GString
  gi/repo.cpp
  gi/wrapperutils.cpp
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  modules/console.cpp
  modules/print.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint

testGIMarshalling: Expand test coverage for flags
  installed-tests/js/testGIMarshalling.js
Due: eslint

build: Require g-i 1.66.1 for tests
  meson.build
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
