Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

typecheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_typecheck.sh --version
  - ./tools/run_typecheck.sh

headers_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - env SELFTEST=1 test/check-headers.sh
  - test/check-pch.sh
  - test/check-headers.sh

profiler: Write last value of memory counters
  gjs/profiler.cpp
Due: cpplint, headers_check

Cairo/text path
  installed-tests/js/testCairo.js
  modules/cairo-context.cpp
Due: cpplint, eslint, headers_check

maint: Check for NULL before dereferencing error_out pointer
  gjs/context.cpp
Due: cpplint, headers_check

CI: Remove MOZJS_BUILDDEPS override
  .gitlab-ci.yml
Due: none

CI: Use Fedora 44 as base image
  test/extra/Dockerfile
Due: none

CI: Update pinned Docker image
  .gitlab-ci.yml
Due: none

Gio: Restore old arg order of GjsDBusImplementation::handle-method-call
  libgjs-private/gjs-gdbus-wrapper.c
  modules/core/overrides/Gio.js
Due: eslint, headers_check

maint: Remove more C-style casts
  gi/arg-cache.cpp
  gi/gobject.cpp
  gi/info.h
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.cpp
  gjs/profiler.cpp
  modules/cairo-image-surface.cpp
Due: cpplint, headers_check

maint: Replace unnecessary typename with auto
  gjs/profiler.cpp
Due: cpplint, headers_check

Update includes for IWYU 0.26 / Clang 22
  gi/cwrapper.h
  gi/enumeration.cpp
  gi/interface.cpp
  gi/ns.cpp
  gi/param.cpp
  gi/struct.cpp
  gi/wrapperutils.h
  gjs/profiler.cpp
  test/gjs-test-utils.h
  tools/process_iwyu.py
Due: cpplint, headers_check

atoms: Merge GjsAtom and GjsSymbolAtom
  gi/private.cpp
  gjs/atoms.cpp
  gjs/atoms.h
  tools/process_iwyu.py
Due: cpplint, headers_check

maint: Remove unnecessary parentheses
  gjs/deprecation.cpp
Due: cpplint, headers_check

maint: Update clang-tidy ignores and rule configurations for Clang 22
  .clang-tidy
  gjs/jsapi-util-error.cpp
  util/log.cpp
Due: cpplint, headers_check

CI: Run clang-static-analyzer on debug build
  .gitlab-ci.yml
Due: none

maint: Use explicit GI::Info constructors when wrapped in Maybe
  gi/object.cpp
  gi/value.cpp
Due: cpplint, headers_check

More accurate memory usage statistics for Cairo and GdkPixbuf types
  gi/cwrapper.h
  gi/object.cpp
  gi/wrapperutils.h
  gjs/mem-private.h
  gjs/mem.cpp
  gjs/mem.h
  installed-tests/js/meson.build
  installed-tests/js/testCairo.js
  installed-tests/js/testGdkPixbuf.js
  meson.build
  modules/cairo-context.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-memory.cpp
  modules/cairo-memory.h
  modules/cairo-pattern.cpp
  modules/cairo-private.h
  modules/cairo-radial-gradient.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-surface.cpp
  modules/cairo-xlib-facade.h
  modules/cairo.cpp
  tools/run_iwyu.sh
Due: cpplint, eslint, headers_check

Fix linter errors
  gjs/mem.cpp
  installed-tests/js/testCairo.js
  installed-tests/js/testGdkPixbuf.js
  modules/cairo-context.cpp
  modules/cairo-memory.cpp
  tools/run_cpplint.sh
Due: cpplint, eslint, headers_check

maint: Replace MAX() and MIN() with std::max() and std::min()
  doc/SpiderMonkey_Memory.md
  gjs/jsapi-util.cpp
  gjs/profiler.cpp
  gjs/stack.cpp
Due: cpplint, headers_check

maint: Ignore subprojects/.wraplock
  .gitignore
Due: none

closure: Remove unused method
  gi/closure.h
Due: cpplint, headers_check

GObject: Fix bug in GObject.Value with flags type
  installed-tests/js/testGObjectValue.js
  modules/core/overrides/GObject.js
Due: eslint

dbus: Indicate that GError pointer is moved
  libgjs-private/gjs-gdbus-wrapper.c
Due: headers_check

Revert "maint: Use explicit GI::Info constructors when wrapped in Maybe"
  gi/object.cpp
  gi/value.cpp
Due: cpplint, headers_check

maint: Custom checks with clang-query syntax
  .clang-tidy
  tools/ctx.sh
  tools/run_clang_tidy.sh
Due: none

object: Make function parameter declaration match definition
  gi/object.h
Due: cpplint, headers_check

dbus: Use G_DEFINE_FINAL_TYPE to match G_DECLARE_FINAL_TYPE
  libgjs-private/gjs-gdbus-wrapper.c
Due: headers_check

installed-tests/testCommandLine: Fix on UTF8-only filesystems
  installed-tests/scripts/testCommandLine.sh
Due: none

Add test for cairo setFontMatrix
  installed-tests/js/testCairo.js
Due: eslint

Add test for cairo getFontMatrix
  installed-tests/js/testCairo.js
Due: eslint

Add cairo setFontMatrix
  modules/cairo-context.cpp
Due: cpplint, headers_check

Add cairo getFontMatrix
  modules/cairo-context.cpp
Due: cpplint, headers_check

CI: Install wat2wasm in Docker image
  test/extra/Dockerfile
Due: none

CI: Update pinned image
  .gitlab-ci.yml
Due: none

Add Tracy to the build system
  meson.build
Due: none

Instrument Object::emit
  gi/object.cpp
Due: cpplint, headers_check

Instrument Closure::invoke
  gi/closure.cpp
Due: cpplint, headers_check

Instrument Function::invoke
  gi/function.cpp
Due: cpplint, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh
