Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: singapore/lint-condo
  stage: source_check
  script:
  - node /usr/src/lint-condo

js: Avoid appending to vectors in a loop
  gi/function.cpp
  gi/object.cpp
  gi/value.cpp
  gjs/importer.cpp
Due: cppcheck, cpplint

function: Merge two ways of invoking constructor from C
  gi/function.cpp
  gi/function.h
  gi/fundamental.cpp
  gi/fundamental.h
  gi/union.cpp
Due: cppcheck, cpplint

function: Ensure either JS or GArgument return value, not both
  gi/function.cpp
Due: cppcheck, cpplint

function: Use JS::CallArgs throughout invocation call chain
  gi/function.cpp
  gi/function.h
  gi/fundamental.cpp
  gi/fundamental.h
  gi/union.cpp
Due: cppcheck, cpplint

mem: Abort if counters are <0 as well as >0
  gjs/mem.cpp
Due: cppcheck, cpplint

CI: Update some Valgrind suppression expressions
  installed-tests/extra/gjs.supp
  meson.build
Due: none

CI: Correctly count errors in script test
  test/test-ci.sh
Due: none

CI: Remove Helgrind suppressions from Valgrind file
  installed-tests/extra/gjs.supp
Due: none

importer: Remove outdated comment
  gjs/importer.cpp
Due: cppcheck, cpplint

fundamental: Fix FundamentalPrototype counter
  gi/fundamental.cpp
Due: cppcheck, cpplint

importer: Remove dead code
  gjs/importer.cpp
Due: cppcheck, cpplint

global: Remove slot for ByteArray prototype
  gjs/global.h
Due: cppcheck, cpplint

function: Improve format_function_name()
  gi/function.cpp
Due: cppcheck, cpplint

arg: Save exception state when releasing an array
  gi/arg.cpp
Due: cppcheck, cpplint

CI: Include all logs in artifacts
  .gitlab-ci.yml
Due: none

fix dead link
  README.md
Due: none

overrides/Gtk: Make GTK4 widgets iteratable
  modules/core/overrides/Gtk.js
Due: eslint

arg: Use c++ templates instead of a macro to generate hashtable keys
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Use a template function to fill gjs array from C vector
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Use a template function to fill gjs array from zero-terminated C vector
  gi/arg.cpp
Due: cppcheck, cpplint

gi/private: Use more modern template functions to define symbol getters
  gi/private.cpp
Due: cppcheck, cpplint

js: Fix header includes according to IWYU
  gi/foreign.h
  gi/function.cpp
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/gjs_gi_trace.h
  gi/gtype.cpp
  gi/interface.h
  gi/object.cpp
  gi/object.h
  gi/private.cpp
  gi/union.h
  gi/wrapperutils.h
  gjs/atoms.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/global.cpp
  gjs/global.h
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  gjs/native.h
  gjs/profiler.cpp
  libgjs-private/gjs-gdbus-wrapper.h
  libgjs-private/gjs-util.c
  modules/cairo-path.cpp
  modules/cairo.cpp
  modules/console.cpp
  test/gjs-test-coverage.cpp
  test/gjs-test-rooting.cpp
  test/gjs-test-utils.h
Due: cppcheck, cpplint

build: Add some smarts to IWYU script
  tools/run_iwyu.sh
Due: none

build: Don't run IWYU if build fails
  tools/run_iwyu.sh
Due: none

build: Use globs in IWYU --check_also argument
  tools/run_iwyu.sh
Due: none

build: Postprocess IWYU output
  tools/process_iwyu.py
  tools/run_iwyu.sh
Due: none

cairo: Use cairo_path_t as the private pointer for Cairo.Path
  modules/cairo-path.cpp
Due: cppcheck, cpplint

cairo: Use cairo_region_t as the private pointer for Cairo.Region
  modules/cairo-region.cpp
Due: cppcheck, cpplint

cairo: Use cairo_surface_t as the private pointer for Cairo.Surface
  modules/cairo-image-surface.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-private.h
  modules/cairo-ps-surface.cpp
  modules/cairo-surface.cpp
  modules/cairo-svg-surface.cpp
Due: cppcheck, cpplint

cairo: Use cairo_pattern_t as the private pointer for Cairo.Pattern
  modules/cairo-linear-gradient.cpp
  modules/cairo-pattern.cpp
  modules/cairo-private.h
  modules/cairo-radial-gradient.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
Due: cppcheck, cpplint

cairo: Use cairo_t as the private pointer for Cairo.Context
  modules/cairo-context.cpp
Due: cppcheck, cpplint

param: Use GParamSpec as the private pointer
  gi/param.cpp
Due: cppcheck, cpplint

function: Associate closure with object after creating trampoline
  gi/function.cpp
  gi/function.h
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

object: Separate closures and vfuncs
  gi/function.cpp
  gi/gobject.cpp
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

arg.cpp: Fix building on Visual Studio
  meson.build
Due: none

context: Switch to CurrentGlobalOrNull in job queue
  gjs/context.cpp
Due: cppcheck, cpplint

global: Fix outdated argument name
  gjs/global.h
Due: cppcheck, cpplint

jsapi-util: Use string vector in gjs_define_string_array
  gjs/context.cpp
  gjs/importer.cpp
  gjs/importer.h
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
Due: cppcheck, cpplint

module: Rename GjsModule -> GjsScriptModule
  gjs/module.cpp
Due: cppcheck, cpplint

build: Post-release version bump
  configure.ac
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js
