Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh

maint: Check for duplicate public/protected/private specifiers
  .clang-tidy
  gi/boxed.h
  gi/object.h
Due: cpplint, headers_check

maint: Check for unnecessary return statements
  .clang-tidy
  gi/arg-cache.cpp
Due: cpplint, headers_check

maint: Check for boolean expressions that can be simplified
  .clang-tidy
  gi/arg.cpp
  gi/enumeration.cpp
  gjs/engine.cpp
  gjs/internal.cpp
Due: cpplint, headers_check

maint: Check for ambiguous smart pointer reset() call
  .clang-tidy
  gjs/jsapi-util-root.h
  gjs/promise.cpp
Due: cpplint, headers_check

maint: Check if member functions can be converted to static functions
  .clang-tidy
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/gerror.cpp
  gi/gerror.h
  gi/object.h
  gi/wrapperutils.h
  gjs/gerror-result.h
  gjs/jsapi-util-root.h
  gjs/objectbox.cpp
Due: cpplint, headers_check

maint: Update includes for IWYU
  test/gjs-test-misc.cpp
  tools/process_iwyu.py
Due: cpplint, headers_check

maint: Use all readability clang-tidy checks except a few
  .clang-tidy
Due: none

cwrapper: Update link for GCC bug
  gi/cwrapper.h
Due: cpplint, headers_check

Fix comment
  gi/closure.cpp
Due: cpplint, headers_check

Gtk: Fix Gtk.Builder override's GType name
  installed-tests/js/testGtk4.js
  modules/core/overrides/Gtk.js
Due: eslint

GLib: Avoid looping through prototype properties in log_structured()
  installed-tests/js/testGLibLogWriter.js
  modules/core/overrides/GLib.js
Due: eslint

boxed: Fix use-after-free in nested struct/union fields that own pointers
  gi/boxed.cpp
  gi/boxed.h
  installed-tests/js/testGIMarshalling.js
Due: cpplint, eslint, headers_check

maint: Enable performance-unnecessary-value-param check
  .clang-tidy
  gi/arg.cpp
  gi/boxed.cpp
  gi/foreign.cpp
  gi/interface.cpp
  gi/interface.h
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  gi/wrapperutils.h
  gjs/global.cpp
Due: cpplint, headers_check

maint: Enable performance-enum-size check
  .clang-tidy
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.cpp
  gi/arg.h
  gi/foreign.cpp
  gi/function.h
  gi/info.h
  gi/js-value-inl.h
  gi/object.h
  gi/toggle.h
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/deprecation.h
  gjs/error-types.h
  gjs/global.h
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-string.cpp
  gjs/profiler-private.h
  gjs/text-encoding.h
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  test/gjs-test-coverage.cpp
  util/log.h
Due: cpplint, headers_check

maint: Enable performance-for-range-copy check
  .clang-tidy
  gi/boxed.cpp
  gi/wrapperutils.cpp
Due: cpplint, headers_check

maint: Enable performance-move-const-arg check
  .clang-tidy
  gi/boxed.cpp
  gi/boxed.h
  gi/info.h
  gi/struct.cpp
  gi/value.h
Due: cpplint, headers_check

maint: Enable all performance clang-tidy checks
  .clang-tidy
Due: none

tests: Add more test coverage for Gtk4 NonTemplateBuilderScope tests
  installed-tests/js/builder-nontemplate.ui
  installed-tests/js/testGtk4.js
Due: eslint

Gtk: Fix lifetime issue with NonTemplateBuilderScope
  installed-tests/js/testGtk4.js
  modules/core/overrides/Gtk.js
Due: eslint

Gtk: Remove unused parameter from GtkBuilder create closure function
  modules/core/_common.js
  modules/core/overrides/Gtk.js
Due: eslint

Use `Gio.bus_unwatch_name` to unwatch a bus name
  examples/dbus-client.js
Due: eslint

Use markdown for examples README
  examples/README.md
Due: none

release: Prepare for 1.87.90
  NEWS
  meson.build
Due: none

info: Remove never-used declarations
  gi/info.h
Due: cpplint, headers_check

function: Remove unnecessary inline lambda
  gi/function.cpp
  gi/function.h
Due: cpplint, headers_check

function: Refactor the end of Function::finish_invoke
  gi/function.cpp
Due: cpplint, headers_check

info: Move methods not directly related to libgirepository
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/gi-utils.h
  gi/info.h
  gi/value.cpp
  meson.build
Due: cpplint, headers_check

boxed: Move simple struct functions into gi-utils
  gi/boxed.cpp
  gi/gi-utils.cpp
  gi/gi-utils.h
  meson.build
Due: cpplint, headers_check

boxed: Move boxed constructor search util into gi-utils
  gi/boxed.cpp
  gi/boxed.h
  gi/gi-utils.cpp
  gi/gi-utils.h
  tools/process_iwyu.py
Due: cpplint, headers_check

enum-utils: Allow chaining | operator
  gjs/enum-utils.h
Due: cpplint, headers_check

maint: Update LSan ignore file
  installed-tests/extra/lsan.supp
Due: none

release: Prepare for 1.88.0
  NEWS
  meson.build
Due: none

Add Cairo font extents
  installed-tests/js/testCairo.js
  modules/cairo-context.cpp
Due: cpplint, eslint, headers_check

maint: Fix linter issue
  installed-tests/js/testCairo.js
Due: eslint

context: dispatch wasm jobs to event loop
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
  gjs/promise.cpp
  gjs/promise.h
Due: cpplint, headers_check

Track memory usage for object prototypes
  gi/object.cpp
  gi/wrapperutils.h
Due: cpplint, headers_check

context: drain promise jobs after each wasm job
  gjs/context.cpp
Due: cpplint, headers_check

chore: remove unused args for CI
  gjs/context.cpp
Due: cpplint, headers_check

tests: add async wasm test
  installed-tests/js/meson.build
  installed-tests/js/testWebAssembly.js
  installed-tests/js/wasm/add.c
  installed-tests/js/wasm/add.wasm
Due: eslint, headers_check
