Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

testGObjectValue: Add tests ensuring we can create GValue's for boxed types
  installed-tests/js/testGObjectValue.js
Due: eslint

fundamental: Also allow to transform a fundamental to a compatible gvalue
  gi/fundamental.cpp
  installed-tests/js/testFundamental.js
Due: cppcheck, cpplint, eslint

testGIMarshalling: Add pending test for object string property
  installed-tests/js/testGIMarshalling.js
Due: eslint

testGObjectValue: Add GValue conversion test for GObject objects
  installed-tests/js/testGObjectValue.js
Due: eslint

arg: Dynamically get the gtype from JS object when none is provided
  gi/arg-cache.cpp
  gi/arg.cpp
  installed-tests/js/testGObjectValue.js
Due: cppcheck, cpplint, eslint

fundamental: Support converting an empty GValue to a null fundamental
  gi/fundamental.cpp
  gi/fundamental.h
  gi/value.cpp
  installed-tests/js/testFundamental.js
Due: cppcheck, cpplint, eslint

testGObjectValue: Add tests setting an instance using a fundamental type
  installed-tests/js/testGObjectValue.js
Due: eslint

closure: Clean up gjs_closure_invoke()
  gi/closure.cpp
  gi/closure.h
  gi/function.cpp
  gi/value.cpp
Due: cppcheck, cpplint

doc: Add simple sysprof example
  doc/Profiling.md
Due: none

jsapi-util-string: Print quotes around strings in gjs_debug_value()
  gjs/jsapi-util-string.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint

gerror: Handle any value when converting thrown value to GError
  gi/function.cpp
  gi/gerror.cpp
  gi/gerror.h
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

jsapi-util-string: Placeholder debug string for BigInt
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

object: Pass the instance pointer to toggle notify
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

object: Switch back to normal references on disposal
  gi/object.cpp
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint

object: Use the term "DISPOSED" for objects in such state, not FINALIZED
  gi/object.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Catch finalized objects that are still under gjs scope
  gi/object.cpp
  gi/object.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Discard disposed GObject's and do not create wrappers for them
  gi/arg.cpp
  gi/function.cpp
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Also unset the object qdata during wrapper destruction
  gi/object.cpp
Due: cppcheck, cpplint

object: Never try to add a toggle reference on a disposed object
  gi/object.cpp
  gi/object.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

gjs-test-tools: Use `g_prefix_error` instead of using that ourself
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
Due: cppcheck, cpplint

toggle: Add utility function to handle all toggles
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
Due: cppcheck, cpplint

toggle: Initialize private variables on construction
  gi/toggle.h
Due: cppcheck, cpplint

object: Improve debugging during wrapping/unwrapping GObject
  gi/object.cpp
Due: cppcheck, cpplint

object: Discard wrapper when GObject is disposed from main thread
  gi/object.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Do not disassociate a JS object if we have queued toggle up
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

installed-tests: Add GjsTestTools utilities to call native code for evil ops
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/libgjstesttools/meson.build
  installed-tests/js/meson.build
  meson.build
Due: cppcheck, cpplint

testGtk3: Ensure that disposed signal callback gets called with valid object
  installed-tests/js/testGtk3.js
Due: eslint

testGObjectDestructionAccess: Verify that disposed object is monitored
  installed-tests/js/testGObjectDestructionAccess.js
Due: eslint

GjsTestTools: Move open_bytes here from GjsPrivate
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGDBus.js
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
Due: cppcheck, cpplint, eslint

testGobjectDestructionAccess: Verify usage of vfunc_dispose
  installed-tests/js/testGObjectDestructionAccess.js
Due: eslint

object: Safely handle disposal when happening from other thread
  gi/object.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Cancel queued toggles on dispose notify
  gi/object.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

testGObjectDestructionAccess: Ensure that disposed wrappers are unbound
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Block access to object only if it is finalized
  gi/object.cpp
  gi/object.h
  installed-tests/js/testGObjectDestructionAccess.js
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint

doc: document shebang for ESModules
  doc/ESModules.md
Due: none

examples: add examples of GtkBuilder templates
  examples/gtk3-template.js
  examples/gtk3-template.ui
  examples/gtk4-template.js
  examples/gtk4-template.ui
Due: eslint

meson.build: Ignore warning C5030 on Visual Studio
  meson.build
Due: none

installed-tests: Fix building libgjstesttools
  installed-tests/js/libgjstesttools/gjs-test-tools.h
Due: cppcheck, cpplint

toggle: Enforce thread-safety using a per-thread spin-lock
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
Due: cppcheck, cpplint
