Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

console: Add --module evaluation option.
  gjs/console.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/context.h
Due: cppcheck, cpplint

esm: Add additional builtin ES modules
  doc/ESModules.md
  doc/Modules.md
  installed-tests/js/.eslintrc.yml
  installed-tests/js/meson.build
  installed-tests/js/testCairoModule.js
  installed-tests/js/testESModules.js
  js.gresource.xml
  modules/esm/cairo.js
  modules/esm/gettext.js
  modules/esm/system.js
Due: eslint

esm: Enable static module imports.
  .reuse/dep5
  doc/ESModules.md
  doc/Modules.md
  gjs/atoms.h
  gjs/context-private.h
  gjs/context.cpp
  gjs/global.cpp
  gjs/global.h
  gjs/internal.cpp
  gjs/internal.h
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  gjs/module.cpp
  gjs/module.h
  installed-tests/js/.eslintrc.yml
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/meson.build
  installed-tests/js/modules/data.txt
  installed-tests/js/modules/exports.js
  installed-tests/js/modules/importmeta.js
  installed-tests/js/testESModules.js
  installed-tests/minijasmine-module.test.in
  installed-tests/scripts/testCommandLine.sh
  js.gresource.xml
  meson.build
  modules/esm/.eslintrc.yml
  modules/esm/gi.js
  modules/internal/.eslintrc.yml
  modules/internal/internalLoader.js
  modules/internal/loader.js
  test/gjs-tests.cpp
  test/mock-js-resources.gresource.xml
  test/modules/.eslintrc.yml
  test/modules/default.js
  test/modules/exit.js
  test/modules/exit0.js
  test/modules/import.js
  test/modules/throws.js
Due: cppcheck, cpplint, eslint

tests: Add -m flag to minijasmine for module execution
  installed-tests/minijasmine.cpp
Due: cppcheck, cpplint

context: Refactor eval start and end code
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint

Update documentation.
  doc/ByteArray.md
  doc/ESModules.md
  doc/Legacy_Imports.md
  doc/Modules.md
  doc/modules/Builtin_Modules.md
  doc/modules/ByteArray.md
  doc/modules/Cairo.md
  doc/modules/Deprecated_Modules.md
  doc/modules/Format.md
  doc/modules/GObject_Introspection.md
  doc/modules/Gettext.md
  doc/modules/System.md
Due: none

esm: Add builtin format module
  doc/ESModules.md
  doc/Modules.md
  js.gresource.xml
  modules/esm/format.js
Due: eslint

objectbox: Support native JSObject GType for signal parameters and properties
  gi/value.cpp
  gjs/context.cpp
  gjs/objectbox.cpp
  gjs/objectbox.h
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testParamSpec.js
  meson.build
  modules/core/overrides/GObject.js
  tools/run_iwyu.sh
Due: cppcheck, cpplint, eslint

objectbox: Keep a vector of wrappers to reuse them
  gjs/objectbox.cpp
  gjs/objectbox.h
  tools/process_iwyu.py
Due: cppcheck, cpplint

Don't run codespell on jasmine.js
  .gitlab-ci.yml
Due: none

format: Add some linter rules and warnings about imports.format
  .eslintrc.yml
  doc/Package/Specification.md
  installed-tests/js/testFormat.js
  modules/script/package.js
Due: eslint

debugger: Handle special return values from Environment.getVariable()
  installed-tests/debugger/backtrace.debugger
  installed-tests/debugger/backtrace.debugger.js
  installed-tests/debugger/backtrace.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

maint: Add reminder to notify release team when bumping dependencies
  meson.build
Due: none

function: Change return value of format_name() to std::string
  gi/function.cpp
Due: cppcheck, cpplint

js: Remove GJS_DEFINE_PRIV_FROM_JS macros
  gjs/jsapi-class.h
Due: cppcheck, cpplint

CI: increase timeout for ASan tests
  .gitlab-ci.yml
Due: none

CI: Apply timeout multiplier to GCC sanitizer job as well as Clang
  .gitlab-ci.yml
Due: none

Add dynamic import support to scripts
  gjs/context.cpp
  gjs/module.cpp
  gjs/module.h
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/modules/dynamic.js
  installed-tests/js/testImporter.js
  modules/internal/loader.js
  test/gjs-tests.cpp
Due: cppcheck, cpplint, eslint

Implement dynamic imports
  gjs/context.cpp
  gjs/global.cpp
  gjs/internal.cpp
  gjs/module.cpp
  gjs/module.h
  installed-tests/js/.eslintrc.yml
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/modules/say.js
  installed-tests/js/testESModules.js
  modules/internal/.eslintrc.yml
  modules/internal/loader.js
Due: cppcheck, cpplint, eslint

Upgrade to Jasmine 3.6.0
  installed-tests/js/jasmine.js
  installed-tests/js/minijasmine.js
  installed-tests/js/testImporter.js
Due: eslint

Implement system.programPath API
  gjs/atoms.h
  gjs/console.cpp
  gjs/context-private.h
  gjs/context.cpp
  installed-tests/js/testSystem.js
  installed-tests/scripts/testCommandLine.sh
  modules/system.cpp
Due: cppcheck, cpplint, eslint

Add list command to debugger
  installed-tests/debugger/list.debugger
  installed-tests/debugger/list.debugger.js
  installed-tests/debugger/list.debugger.output
  installed-tests/meson.build
  modules/script/_bootstrap/debugger.js
Due: eslint

Ensure exit when a closure fails after marshal.
  gi/value.cpp
Due: cppcheck, cpplint

system: Alphabetize list of module properties and add missing
  modules/esm/system.js
Due: eslint

Refactor ARGV handling and add system.programArgs.
  gjs/atoms.h
  gjs/console.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/context.h
  installed-tests/js/testSystem.js
  modules/esm/system.js
  modules/script/_bootstrap/default.js
  modules/system.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint, eslint

function: Compute the array length coherently to what we do in cache
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
Due: cppcheck, cpplint

eslintrc: Add es2020, needed for consider BigInt a valid global
  .eslintrc.yml
Due: eslint

value: Throw more specific error on out-of-range
  gi/value.cpp
Due: cppcheck, cpplint

release: Prepare for 1.67.2
  NEWS
Due: none

GjsPrivate: Fix indentation in function
  libgjs-private/gjs-util.c
Due: cppcheck, cpplint

GjsPrivate: Remove volatile from g_once_init_enter flag
  libgjs-private/gjs-util.c
Due: cppcheck, cpplint

maint: Avoid g_once_init_enter error in GCC 11
  gjs/error-types.cpp
  gjs/objectbox.cpp
  gjs/objectbox.h
Due: cppcheck, cpplint

Add list command to debugger
  installed-tests/debugger/list.debugger
  installed-tests/debugger/list.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

context: Correctly restore idle handler when restoring saved job queue
  gjs/context.cpp
  installed-tests/js/testself.js
Due: cppcheck, cpplint, eslint

engine: Set baseline interpreter to enable_jit
  gjs/engine.cpp
Due: cppcheck, cpplint

console: Catch Ctrl+C in interactive prompt
  modules/console.cpp
Due: cppcheck, cpplint

console: Exit if Ctrl+C pressed twice
  modules/console.cpp
Due: cppcheck, cpplint

Add tests for System.exit in a signal callback.
  installed-tests/scripts/testCommandLine.sh
Due: none

Document how to run without installing
  CONTRIBUTING.md
  doc/Hacking.md
Due: none

tests: Add a hacky test for Gdk.Event in GTK 4
  installed-tests/js/testGtk4.js
Due: eslint
