Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

modules/package: Fix checking interface properties
  modules/script/package.js
Due: eslint

Update GSK_RENDERER environment variable used for tests
  meson.build
Due: none

meson: Use gl renderer for GTK4 tests with gtk 4.19.4
  meson.build
Due: none

Remove .eslintignore
  .eslintignore
Due: eslint

gjs/deprecation: Use a larger deprecation stack for JS invoked requests
  gjs/deprecation.cpp
  gjs/deprecation.h
  installed-tests/js/testGio.js
  modules/print.cpp
Due: cppcheck, cpplint, eslint, pch_check

overrides/Gio: Use Platform prefix for platform-only symbols
  modules/core/overrides/Gio.js
Due: eslint

gi/function: Implement name property for functions
  gi/function.cpp
Due: cppcheck, cpplint, pch_check

overrides/Gio: Use Platform prefix for platform-only functions
  installed-tests/js/testIntrospection.js
  modules/core/overrides/Gio.js
Due: eslint

meson: Use glib subproject typelibs if a subproject is used
  installed-tests/js/meson.build
  meson.build
Due: none

gi/ns: Do not trigger platform-specific warnings from C++ side
  gi/ns.cpp
Due: cppcheck, cpplint, pch_check

overrides/Gio: Enable platform-specific wrappers only on newer GLib
  modules/core/overrides/Gio.js
Due: eslint

jsapi-string-util: fix filename to string error and add test
  gjs/jsapi-util-string.cpp
  installed-tests/scripts/testCommandLine.sh
Due: cppcheck, cpplint, pch_check

heapgraph: Fix regex escape for new Python
  tools/heapdot.py
Due: none

Require GLib 2.86.0
  gi/interface.cpp
  gi/ns.cpp
  gi/object.cpp
  gi/repo.cpp
  gi/repo.h
  gi/value.cpp
  installed-tests/js/testGio.js
  meson.build
  modules/core/overrides/Gio.js
  test/gjs-test-call-args.cpp
  test/gjs-test-common.cpp
  test/gjs-test-coverage.cpp
  test/gjs-test-rooting.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint, eslint, pch_check

tests: Add tests for GLibUnix fallback functionality
  installed-tests/js/testGLib.js
Due: eslint

release: Prepare for 1.86.0
  NEWS
  meson.build
Due: none

Gtk: Allow exposing objects in Gtk.Builder constructor
  installed-tests/js/testGtk4.js
  modules/core/overrides/Gtk.js
Due: eslint

Gtk: Builder constructor overrides in GTK4
  gi/object.h
  installed-tests/js/builder-nontemplate.ui
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/testGtk4.js
  modules/core/overrides/Gtk.js
Due: cppcheck, cpplint, eslint, pch_check

Gtk: Allow access by name on array returned from Gtk.Builder.get_objects
  installed-tests/js/testGtk4.js
  modules/core/overrides/Gtk.js
Due: eslint

Examples from Gtk.build helper
  examples/gtk4-interface.js
  examples/gtk4-interface.ui
Due: eslint

installed-tests/testCommandLine: Use bash to write escaped sequences
  installed-tests/scripts/testCommandLine.sh
Due: none

tests: Fix Regress.FooBUnion test
  installed-tests/js/testRegress.js
Due: eslint

gi: Use GI async APIs to promisify all async functions
  gi/arg-cache.cpp
  gi/function.cpp
  gi/function.h
  gi/info.h
  installed-tests/js/testGDBus.js
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: cppcheck, cpplint, eslint, pch_check

tests: Test GObject CONSTRUCT_ONLY props both in strict and sloppy mode
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/modules/sloppy.js
  installed-tests/js/testGObjectClass.js
Due: eslint

maint: Update IWYU mapping file
  tools/gjs-private-iwyu.imp
Due: none

result: Remove copy constructor from AutoError
  gjs/gerror-result.h
Due: cppcheck, cpplint, pch_check

docs: Remove dead link
  doc/Custom-GSources.md
Due: none

tests: Check negative case for Error.isError()
  installed-tests/js/testExceptions.js
Due: eslint

tests: Convert tests to ES modules
  installed-tests/js/meson.build
  installed-tests/js/testCairo.js
  installed-tests/js/testExceptions.js
  installed-tests/js/testFundamental.js
  installed-tests/js/testGDBus.js
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGLib.js
  installed-tests/js/testGObject.js
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testGObjectDestructionAccess.js
  installed-tests/js/testGObjectInterface.js
  installed-tests/js/testGObjectValue.js
  installed-tests/js/testGTypeClass.js
  installed-tests/js/testGettext.js
  installed-tests/js/testGio.js
  installed-tests/js/testGtk3.js
  installed-tests/js/testGtk4.js
  installed-tests/js/testIntrospection.js
  installed-tests/js/testLegacyCairo.js
  installed-tests/js/testNamespace.js
  installed-tests/js/testOverrides.js
  installed-tests/js/testParamSpec.js
  installed-tests/js/testPrint.js
  installed-tests/js/testPromise.js
  installed-tests/js/testRegress.js
  installed-tests/js/testSystem.js
  installed-tests/js/testWarnLib.js
  installed-tests/minijasmine-legacy-importer.test.in
  installed-tests/minijasmine-module.test.in
  installed-tests/minijasmine.test.in
  tools/eslint.config.js
Due: eslint

tests: Update pending tests
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGLib.js
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testGObjectDestructionAccess.js
  installed-tests/js/testGtk4.js
  installed-tests/js/testRegress.js
Due: eslint

maint: Add no-prototype-builtins eslint rule
  modules/core/overrides/GObject.js
  tools/eslint.config.js
Due: eslint

maint: Update typescript to 5.9
  tools/package-lock.json
  tools/package.json
Due: none

maint: Update eslint to 9.x
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testGObjectDestructionAccess.js
  installed-tests/js/testGTypeClass.js
  installed-tests/js/testMainloop.js
  modules/core/overrides/Gio.js
  modules/internal/internalLoader.js
  modules/internal/loader.js
  modules/script/mainloop.js
  modules/script/package.js
  tools/package-lock.json
  tools/package.json
Due: eslint

maint: Ignore subprojects in eslint
  tools/eslint.config.js
Due: eslint

maint: Update package-lock.json to address security issues
  tools/package-lock.json
Due: none

tests: Update gobject-introspection-tests
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testRegress.js
Due: eslint

build: Remove unused substitution
  installed-tests/script.test.in
Due: none

arg: Validate UTF-8 being passed to JS when not directly returned
  gi/arg-cache.cpp
  gi/arg.cpp
  installed-tests/js/testRegress.js
Due: cppcheck, cpplint, eslint, pch_check

maint: Bring back eslint rules lost in the conversion to flat config
  tools/eslint.config.js
Due: eslint

maint: Remove eslint-plugin-jsdoc dependency
  tools/package-lock.json
  tools/package.json
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
