Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh

print: Fix typo in error message
  modules/print.cpp
Due: cpplint, headers_check

GLib: Handle case where GVariant type string is too short
  installed-tests/js/testGLib.js
  modules/core/overrides/GLib.js
Due: eslint

chore: no ignore cache
  .gitignore
Due: none

feat: add initial inspector
  modules/script/_bootstrap/inspector.js
  test.js
  tools/dap-test.py
Due: eslint

feat: load the inspector file
  gjs/console.cpp
  gjs/context.h
  gjs/debugger.cpp
  js.gresource.xml
  modules/script/_bootstrap/inspector.js
Due: cpplint, eslint, headers_check

chore: ignore more files
  .gitignore
Due: none

feat: basics
  doc/Debugging.md
  modules/script/_bootstrap/inspector.js
  tools/dap-test.py
Due: eslint

feat: add full support for events
  modules/script/_bootstrap/inspector.js
  test.js
  tools/dap-test.py
Due: eslint

chore: change inspector
  modules/script/_bootstrap/inspector.js
Due: eslint

Improve the error message in run_iwyu.sh when the iwyu tool is not installed
  tools/run_iwyu.sh
Due: none

More accurate memory usage statistics for GBytes type
  gi/boxed.cpp
  gi/struct.cpp
  gi/struct.h
  gi/wrapperutils.h
Due: cpplint, headers_check

overrides/Gtk: Support add_binding*() class methods
  installed-tests/js/testGtk4.js
  modules/core/overrides/Gtk.js
Due: eslint

gi/info.h: Fix array declaration with G-I functions
  gi/info.h
Due: cpplint, headers_check

gi/info.h: Undefine CALLBACK on Windows
  gi/info.h
Due: cpplint, headers_check

gi/value.h: Use std::string_literals namespace
  gi/value.h
Due: cpplint, headers_check

gjs-util.h: Include glib/gi18n.h
  libgjs-private/gjs-util.h
Due: cpplint, headers_check

gjs-util.c: Use setlocale() on Windows
  libgjs-private/gjs-util.c
Due: headers_check

README.MSVC.md: Update build info
  README.MSVC.md
Due: none

value: Keep the signal argument scratch array off the heap
  gi/value.cpp
Due: cpplint, headers_check

function: Avoid heap-allocating small argument arrays
  gi/function.cpp
  gi/function.h
  gi/inline-array.h
  meson.build
Due: cpplint, headers_check

Gio: Restore arguments to Gio.Application.runAsync
  installed-tests/js/testAsyncMainloop.js
  modules/core/overrides/GLib.js
  modules/core/overrides/Gio.js
Due: eslint

build: Pre-release version bump
  meson.build
Due: none

release: Release notes for 1.88.1
  NEWS
Due: none

release: Release notes for 1.89.1
  NEWS
Due: none

tests: Fix linter errors from recent merge requests
  installed-tests/js/testAsyncMainloop.js
  tools/run_iwyu.sh
Due: eslint

maint: Handle 1.9x versions in maintainer-tag-release.sh
  build/maintainer-tag-release.sh
Due: none

info: Separate iterator and iterable classes
  gi/arg.cpp
  gi/boxed.cpp
  gi/gi-utils.cpp
  gi/info.h
  gi/interface.cpp
  gi/ns.cpp
  gi/object.cpp
Due: cpplint, headers_check

Gio: Simplify _addDBusConvenience
  modules/core/overrides/Gio.js
Due: eslint

Gio: Remove unused argument
  modules/core/overrides/Gio.js
Due: eslint

tests: not.toBeUndefined -> toBeDefined
  installed-tests/js/testGio.js
Due: eslint

tests: Fix missing assertion messages
  installed-tests/js/testGio.js
Due: eslint

Gio: Rewrite _makeProxyWrapper as a class expression
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

tests: Fix GLib.LogLevelFlags constant
  installed-tests/js/testConsole.js
  modules/esm/console.js
Due: eslint

tests: Fix faulty expect() invocation
  installed-tests/js/testGio.js
Due: eslint

Gio: Handle strings in File.replace_contents_async
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: eslint

tests: Remove unused arguments
  installed-tests/js/testConsole.js
Due: eslint

tests: Fix changedProps dict usage
  installed-tests/js/testGDBus.js
Due: eslint

Gio: Use internal signals module
  modules/core/overrides/Gio.js
Due: eslint

feat: pass around seq
  .zed/debug.json
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
  tools/dap-test.py
Due: cpplint, eslint, headers_check
