Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cppcheck . -v -f -q -UHAVE_PRINTF_ALTERNATIVE_INT --error-exitcode=1 --inline-suppr --library=gtk,tools/cppcheck.cfg --enable=warning,performance,portability

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
    TASK_ID: cpplint
  when: on_success
  stage: source_check
  script:
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh

context: Move garbage collection handling callback into context
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
Due: cppcheck, cpplint

maint: Fix includes
  gjs/gjs_pch.hh
  gjs/profiler-private.h
Due: cppcheck, cpplint

context: Improve profiling data for garbage collections
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
Due: cppcheck, cpplint

mem: Add index to counter macros
  gjs/mem-private.h
  gjs/mem.cpp
Due: cppcheck, cpplint

system: Add System.dumpMemoryInfo() API
  gjs/atoms.h
  gjs/profiler-private.h
  gjs/profiler.cpp
  installed-tests/js/testSystem.js
  modules/esm/system.js
  modules/system.cpp
Due: cppcheck, cpplint, eslint

profiler: Define sysprof counters for the GObject wrapper counts
  gjs/mem-private.h
  gjs/profiler.cpp
Due: cppcheck, cpplint

ByteArray: Implement ByteArray.toGBytes() in JS
  gjs/byteArray.cpp
  modules/core/overrides/GLib.js
  modules/script/byteArray.js
Due: cppcheck, cpplint, eslint

modules: Support zero-terminated and fixed length encoding.
  gjs/byteArray.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/text-encoding.cpp
  gjs/text-encoding.h
Due: cppcheck, cpplint

modules: Implement fatal TextEncoder and TextDecoder APIs
  .eslintignore
  .eslintrc.yml
  gjs/text-encoding.cpp
  js.gresource.xml
  modules/core/_encodings.js
  modules/core/_text.js
  modules/script/_bootstrap/default.js
Due: cppcheck, cpplint, eslint

modules: Implement single byte encodings
  js.gresource.xml
  modules/core/_singleByteEncodings.js
  modules/core/_text.js
Due: eslint

modules: Add tests for Encoding
  .reuse/dep5
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/meson.build
  installed-tests/js/modules/encodings.json
  installed-tests/js/modules/indexes.json
  installed-tests/js/testEncoding.js
Due: eslint

modules: Implement non-fatal encoding and decoding
  gjs/byteArray.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/text-encoding.cpp
  gjs/text-encoding.h
  modules/core/_text.js
Due: cppcheck, cpplint, eslint

meson: fix version check for precompiled headers
  meson.build
Due: none

Fix race condition in dynamic module resolution.
  modules/internal/loader.js
Due: eslint

Implement implicit mainloop and timer API.
  .eslintrc.yml
  examples/timers.js
  gjs/context-private.h
  gjs/context.cpp
  gjs/internal.cpp
  gjs/mainloop.cpp
  gjs/mainloop.h
  gjs/promise.cpp
  gjs/promise.h
  installed-tests/js/meson.build
  installed-tests/js/minijasmine.js
  installed-tests/js/testMainloop.js
  installed-tests/js/testTimers.js
  js.gresource.xml
  meson.build
  modules/core/.eslintrc.yml
  modules/core/_timers.js
  modules/print.cpp
  modules/script/_bootstrap/default.js
Due: cppcheck, cpplint, eslint

JS_GetClass -> JS::GetClass
  gi/cwrapper.h
  gi/fundamental.cpp
  gi/object.cpp
  gi/repo.cpp
  gjs/importer.cpp
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.cpp
  modules/cairo-pattern.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint

JS_New -> JS::Construct
  doc/SpiderMonkey_Memory.md
  gi/gerror.cpp
  gi/gobject.cpp
  gjs/jsapi-util-error.cpp
Due: cppcheck, cpplint

JS_GetClass -> JS::GetClass
  gi/param.cpp
Due: cppcheck, cpplint

JS_GetPrivate, JS_SetPrivate -> JS::GetPrivate, JS::SetPrivate
  gi/cwrapper.h
  gi/function.cpp
  gi/gtype.cpp
  gi/ns.cpp
  gi/param.cpp
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/module.cpp
  modules/cairo-context.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-surface.cpp
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint

Add TypedData.h header
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/value.cpp
  gjs/byteArray.cpp
Due: cppcheck, cpplint

Typed arrays use size_t instead of uint32_t in mozjs91
  gjs/byteArray.cpp
  gjs/text-encoding.cpp
Due: cppcheck, cpplint

JS_StringHasLatin1Chars -> JS::StringHasLatin1Chars
  gjs/byteArray.cpp
Due: cppcheck, cpplint

Remove JSPROP_GETTER - https://bugzilla.mozilla.org/show_bug.cgi?id=1713083
  gjs/jsapi-dynamic-class.cpp
  modules/system.cpp
Due: cppcheck, cpplint

Add DumpFunctions.h header
  gjs/deprecation.cpp
  gjs/stack.cpp
  modules/system.cpp
Due: cppcheck, cpplint

Adapt to new module and script APIs
  gjs/global.cpp
  gjs/internal.cpp
  gjs/module.cpp
  gjs/module.h
Due: cppcheck, cpplint

Update GC API - https://bugzilla.mozilla.org/show_bug.cgi?id=1686249
  gjs/engine.cpp
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

JS::PrintError no longer takes a JSContext
  modules/console.cpp
Due: cppcheck, cpplint

Update mozjs dependency to 91a1
  meson.build
Due: none

Add js/Object.h
  gi/cwrapper.h
Due: cppcheck, cpplint

Add DumpFunctions.h (again)
  gjs/context.cpp
Due: cppcheck, cpplint

Adapt context to new module APIs
  gjs/context.cpp
Due: cppcheck, cpplint

Adapt to new Maybe-based property descriptor API
  gi/gobject.cpp
  gjs/module.cpp
Due: cppcheck, cpplint

JSID_* macros have been replaced: https://bugzilla.mozilla.org/show_bug.cgi?id=1717279, https://bugzilla.mozilla.org/show_bug.cgi?id=1695736
  gi/boxed.cpp
  gi/ns.cpp
  gi/object.cpp
  gi/object.h
  gi/private.cpp
  gi/repo.cpp
  gjs/importer.cpp
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

Disable Top Level Await for now
  gjs/engine.cpp
Due: cppcheck, cpplint

Mark Context param as unused for now
  modules/console.cpp
Due: cppcheck, cpplint

Add TypeError to Error debugger printer
  installed-tests/debugger/backtrace.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

js/CharacterEncoding.h must be included before js/String.h
  gjs/byteArray.cpp
Due: cppcheck, cpplint

gjs/text-encoding.cpp: Replace strcasecmp with g_ascii_strcasecmp
  gjs/text-encoding.cpp
Due: cppcheck, cpplint

build: Define WIN32_LEAN_AND_MEAN on Windows builds
  gjs/context.cpp
  gjs/engine.cpp
  gjs/importer.cpp
  gjs/jsapi-util.cpp
  meson.build
Due: cppcheck, cpplint

Add CI images for mozjs91.
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
