Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js

testGIMarshalling: Verify vfunc inout parameters are correctly hanled
  installed-tests/js/testGIMarshalling.js
Due: eslint

testGIMarshalling: Don't try to override methods we may not have
  installed-tests/js/testGIMarshalling.js
Due: eslint

testRegress: Always enable tests depending on old MR
  installed-tests/js/testRegress.js
Due: eslint

Fix failed redirect of output in CommandLine tests
  installed-tests/scripts/testCommandLine.sh
Due: none

global: Enable BigInt
  gjs/global.cpp
Due: cppcheck, cpplint

release: Prepare for 1.64.1
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

release: Prepare for 1.65.1
  NEWS
Due: none

build: Use '!=' instead of 'is not' to compare string
  build/symlink-gjs.py
Due: none

function: Don't crash if a callback doesn't return an array of values
  gi/function.cpp
Due: cppcheck, cpplint

testGIMarshalling: Verify that we get errors if vfunc return is unexpected
  installed-tests/js/testGIMarshalling.js
Due: eslint

docs: Fix path to SpiderMonkey GDB utilities
  doc/Hacking.md
Due: none

wrapperutils: Move is_custom_js_class()
  gi/interface.cpp
  gi/object.cpp
  gi/object.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

object: Return early from property resolve if name starts with -
  gi/object.cpp
Due: cppcheck, cpplint

object: Add missing annotation
  gi/object.h
Due: cppcheck, cpplint

object: Fix namespace
  gi/object.cpp
Due: cppcheck, cpplint

object: Readability improvement in is_gobject_property_name()
  gi/object.cpp
Due: cppcheck, cpplint

doc: replace wiki link with documentation links
  README.md
Due: none

doc: fix spelling of GNOME
  doc/Home.md
  doc/Mapping.md
Due: none

doc: add GNOME Books to list of GNOME Applications written in GJS
  doc/Home.md
Due: none

doc: fix link to get SpiderMonkey
  doc/Hacking.md
Due: none

doc: the current stable series is built on mozjs68
  doc/Home.md
Due: none

arg: Factor out determination of GITypeInfo storage type
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Fix GList and GHashTable marshalling on 64-bit big-endian
  gi/arg.cpp
Due: cppcheck, cpplint

jsapi-util: Make log levels of exceptions consistent
  gi/closure.cpp
  gi/function.cpp
  gi/gobject.cpp
  gjs/context.cpp
  gjs/global.cpp
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  installed-tests/js/testExceptions.js
  installed-tests/js/testGIMarshalling.js
  installed-tests/scripts/testCommandLine.sh
Due: cppcheck, cpplint, eslint

arg: Fix GHashTable key marshalling on 64-bit big-endian
  gi/arg.cpp
Due: cppcheck, cpplint

function: Use GIArgument.v_int for enum and flags types
  gi/function.cpp
Due: cppcheck, cpplint

installed-tests: Test both GTK3 and GTK4
  installed-tests/js/complex3.ui
  installed-tests/js/complex4.ui
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/meson.build
  installed-tests/js/testGtk3.js
  installed-tests/js/testGtk4.js
  installed-tests/js/testLegacyGtk.js
  meson.build
Due: eslint

overrides/Gtk: Fix template support with Gtk4
  modules/core/overrides/Gtk.js
Due: eslint

jsapi-util: Fix gjs_log_exception() for InternalError
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

object: Fix signal match mechanism
  gi/closure.cpp
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

GObject: Allow omitting setters and getters
  doc/Mapping.md
  examples/gtk-application.js
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testLegacyGObject.js
  js.gresource.xml
  modules/core/_common.js
  modules/core/overrides/GObject.js
  modules/script/_legacy.js
Due: eslint
