Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

typecheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_typecheck.sh --version
  - ./tools/run_typecheck.sh

headers_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - env SELFTEST=1 test/check-headers.sh
  - test/check-pch.sh
  - test/check-headers.sh

chore: remove unused headers
  gjs/debugger.cpp
Due: cpplint, headers_check

chore: remove dap test py tool
  tools/dap-test.py
Due: none

chore: add licence info to types.d.ts
  modules/script/_bootstrap/types.d.ts
Due: none

chore: add mozilla/Result
  gjs/debugger.cpp
Due: cpplint, headers_check

chore: work around iwyu pragma issue
  gjs/debugger.cpp
Due: cpplint, headers_check

chore: always include gio unix
  meson.build
Due: none

fix: VS Code not expecting a separate /r/n per-request
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

chore: fix invalid frames using 2 as line number instead of 1
  modules/script/_bootstrap/inspector.js
Due: eslint

fix: source request not returning full file content
  modules/script/_bootstrap/inspector.js
Due: eslint

CI: Fix Rust triplet identification
  .gitlab-ci.yml
  test/extra/Dockerfile
Due: none

CI: skip Alpine job in images pipelines
  .gitlab-ci.yml
Due: none

CI: Add mozjs153 CI job
  .gitlab-ci.yml
Due: none

build: Include optional sysprof dependency for gjs-tests
  test/meson.build
Due: none

CI: Run cpplint job on changed .c files as well
  .gitlab-ci.yml
Due: none

CI: Remove "[skip foo]" escape hatches
  .gitlab-ci.yml
Due: none

CI: Convert only:/except: jobs to more modern rules: jobs
  .gitlab-ci.yml
Due: none

build: Include WASM test file in installed-tests GResource
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/meson.build
  installed-tests/js/testWebAssembly.js
  installed-tests/js/wasm/meson.build
Due: eslint

context: dispatch wasm jobs to event loop
  .clang-tidy
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
  gjs/gjs_pch.hh
  gjs/promise.cpp
  gjs/promise.h
  installed-tests/js/meson.build
  installed-tests/js/testWebAssembly.js
  installed-tests/js/wasm/add.wat
  installed-tests/js/wasm/meson.build
  tools/eslint.config.js
Due: cpplint, eslint, headers_check

feat: add initial inspector
  gjs/debugger.cpp
  gjs/gjs_pch.hh
  meson.build
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
  tsconfig.json
Due: cpplint, eslint, typecheck, headers_check

CI: Create TypeScript sub-configuration for bootstrap files
  modules/script/_bootstrap/tsconfig.json
  tools/run_typecheck.sh
  tsconfig.json
Due: typecheck

feat: load the inspector file
  gjs/console.cpp
  gjs/context.h
  gjs/debugger.cpp
  js.gresource.xml
  modules/script/_bootstrap/inspector.js
Due: cpplint, eslint, headers_check

deprecation: Port deprecation message formatter to std::format
  gi/ns.cpp
  gi/object.cpp
  gjs/auto.h
  gjs/byteArray.cpp
  gjs/deprecation.cpp
  gjs/deprecation.h
  gjs/gjs_pch.hh
  gjs/jsapi-util.h
  gjs/module.cpp
  modules/print.cpp
Due: cpplint, headers_check

info: Improve formatters for GI types
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/boxed.cpp
  gi/boxed.h
  gi/enumeration.cpp
  gi/function.cpp
  gi/function.h
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/info.h
  gi/ns.cpp
  gi/object.cpp
  gi/param.cpp
  gi/repo.cpp
  gi/value.cpp
  gi/wrapperutils.cpp
  gi/wrapperutils.h
  gjs/byteArray.cpp
  test/gjs-test-formatters.cpp
Due: cpplint, headers_check

coverage: Replace g_output_stream_printf() with std::format()
  gjs/coverage.cpp
Due: cpplint, headers_check

log: Reimplement gjs_debug() with std::format
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/boxed.cpp
  gi/closure.cpp
  gi/closure.h
  gi/cwrapper.h
  gi/enumeration.cpp
  gi/function.cpp
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/info.h
  gi/ns.cpp
  gi/object.cpp
  gi/param.cpp
  gi/repo.cpp
  gi/toggle.cpp
  gi/value.cpp
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/gjs_pch.hh
  gjs/importer.cpp
  gjs/internal.cpp
  gjs/jsapi-util-error.cpp
  gjs/jsapi-util-root.h
  gjs/jsapi-util.h
  gjs/mainloop.h
  gjs/mem.cpp
  gjs/module.cpp
  gjs/native.cpp
  gjs/objectbox.cpp
  gjs/promise.cpp
  modules/system.cpp
  util/log.cpp
  util/log.h
Due: cpplint, headers_check

arg: Use std::format instead of most std::string concatenations
  gi/arg.cpp
  gi/foreign.cpp
  gi/function.cpp
  gi/object.cpp
  gi/value.h
  gjs/jsapi-util-string.cpp
  gjs/profiler-private.h
  util/misc.cpp
Due: cpplint, headers_check

log: Provide g_log wrappers with std::format
  .clang-tidy
  doc/CPP_Style_Guide.md
  gi/arg-inl.h
  gi/arg.cpp
  gi/foreign.cpp
  gi/function.cpp
  gi/gobject.cpp
  gi/info.h
  gi/js-value-inl.h
  gi/object.cpp
  gi/value.cpp
  gjs/console.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/deprecation.cpp
  gjs/engine.cpp
  gjs/gerror-result.h
  gjs/internal.cpp
  gjs/jsapi-util-error.cpp
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  gjs/mem.cpp
  gjs/native.cpp
  gjs/profiler.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/testGObjectDestructionAccess.js
  installed-tests/js/testGtk3.js
  installed-tests/minijasmine.cpp
  modules/print.cpp
  test/gjs-test-coverage.cpp
  test/gjs-tests.cpp
  util/console.cpp
  util/log.h
Due: cpplint, eslint, headers_check

gerror-result: Provide AutoError constructor with std::format string
  gi/function.cpp
  gi/gerror.cpp
  gi/gerror.h
  gjs/context.cpp
  gjs/gerror-result.h
Due: cpplint, headers_check

maint: Replace usage of g_strdup_printf() with std::format
  gi/function.cpp
  gi/gerror.cpp
  gi/gtype.cpp
  gi/ns.cpp
  gjs/context.cpp
  gjs/global.cpp
  gjs/importer.cpp
  gjs/internal.cpp
  gjs/jsapi-dynamic-class.cpp
  gjs/profiler.cpp
  modules/system.cpp
  util/log.cpp
Due: cpplint, headers_check

maint: Replace g_strconcat() usage with std::format()
  gi/repo.cpp
  gjs/jsapi-dynamic-class.cpp
  test/gjs-test-coverage.cpp
Due: cpplint, headers_check

maint: Replace most usage of stringstreams with std::format
  gi/value.h
  gi/wrapperutils.cpp
  gjs/gjs_pch.hh
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.cpp
Due: cpplint, headers_check

jsapi-util-args: Reimplement ParseArgsResult with std::format
  gjs/jsapi-util-args.h
  test/gjs-test-call-args.cpp
Due: cpplint, headers_check

maint: Replace JS::WarnUTF8() usage with gjs_warning()
  gi/function.cpp
  gi/object.cpp
  gi/repo.cpp
  installed-tests/js/testGObjectClass.js
Due: cpplint, eslint, headers_check

jsapi-util: Use string for gjs_hyphen_to_underscore()
  gi/gobject.cpp
  gi/object.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
Due: cpplint, headers_check

importer: Replace usage of g_str_has_suffix() with string_view
  .clang-tidy
  gjs/importer.cpp
Due: cpplint, headers_check

jsapi-util: Use string_view for gjs_intern_string_to_id()
  gi/boxed.cpp
  gi/object.cpp
  gjs/importer.cpp
  gjs/internal.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
Due: cpplint, headers_check

jsapi-util: Use string_view for gjs_lossy_string_from_utf8()
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/text-encoding.cpp
Due: cpplint, headers_check

maint: Replace usage of g_str_has_prefix with std::string/string_view
  .clang-tidy
  gi/ns.cpp
  gi/object.cpp
  gjs/coverage.cpp
  gjs/jsapi-dynamic-class.cpp
  test/gjs-tests.cpp
Due: cpplint, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh
