Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cppcheck . -v -f -q -UHAVE_PRINTF_ALTERNATIVE_INT --error-exitcode=1 --inline-suppr --library=gtk,tools/cppcheck.cfg --enable=warning,performance,portability

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
    TASK_ID: cpplint
  when: on_success
  stage: source_check
  script:
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh

maint: Use GjsAutoPointer out() method
  gjs/importer.cpp
  gjs/internal.cpp
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

maint: Add links to IWYU bug numbers for false positives
  tools/process_iwyu.py
Due: none

text-encoding: Clarify whitespace-stripped encoding
  gjs/text-encoding.cpp
Due: cppcheck, cpplint

internal: Switch to compiling UTF-8 script directly
  gjs/internal.cpp
Due: cppcheck, cpplint

ns: Expose __version__ property
  gi/ns.cpp
Due: cppcheck, cpplint

modules/internalLoader: Drop version map/check
  modules/internal/loader.js
Due: eslint

esm/gi: Use __version__ property to check for conflicts
  installed-tests/js/testESModules.js
  modules/esm/gi.js
Due: eslint

arg-cache: Handle notified callbacks without destroy
  gi/arg-cache.cpp
  installed-tests/js/testGtk4.js
Due: cppcheck, cpplint, eslint

release: Add NEWS from stable release 1.68.1
  NEWS
Due: none

byteArray: Fix crash with 0-length GLib.Bytes
  gjs/byteArray.cpp
  installed-tests/js/testByteArray.js
Due: cppcheck, cpplint, eslint

byteArray: Fix crash with 0-length string
  gjs/byteArray.cpp
  installed-tests/js/testByteArray.js
Due: cppcheck, cpplint, eslint

subprojects: Use GLib main branch
  subprojects/glib.wrap
Due: none

GObject: Call only setter for JS-defined construct-only properties
  gi/gobject.cpp
Due: cppcheck, cpplint

object: Avoid setting construct properties multiple times
  gi/object.cpp
Due: cppcheck, cpplint

gi: Correctly hold references for gvariant transfer parameters
  gi/boxed.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

Ensure the correct realm is entered in the async executor
  gjs/internal.cpp
Due: cppcheck, cpplint

Fix race condition in dynamic module resolution.
  modules/internal/loader.js
Due: eslint

object: Enqueue toggle ups when the heap is collecting
  gi/object.cpp
Due: cppcheck, cpplint

build: Pre-release version bump
  meson.build
Due: none

release: Prepare for 1.68.2
  NEWS
Due: none

release: Add NEWS from stable release 1.68.2
  NEWS
Due: none

release: Prepare for 1.69.1
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

CI: Codespell fixes
  NEWS
Due: none

Some really rough work on fixing function pointer support
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
  gi/function.h
  log.js
Due: cppcheck, cpplint, eslint

ByteArray: Implement ByteArray.toGBytes() in JS
  gjs/byteArray.cpp
  modules/core/overrides/GLib.js
  modules/script/byteArray.js
Due: cppcheck, cpplint, eslint

examples: improve the gettext example
  examples/gettext.js
Due: eslint

win32: Fix resource-based imports
  gjs/importer.cpp
Due: cppcheck, cpplint

overrides/GLib: Guard Error.new_literal against invalid domains
  installed-tests/js/testExceptions.js
  modules/core/overrides/GLib.js
Due: eslint

modules: Support zero-terminated and fixed length encoding.
  gjs/byteArray.cpp
  gjs/gjs_pch.hh
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/text-encoding.cpp
  gjs/text-encoding.h
Due: cppcheck, cpplint

modules: Implement fatal TextEncoder and TextDecoder APIs
  .eslintignore
  .eslintrc.yml
  gjs/text-encoding.cpp
  js.gresource.xml
  modules/esm/_bootstrap/default.js
  modules/esm/_encoding/encoding.js
  modules/esm/_encoding/encodingMap.js
  modules/esm/_encoding/util.js
Due: cppcheck, cpplint, eslint

modules: Implement non-fatal encoding and decoding
  gjs/byteArray.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/text-encoding.cpp
  gjs/text-encoding.h
  modules/esm/_encoding/encoding.js
Due: cppcheck, cpplint, eslint

modules: Add tests for Encoding
  .reuse/dep5
  installed-tests/js/.eslintrc.yml
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/matchers.js
  installed-tests/js/meson.build
  installed-tests/js/modules/encodings.json
  installed-tests/js/testEncoding.js
  jsconfig.json
Due: eslint

text-encoding.cpp: Fix builds on 64-bit Windows
  gjs/text-encoding.cpp
Due: cppcheck, cpplint

overrides: Implement overrides for structured logging hook
  installed-tests/js/.eslintrc.yml
  installed-tests/js/meson.build
  installed-tests/js/testGLibLogWriter.js
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/core/overrides/GLib.js
Due: cppcheck, cpplint, eslint

Add override for g_object_bind_property_full()
  installed-tests/js/testGObjectClass.js
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/core/overrides/GObject.js
Due: cppcheck, cpplint, eslint

debugger: Add option to ignore caught exceptions
  installed-tests/debugger/throw-ignored.debugger
  installed-tests/debugger/throw-ignored.debugger.js
  installed-tests/debugger/throw-ignored.debugger.output
  installed-tests/debugger/throw.debugger
  installed-tests/debugger/throw.debugger.output
  installed-tests/meson.build
  modules/script/_bootstrap/debugger.js
Due: eslint

ci: Increase default timeout for additional tests
  installed-tests/js/testMainloop.js
Due: eslint

cairo-surface: Add setDevice{Offset,Scale} functions
  modules/cairo-surface.cpp
Due: cppcheck, cpplint

cairo: Add Surface.getDeviceScale and Surface.getDeviceOffset
  installed-tests/js/testCairo.js
  modules/cairo-surface.cpp
Due: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
