Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

typecheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_typecheck.sh --version
  - ./tools/run_typecheck.sh

headers_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - env SELFTEST=1 test/check-headers.sh
  - test/check-pch.sh
  - test/check-headers.sh

chore: try using _encodingNative for encoding messages
  .zed/debug.json
  gjs/console.cpp
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
  tools/dap-test.py
Due: cpplint, eslint, headers_check

WIP
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
Due: cpplint, eslint, headers_check

chore: implement threads
  modules/script/_bootstrap/inspector.js
Due: eslint

chore: load files as ESM modules
  gjs/debugger.cpp
Due: cpplint, headers_check

chore: support pause on initial step
  modules/script/_bootstrap/inspector.js
  test.js
Due: eslint

feat: add setBreakpoints handler
  modules/script/_bootstrap/inspector.js
Due: eslint

Add override for g_settings_bind_with_mapping()
  installed-tests/js/testGio.js
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/core/overrides/Gio.js
Due: cpplint, eslint, headers_check

chore: my gjs
  .zed/debug.json
Due: none

feat: improve breakpoint handling
  modules/script/_bootstrap/inspector.js
Due: eslint

Release 1.89.2
  NEWS
  meson.build
Due: none

macros: Remove GJS_ALWAYS_INLINE
  .clang-format
  gjs/jsapi-util-args.h
  gjs/macros.h
Due: cpplint, headers_check

console: Fix volatile modify operations
  modules/console.cpp
Due: cpplint, headers_check

info: Remove restrictions on span size in FunctionInfo::invoke
  gi/info.h
Due: cpplint, headers_check

maint: Fix clang-tidy issue with mismatching parameter names
  gi/wrapperutils.h
  gjs/global.cpp
  gjs/global.h
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/native.cpp
  gjs/native.h
  gjs/text-encoding.cpp
Due: cpplint, headers_check

maint: Replace some uses of <algorithms>
  gi/info.h
  gi/object.cpp
  gjs/deprecation.cpp
  gjs/objectbox.cpp
  tools/process_iwyu.py
Due: cpplint, headers_check

tests: Move testGDBus XML interface to its own file
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/org.gnome.gjs.Test.xml
  installed-tests/js/testGDBus.js
Due: eslint

info: Fix ordering of InfoOperations specializations
  gi/info.h
Due: cpplint, headers_check

jsapi-util-string: Cast char16_t to char before outputting
  gjs/jsapi-util-string.cpp
Due: cpplint, headers_check

match-info: Remove G_GNUC_CONST from get_type function
  libgjs-private/gjs-match-info.h
Due: cpplint, headers_check

maint: Implement modernize-use-equals-default
  gjs/native.h
Due: cpplint, headers_check

maint: Update TODO message for bugprone-assignment-in-if-condition check
  .clang-tidy
Due: none

maint: Use g_{idle,timeout}_add_once() for one-shot functions
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  libgjs-private/gjs-gdbus-wrapper.c
Due: cpplint, headers_check

arg-types-inl: Remove type_fits templates
  gi/arg-types-inl.h
Due: cpplint, headers_check

maint: Remove usage of mozilla::Unused
  doc/CPP_Style_Guide.md
  gi/arg.cpp
  gi/object.cpp
  gi/repo.cpp
  gjs/gjs_pch.hh
  util/misc.h
Due: cpplint, headers_check

maint: Reinstate bugprone-assert-side-effect check
  .clang-tidy
  gi/value.cpp
Due: cpplint, headers_check

maint: Prefer std::size over G_N_ELEMENTS
  .clang-tidy
  gi/arg-cache.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/deprecation.cpp
  gjs/jsapi-util.cpp
  gjs/mem.cpp
Due: cpplint, headers_check

maint: Don't apply clang-tidy std::min/max rules to C files
  .clang-tidy
Due: none

chore: inspector
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
  tsconfig.json
Due: eslint, typecheck

Revert "More accurate memory usage statistics for GBytes type"
  gi/boxed.cpp
  gi/struct.cpp
  gi/struct.h
  gi/wrapperutils.h
Due: cpplint, headers_check

arg: Use string for gjs_argument_display_name()
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/arg.h
  modules/cairo-context.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cpplint, headers_check

jsapi-util-string: Use string for gjs_hyphen_from_camel()
  gi/object.cpp
  gi/repo.cpp
  gi/repo.h
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
Due: cpplint, headers_check

coverage: Use AutoChar for various utility functions
  gjs/coverage.cpp
Due: cpplint, headers_check

maint: Add clang-tidy check for bare char* returns
  .clang-tidy
  gjs/auto.h
Due: cpplint, headers_check

tests: Use AutoChar for various coverage test utility functions
  test/gjs-test-coverage.cpp
Due: cpplint, headers_check

tests: Use string for gjs_test_get_exception_message()
  test/gjs-test-call-args.cpp
  test/gjs-test-common.cpp
  test/gjs-test-common.h
  test/gjs-test-utils.cpp
Due: cpplint, headers_check

console: Inline gjs_console_get_repl_history_path()
  gjs/console.cpp
  util/console.cpp
  util/console.h
Due: cpplint, headers_check

testConsole: Fix test failure when source path contains +
  installed-tests/js/testConsole.js
Due: eslint

Revert "Gio: Rewrite _makeProxyWrapper as a class expression"
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

Gio: Correct arguments to _makeProxyWrapper function object
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

Gio: Print deprecation message for calling proxy wrapper without 'new'
  gjs/deprecation.cpp
  gjs/deprecation.h
  modules/core/overrides/Gio.js
  modules/print.cpp
Due: cpplint, eslint, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh
