Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

Fix 32-bit build
  gi/js-value-inl.h
Due: cppcheck, cpplint

Update CONTRIBUTING.md about the runner system failure
  CONTRIBUTING.md
Due: none

jsapi-util: Make SFINAE on constructor to work with clang++
  gjs/jsapi-util.h
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

jsapi-util: Add GjsSmartPointer template to create an auto-pointer dynamically
  gjs/jsapi-util.h
Due: cppcheck, cpplint

jsapi-util: Add copy and equality operator to GjsAutoPointer
  gjs/jsapi-util.h
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

jsapi-util: Inherit constructors for GjsAutoBaseInfo and friends
  gi/function.cpp
  gi/object.cpp
  gi/wrapperutils.h
  gjs/jsapi-util.h
Due: cppcheck, cpplint

jsapi-util: Rewrite GjsAutoPointer to only use template data
  gi/object.cpp
  gjs/jsapi-util.h
  test/gjs-test-jsapi-utils.cpp
  test/gjs-test-utils.h
  test/gjs-tests.cpp
  test/meson.build
Due: cppcheck, cpplint

jsapi-util: Add back support for C++ objects and arrays to GjsAutoPointer
  gjs/jsapi-util.h
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

gi: Use more GjsAutoPointer's in wrapper classes
  gi/boxed.cpp
  gi/enumeration.cpp
  gi/fundamental.cpp
  gi/fundamental.h
  gi/gerror.cpp
  gi/object.cpp
  gi/wrapperutils.h
Due: cppcheck, cpplint

jsapi-util: Use constexpr based checks on GjsAutoPointer functions
  gjs/jsapi-util.h
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

jsapi-util: Add copy function to GjsAutoStrv (and test it)
  gjs/jsapi-util.h
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

boxed: Use an unique_ptr to store the FieldMap
  gi/boxed.cpp
  gi/boxed.h
Due: cppcheck, cpplint

gi: Use GjsSmartPointer to handle destruction of Wrapped objects
  gi/boxed.cpp
  gi/gerror.cpp
  gi/object.cpp
  gi/wrapperutils.h
Due: cppcheck, cpplint

jsapi-util: Add out operator to get the double pointer
  gjs/jsapi-util.h
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint

arg: Use early-return in JS to GIArgument conversion function
  gi/arg.cpp
Due: cppcheck, cpplint

jsapi-util: Add SmartPointer for G(S)List and use it
  gi/arg.cpp
  gjs/jsapi-util.h
  gjs/stack.cpp
Due: cppcheck, cpplint

repo: Use an autopointer to free the versions list, don't leak on error
  gi/repo.cpp
Due: cppcheck, cpplint

arg: Use GjsSmartPointer to get the right auto pointer on array
  gi/arg.cpp
  gjs/jsapi-util.h
Due: cppcheck, cpplint

arg: Use smart pointers and early-return on functions
  gi/arg.cpp
Due: cppcheck, cpplint

added rule to handle blank lines at the start of blocks
  .eslintrc.yml
  examples/dbus-client.js
  examples/dbus-service.js
  modules/core/overrides/GObject.js
  modules/core/overrides/Gtk.js
  modules/script/tweener/tweener.js
Due: eslint

gi/object: Check property before access
  gi/object.cpp
Due: cppcheck, cpplint

gi/fundamental: Check property before access
  gi/fundamental.cpp
Due: cppcheck, cpplint

testGIMArshalling: Actually run the GPtrArray utf8 tests
  installed-tests/js/testGIMarshalling.js
Due: eslint

do deploy only
  .gitlab-ci.yml
Due: none

Dockerfile: Allow to pass the mozjs base to use for build-deps
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

use proper urisss
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

ci: Define once some image template duplicated variables
  .gitlab-ci.yml
Due: none

Ensure chroot isolation
  .gitlab-ci.yml
Due: none

another
  test/extra/Dockerfile.debug
Due: none

Add more documents for "imports" and "imports.gi"
  doc/Modules.md
Due: none

overrides/Gtk: Set BuilderScope in class init
  modules/core/overrides/Gtk.js
Due: eslint

gi/arg-cache: Only skip array length parameter once
  gi/arg-cache.cpp
Due: cppcheck, cpplint

Fix CI by removing Docker service
  .gitlab-ci.yml
Due: none

lint: Switch to eslint-plugin-jsdoc and remove lint-condo.
  .eslintrc.yml
  .gitlab-ci.yml
  .lint-condo.yaml
  examples/.eslintrc.yml
  installed-tests/.eslintrc.yml
  modules/core/.eslintrc.yml
  modules/core/overrides/GObject.js
  modules/script/.eslintrc.yml
  modules/script/_bootstrap/.eslintrc.yml
  modules/script/_legacy.js
  modules/script/lang.js
  modules/script/package.js
  modules/script/tweener/.eslintrc.yml
  modules/script/tweener/equations.js
  test/gjs-test-coverage/loadedJSFromResource.js
  tools/package.json
  tools/yarn.lock
Due: eslint

Add .gitignore file
  .gitignore
Due: none

Add script for running eslint
  .gitlab-ci.yml
  tools/run_eslint.sh
Due: none

repo: Remove JSClass macros
  gi/repo.cpp
  gjs/global.h
  gjs/mem-private.h
Due: cppcheck, cpplint

CI: Avoid cppcheck false positive
  gjs/debugger.cpp
Due: cppcheck, cpplint

CI: Activate GNOME-specific rules in cppcheck
  .gitlab-ci.yml
  tools/run_cppcheck.sh
Due: none

tests: Use GObject weak pointer to track test object refcount
  test/gjs-test-jsapi-utils.cpp
Due: cppcheck, cpplint
