Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cppcheck . -v -f -q -UHAVE_PRINTF_ALTERNATIVE_INT --error-exitcode=1 --inline-suppr --library=gtk,tools/cppcheck.cfg --enable=warning,performance,portability

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
    TASK_ID: cpplint
  when: on_success
  stage: source_check
  script:
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2021-04-02.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh

WIP: Temporarily unpin build_recommended
  .gitlab-ci.yml
Due: none

gjs_pch.hh: Include alloca.h and syscall.h in profiler builds
  gjs/gjs_pch.hh
Due: none

build: Fix PCH on Visual Studio
  meson.build
Due: none

README.MSVC.md: One more fix in the SpiderMonkey headers
  README.MSVC.md
Due: none

modules: Add helper to load context setup modules
  gjs/context.cpp
Due: cppcheck, cpplint

modules: Add bootstrap file with ESM support
  gjs/context.cpp
  js.gresource.xml
  modules/esm/_bootstrap/default.js
Due: cppcheck, cpplint, eslint

modules: Implement WHATWG console specification
  js.gresource.xml
  modules/esm/_bootstrap/default.js
  modules/esm/console.js
Due: eslint

modules: Implement console.table()
  modules/console.cpp
  modules/esm/console.js
Due: cppcheck, cpplint, eslint

modules: Implement console.clear()
  meson.build
  modules/console.cpp
  modules/esm/console.js
Due: cppcheck, cpplint, eslint

ci: Increase default timeout for additional tests
  installed-tests/js/testMainloop.js
Due: eslint

Remove js/RequiredDefines.h
  gjs/gjs_pch.hh
Due: none

Add test for dynamic import resolution
  installed-tests/scripts/testCommandLine.sh
Due: none

gi: Only enumerate properties which GJS defines
  gi/ns.cpp
  installed-tests/js/testIntrospection.js
Due: cppcheck, cpplint, eslint

GDBus Implementation: fix invalidating properties when emitting changes
  installed-tests/js/testGDBus.js
  libgjs-private/gjs-gdbus-wrapper.c
Due: cppcheck, cpplint, eslint

maint: Fix lint errors
  installed-tests/js/testIntrospection.js
Due: eslint

glib: Implement override for structured logging hook
  .eslintrc.yml
  installed-tests/.eslintrc.yml
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/matchers.js
  installed-tests/js/meson.build
  installed-tests/js/minijasmine.js
  installed-tests/js/testGLibLogWriter.js
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/core/overrides/GLib.js
Due: cppcheck, cpplint, eslint

Update CI images
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

Update PCH
  gjs/gjs_pch.hh
Due: none

Fix cpplint
  gi/gobject.cpp
  gjs/context.cpp
  gjs/internal.cpp
  gjs/module.cpp
Due: cppcheck, cpplint

Ensure the correct realm is entered in the async executor
  gjs/internal.cpp
Due: cppcheck, cpplint

docs: Fix out of date details in docs
  CONTRIBUTING.md
  README.md
  doc/Home.md
Due: none

Add Internship Getting Started documentation
  CONTRIBUTING.md
  README.md
  doc/Hacking.md
  doc/Internship-Getting-Started.md
Due: none

docs: Replace IRC and mailing list with Matrix and Discourse
  CONTRIBUTING.md
  doc/Home.md
Due: none

docs: Add instructions for installing mozjs78 with package manager
  doc/Hacking.md
Due: none

Fix race condition in dynamic module resolution.
  modules/internal/loader.js
Due: eslint

Add test for dynamic import resolution
  installed-tests/meson.build
  installed-tests/scripts/testCommandLineModules.sh
Due: none

Add remote debugger
  gjs/console.cpp
  gjs/context.h
  gjs/debugger.cpp
  gjs/global.h
  gjs/remote-server.cpp
  gjs/remote-server.h
  gjs/socket-connection.cpp
  gjs/socket-connection.h
  gjs/socket-monitor.cpp
  gjs/socket-monitor.h
  js.gresource.xml
  meson.build
  modules/script/_bootstrap/remoteDebugger.js
Due: cppcheck, cpplint, eslint

object: Enqueue toggle ups when the heap is collecting
  gi/object.cpp
  gjs/gjs_pch.hh
Due: cppcheck, cpplint

closure: Reimplement to be a C++ class with custom heap allocator
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/closure.cpp
  gi/closure.h
  gi/function.cpp
  gi/function.h
  gi/object.cpp
  gi/value.cpp
  gi/value.h
Due: cppcheck, cpplint

GjsMaybeOwned: Remove notifier support and move it into GjsPrivateContext
  gi/closure.cpp
  gi/closure.h
  gi/function.cpp
  gi/object.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/jsapi-util-root.h
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint

function: Use minimal allocation for trampoline data
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

GjsCallBackTrampoline: Inherit from Gjs::Closure (and so GClosure)
  gi/arg-cache.cpp
  gi/closure.cpp
  gi/closure.h
  gi/function.cpp
  gi/function.h
  gi/object.cpp
Due: cppcheck, cpplint

context: Cleanup completed trampoline in context, as this is what they belong to
  gi/function.cpp
  gi/function.h
  gjs/context-private.h
  gjs/context.cpp
  gjs/jsapi-util-root.h
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint

object: Use vector for holding the list of wrapped objects
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

maint: Use GLib UTF8-to-UTF16 functions
  doc/CPP_Style_Guide.md
  gjs/context.cpp
  gjs/gjs_pch.hh
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  gjs/module.cpp
Due: cppcheck, cpplint

build: Remove bash-ism
  tools/run_iwyu.sh
Due: none

build: Fix IWYU errors
  gjs/jsapi-util-string.cpp
  tools/gjs-private-iwyu.imp
  tools/process_iwyu.py
Due: cppcheck, cpplint

build: Provide fallback location for GLib Valgrind suppressions
  meson.build
Due: none

build: Accommodate iwyu_tool named iwyu_tool.py
  tools/run_iwyu.sh
Due: none

build: Fix building with gobject-introspection as a subproject
  installed-tests/js/meson.build
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
