Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js

object: Only define interface overridden properties on the owner type
  gi/object.cpp
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testLegacyGObject.js
Due: cppcheck, cpplint, eslint

jsapi-util: Fix gjs_log_exception() for InternalError
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

object: Fix signal match mechanism
  gi/closure.cpp
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

Check if STRV value is an object before toObject.
  gi/value.cpp
Due: cppcheck, cpplint

Add regression test for STRV conversion.
  installed-tests/js/testRegress.js
Due: eslint

Check if STRV value is an object before toObject.
  gi/value.cpp
  installed-tests/js/testRegress.js
Due: cppcheck, cpplint, eslint

installed-tests: skip some tests if GTK can't be initialised
  installed-tests/js/testCairo.js
  installed-tests/js/testIntrospection.js
Due: eslint

JS: migrate from the global `window` to `globalThis`
  .eslintrc.yml
  installed-tests/js/minijasmine.js
  installed-tests/js/testImporter.js
  modules/script/_bootstrap/coverage.js
  modules/script/_bootstrap/default.js
  modules/script/package.js
Due: eslint

doc: Fix a typo
  doc/Logging.md
Due: none

CI: Remove codequality and mozjs60 jobs
  .gitlab-ci.yml
Due: none

build: Only print full test logs on the build_recommended job
  .gitlab-ci.yml
  test/test-ci.sh
Due: none

CI: fix examples test
  installed-tests/scripts/testExamples.sh
Due: none

testGIMarshalling: Verify that we get errors if vfunc return is unexpected
  installed-tests/js/testGIMarshalling.js
Due: eslint

arg: Factor out determination of GITypeInfo storage type
  gi/arg.cpp
Due: cppcheck, cpplint

function: Don't crash if a callback doesn't return an array of values
  gi/function.cpp
Due: cppcheck, cpplint

build: Post-release version bump
  NEWS
Due: none

arg: Fix GList and GHashTable marshalling on 64-bit big-endian
  gi/arg.cpp
Due: cppcheck, cpplint

function: Use GIArgument.v_int for enum and flags types
  gi/function.cpp
Due: cppcheck, cpplint

arg: Fix GHashTable key marshalling on 64-bit big-endian
  gi/arg.cpp
Due: cppcheck, cpplint

test-coverage: Ignore format-nonliteral warning
  test/gjs-test-coverage.cpp
Due: cppcheck, cpplint

release: Prepare for 1.58.7
  NEWS
  configure.ac
Due: none

release: Prepare for 1.64.2
  NEWS
Due: none

release: Prepare for 1.65.2
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

arg: Don't sink GClosure ref if it's a return value
  gi/arg.cpp
  gi/function.cpp
Due: cppcheck, cpplint

installed-tests: install binaries to correct directory
  installed-tests/meson.build
  meson.build
Due: none

tests: Don't use g_assert and g_assert_not_reached in tests
  test/gjs-test-call-args.cpp
  test/gjs-test-coverage.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint

CI: Build everything from a Dockerfile using buildah
  .gitlab-ci.yml
  test/ci-images.sh
  test/extra/Dockerfile
  test/test-ci.sh
Due: none

build: Make sysprof-capture-3 a system include
  meson.build
Due: none

tests: Use memory GSettings backend
  meson.build
Due: none

CI: Pin new standard build image
  .gitlab-ci.yml
Due: none

jsapi-util-args: Use args.requireAtLeast()
  gjs/jsapi-util-args.h
  test/gjs-test-call-args.cpp
Due: cppcheck, cpplint

byteArray: Remove root in ByteArray methods
  gi/arg.cpp
  gjs/byteArray.cpp
  gjs/byteArray.h
Due: cppcheck, cpplint

js: Replace trimLeft and trimRight with trimStart and trimEnd
  modules/core/overrides/GLib.js
  modules/script/_bootstrap/debugger.js
Due: eslint

closure: Remove redundant check for pending exception
  gi/closure.cpp
Due: cppcheck, cpplint

overrides/Gtk: Adjust gtk_container_child_set_property() check
  modules/core/overrides/Gtk.js
Due: eslint

importer: Use is_root field in toString()
  gjs/importer.cpp
Due: cppcheck, cpplint
