Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: node:12
  stage: source_check
  script:
  - ./tools/run_eslint.sh

toggle: Rely on wrapper to cancel finalized objects in queue
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

testGObjectDestructionAccess: Check toggle events after the wrapper destruction
  installed-tests/js/testGObjectDestructionAccess.js
Due: eslint

gjs-test-tools: Return GThread's when we don't join immediately
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
Due: cppcheck, cpplint

arg-cache: Do not mark a function returning void* as skip-all
  gi/arg-cache.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

toggle: Keep track of objects via ObjectInstance not GObject's
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
Due: cppcheck, cpplint

gjs-test-tools: Ensure we use thread safe access to the saved object
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
Due: cppcheck, cpplint

context: Ensure we check atomically if we're destroying from other threads
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint

object: Rely on next ToggleQueue iteration to handle already queued toggle events
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

log: Make logging thread safe
  gjs/context.cpp
  util/log.cpp
  util/log.h
Due: cppcheck, cpplint

installed-tests: Mark thread-safe tests using a suite and run them in CI
  .gitlab-ci.yml
  installed-tests/extra/tsan.supp
  installed-tests/js/meson.build
  installed-tests/meson.build
  meson.build
Due: none

repo: Always return on gjs_info_type_name to ensure it works without asserts
  gi/repo.cpp
Due: cppcheck, cpplint

gjs-test-tools: Adjust meson configuration, removing duplicated depends
  installed-tests/js/libgjstesttools/meson.build
Due: none

log: Optimize topics check avoiding repeated strings checks
  util/log.cpp
  util/log.h
Due: cppcheck, cpplint

arg-cache: Fix rebase collision
  gi/arg-cache.cpp
Due: cppcheck, cpplint

wrapperutils: Use native ostringstream pointer to string conversion
  gi/wrapperutils.cpp
  installed-tests/js/testGObject.js
Due: cppcheck, cpplint, eslint

testGObjectDestructionAccess: Verify that disposed object is monitored
  installed-tests/js/testGObjectDestructionAccess.js
Due: eslint

object: Do not disassociate a JS object if we have queued toggle up
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Discard disposed GObject's and do not create wrappers for them
  gi/arg.cpp
  gi/function.cpp
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Also unset the object qdata during wrapper destruction
  gi/object.cpp
Due: cppcheck, cpplint

object: Use the term "DISPOSED" for objects in such state, not FINALIZED
  gi/object.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

toggle: Enforce thread-safety using a per-thread spin-lock
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
Due: cppcheck, cpplint

fundamental: Use g_value_type_compatible to check if we can do type conversion
  gi/fundamental.cpp
Due: cppcheck, cpplint

object: Safely handle disposal when happening from other thread
  gi/object.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

fundamental: Support converting an empty GValue to a null fundamental
  gi/fundamental.cpp
  gi/fundamental.h
  gi/value.cpp
  installed-tests/js/testFundamental.js
Due: cppcheck, cpplint, eslint

object: Discard wrapper when GObject is disposed from main thread
  gi/object.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Never try to add a toggle reference on a disposed object
  gi/object.cpp
  gi/object.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Pass the instance pointer to toggle notify
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

object: Cancel queued toggles on dispose notify
  gi/object.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

object: Switch back to normal references on disposal
  gi/object.cpp
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint

installed-tests: Fix building libgjstesttools
  installed-tests/js/libgjstesttools/gjs-test-tools.h
Due: cppcheck, cpplint

object: Catch finalized objects that are still under gjs scope
  gi/object.cpp
  gi/object.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

meson.build: Ignore warning C5030 on Visual Studio
  meson.build
Due: none

installed-tests: Add GjsTestTools utilities to call native code for evil ops
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/libgjstesttools/meson.build
  installed-tests/js/meson.build
  meson.build
Due: cppcheck, cpplint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
