Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

Fix for semantic correctness and consistency
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

cairo: register path and pattern as foreign structs
  modules/cairo-context.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-private.h
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
  modules/cairo.cpp
Due: cppcheck, cpplint, pch_check

cairo: fix transfer full marshalling for region and surface
  installed-tests/js/testCairo.js
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint, eslint, pch_check

ci: build aarch64 image and run tests
  .gitlab-ci.yml
Due: none

CI: Include ci-templates via project reference
  .gitlab-ci.yml
Due: none

arg-cache: Make number of args unsigned and length index Maybe<unsigned>
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/function.h
  gi/info.h
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Make destroy notify and user data index Maybe<unsigned>
  gi/arg-cache.cpp
  gi/info.h
Due: cppcheck, cpplint, pch_check

gi: Wrap g_irepository_is_registered
  gi/info.h
  gi/repo.cpp
Due: cppcheck, cpplint, pch_check

gi: Wrap g_irepository_enumerate_versions
  gi/info.h
  gi/repo.cpp
Due: cppcheck, cpplint, pch_check

gi: Add null-safe C++ wrappers for libgirepository
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.cpp
  gi/arg.h
  gi/boxed.cpp
  gi/boxed.h
  gi/enumeration.cpp
  gi/enumeration.h
  gi/foreign.cpp
  gi/foreign.h
  gi/function.cpp
  gi/function.h
  gi/fundamental.cpp
  gi/fundamental.h
  gi/gerror.cpp
  gi/gerror.h
  gi/info.h
  gi/interface.cpp
  gi/interface.h
  gi/ns.cpp
  gi/object.cpp
  gi/object.h
  gi/param.cpp
  gi/private.cpp
  gi/repo.cpp
  gi/repo.h
  gi/union.cpp
  gi/union.h
  gi/value.cpp
  gi/wrapperutils.cpp
  gi/wrapperutils.h
  gjs/gerror-result.h
Due: cppcheck, cpplint, pch_check

gi: Wrap g_irepository_get_version
  gi/info.h
  gi/ns.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Make array fixed size a Maybe<size_t>
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/arg.h
  gi/info.h
Due: cppcheck, cpplint, pch_check

gi: Move Gjs::is_basic_type into TypeInfoOperations
  gi/arg-cache.cpp
  gi/arg-inl.h
  gi/arg.cpp
  gi/info.h
Due: cppcheck, cpplint, pch_check

build: Post-branch version bump
  meson.build
Due: none

release: Prepare for 1.85.1
  NEWS
Due: none

Update g-i-tests
  subprojects/gobject-introspection-tests.wrap
Due: none

installed-tests: install sourcemap-number-module.js
  installed-tests/meson.build
Due: none

build: Add a mozjs_dep_name pkgconfig variable
  meson.build
Due: none

function: Use StackArgInfo for closure invalidate notifier
  gi/function.cpp
  gi/info.h
  installed-tests/js/testGtk4.js
Due: cppcheck, cpplint, eslint, pch_check

CI: Don't include subprojects in meson dist
  .gitlab-ci.yml
Due: none

build: Only pass dependency names to pkg.generate
  meson.build
Due: none

docs: Update list of heapgraph options
  tools/heapgraph.md
Due: none

object: Remove dead code in resolve_no_info()
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object: Remove obsolete comment
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

heapgraph: Skip WeakMapEntry lines on second pass
  tools/heapgraph.py
Due: none

auto: Make AutoTypeClass nicer
  gi/object.cpp
  gjs/auto.h
Due: cppcheck, cpplint, pch_check

CI, docs: Various temporary changes to accommodate GLib as subproject
  .gitlab-ci.yml
  doc/Hacking.md
  test/test-ci.sh
Due: none

package: Fix port to gobject-introspection-2.0
  modules/script/package.js
Due: eslint

build: Fix libffi dependency in .pc
  meson.build
Due: none

maint: Allow unused private members in debugger tests
  installed-tests/debugger/.eslintrc.yml
Due: eslint

installed-tests: Don't use && between true-ish statements
  installed-tests/js/testGObjectClass.js
Due: eslint

Update Docker images to Fedora 42 and mozjs140
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

maint: Switch to flat eslint config
  .eslintrc.yml
  eslint.config.js
  examples/.eslintrc.yml
  installed-tests/.eslintrc.yml
  installed-tests/debugger/.eslintrc.yml
  installed-tests/js/.eslintrc.yml
  installed-tests/js/modules/badOverrides/.eslintrc.yml
  installed-tests/js/modules/badOverrides2/.eslintrc.yml
  installed-tests/js/modules/overrides/.eslintrc.yml
  modules/core/.eslintrc.yml
  modules/core/overrides/.eslintrc.yml
  modules/esm/.eslintrc.yml
  modules/internal/.eslintrc.yml
  modules/script/.eslintrc.yml
  modules/script/_bootstrap/.eslintrc.yml
  modules/script/tweener/.eslintrc.yml
  test/modules/.eslintrc.yml
  tools/eslint.config.js
  tools/package-lock.json
  tools/package.json
Due: eslint

CI: Fix dtrace packages
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

CI: Comment out Gtk4Warnings test
  installed-tests/meson.build
Due: none

CI: Pin new build_recommended image
  .gitlab-ci.yml
Due: none

CI: Suppress new init data "leaks" that result from headless X display in CI
  installed-tests/extra/lsan.supp
Due: none

docs: Remove outdated comment about Ubuntu not shipping mozjs128
  doc/Hacking.md
Due: none

mozjs-140: Pass const UTF8Chars& to UTF8CharsToNewTwoByteCharsZ
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
