Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

boxed: Templatize template classes to be re-usable for multiple types
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/boxed.cpp
  gi/boxed.h
  gi/gerror.cpp
  gi/repo.cpp
  gi/struct.cpp
  gi/struct.h
  gi/value.cpp
  gjs/byteArray.cpp
  meson.build
Due: cppcheck, cpplint, pch_check

boxed: Make possible to initialize a struct with constructor via property bag
  gi/boxed.cpp
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint, pch_check

boxed: Extend to support Union types
  gi/boxed.cpp
  gi/boxed.h
  gi/info.h
  gi/struct.cpp
  gi/struct.h
  gi/union.cpp
  gi/union.h
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGtk3.js
  installed-tests/js/testIntrospection.js
  installed-tests/js/testRegress.js
  installed-tests/js/testUtility.js
Due: cppcheck, cpplint, eslint, pch_check

boxed: Throw when trying to set a nested field value to a wrong type
  gi/boxed.cpp
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint, pch_check

boxed: Never override methods with fields
  gi/boxed.cpp
  gi/boxed.h
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint, pch_check

CI: Run IWYU jobs on non-debug image
  .gitlab-ci.yml
Due: none

CI: Work around path bug in Fedora-packaged IWYU
  tools/run_iwyu.sh
Due: none

CI: Change IWYU job to work with subproject GLib
  tools/run_iwyu.sh
Due: none

CI: Handle c++20 <version> IWYU false positive
  gjs/text-encoding.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint, pch_check

Gio: Accept GVariantType for Gio.ActionMap.add_action_entries()
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: eslint

Gio: Accept GVariant for Gio.ActionMap.add_action_entries()
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: eslint

maint: Use ::memchr not std::memchr
  gjs/text-encoding.cpp
Due: cppcheck, cpplint, pch_check

maint: Use IWYU associated pragma
  gjs/context-private.h
  gjs/context.cpp
  gjs/jsapi-class.h
  gjs/jsapi-dynamic-class.cpp
  gjs/mem.cpp
  gjs/profiler.cpp
  modules/cairo.cpp
  tools/run_iwyu.sh
Due: cppcheck, cpplint, pch_check

maint: Update includes for IWYU 0.24 (again)
  gi/arg-inl.h
  gi/closure.h
  gi/cwrapper.h
  gi/function.cpp
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/gerror.h
  gi/gtype.cpp
  gi/interface.cpp
  gi/interface.h
  gi/ns.cpp
  gi/object.cpp
  gi/object.h
  gi/private.cpp
  gi/repo.cpp
  gi/repo.h
  gi/value.h
  gi/wrapperutils.h
  gjs/auto.h
  gjs/context-private.h
  gjs/context.cpp
  gjs/context.h
  gjs/engine.cpp
  gjs/global.h
  gjs/importer.cpp
  gjs/module.cpp
  gjs/native.cpp
  gjs/native.h
  gjs/profiler.cpp
  gjs/promise.cpp
  gjs/stack.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-private.h
  modules/console.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint, pch_check

value: Fix nonsensical error message
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

ci, test-ci: Check the installed tests with shellcheck
  .gitlab-ci.yml
  installed-tests/debugger-test.sh
  installed-tests/scripts/common.sh
  installed-tests/scripts/testExamples.sh
  installed-tests/scripts/testGtk4Warnings.sh
  tools/run_shellcheck.sh
Due: none

ci: Ignore errors that newer codespell complains about
  .gitlab-ci.yml
Due: none

testCommandLineModules: Remove unused variable
  installed-tests/scripts/testCommandLineModules.sh
Due: none

installed-tests/scripts: Fix shellcheck errors
  installed-tests/scripts/testCommandLine.sh
Due: none

testGtkWarnings: We use report to test, so the result was not reported
  installed-tests/scripts/testGtk4Warnings.sh
Due: none

extra/gjs.supp: Adjust suppressions to be more generic
  installed-tests/extra/gjs.supp
Due: none

overrides/Gio: Move the dbus error handling to a separate function
  modules/core/overrides/Gio.js
Due: eslint

overrides/Gio: Provide meaningful stacktrace on async methods failures
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

overrides/Gio: Correctly handle return values for Sync async methods
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

overrides/Gio: Move dbus method reply handling to separate function
  modules/core/overrides/Gio.js
Due: eslint

overrides/Gio: Use logError to show errors on missing method
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

gjs-gdbus-wrapper: Clarify ownership of method invocation
  libgjs-private/gjs-gdbus-wrapper.c
Due: cppcheck, pch_check

overrides/Gio: Do not return errors to invocations if already returned
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

gjs-dbus-wrapper: Re-order method invocation parameters
  libgjs-private/gjs-gdbus-wrapper.c
  modules/core/overrides/Gio.js
Due: cppcheck, eslint, pch_check

overrides/Gio: Handle error if an async method fails
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

gjs-gdbus-wrapper: Pass the invocation ownership to JS
  libgjs-private/gjs-gdbus-wrapper.c
Due: cppcheck, pch_check

overrides/Gio: Remove unused arguments on the DBus method handling
  modules/core/overrides/Gio.js
Due: eslint

gjs-gdbus-wrapper: Add docstrings for signals
  libgjs-private/gjs-gdbus-wrapper.c
Due: cppcheck, pch_check

overrides/Gio: Avoid looking up for the same property twice
  modules/core/overrides/Gio.js
Due: eslint

overrides/Gio: Avoid looking up for method interface that we know
  modules/core/overrides/Gio.js
Due: eslint

overrides/Gio: Show errors server-side on invalid signature
  installed-tests/js/testGDBus.js
  modules/core/overrides/Gio.js
Due: eslint

ci: Run coverage events also on MR and when committing to default branch
  .gitlab-ci.yml
Due: none

Dockerfile: Install lcov_cobertura tool
  test/extra/Dockerfile
Due: none

ci: Save cobertura reports as artifacts
  .gitlab-ci.yml
  tools/run_coverage.sh
Due: none

maint: Implement rule of thumb for when to use POSIX sh vs bash
  installed-tests/scripts/testExamples.sh
  test/extra/do_environment.sh
  test/test-ci.sh
  tools/run_iwyu.sh
  tools/run_shellcheck.sh
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
