Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh

release: Prepare for 1.84.0
  NEWS
  meson.build
Due: none

CI: Temporarily skip building container
  .gitlab-ci.yml
Due: none

release: Prepare for 1.84.1
  NEWS
  meson.build
Due: none

Revert "CI: Temporarily skip building container"
  .gitlab-ci.yml
Due: none

object: Don't stop searching interfaces if name not resolved on prototype
  gi/object.cpp
  installed-tests/js/testGtk4.js
Due: cppcheck, cpplint, eslint, pch_check

GLib: Make GLib.log_set_writer_default work properly
  installed-tests/js/testConsole.js
  installed-tests/js/testGDBus.js
  installed-tests/js/testGLibLogWriter.js
  installed-tests/js/testGtk4.js
  libgjs-private/gjs-util.c
Due: cppcheck, eslint, pch_check

closure: guard against non-js thread when marshalling
  gi/value.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObject.js
Due: cppcheck, cpplint, eslint, pch_check

wrapperutils: Split typecheck function into GIBaseInfo and GType overloads
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/gerror.cpp
  gi/interface.cpp
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  gi/wrapperutils.h
  gjs/byteArray.cpp
Due: cppcheck, cpplint, pch_check

wrapperutils: Remove expected_info argument from transfer_to_gi_argument()
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/object.cpp
  gi/object.h
  gi/wrapperutils.h
Due: cppcheck, cpplint, pch_check

object: Simplify typecheck for non-GObject property bag in constructor
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

wrapperutils: Remove JSContext argument from typecheck_impl()
  gi/object.cpp
  gi/object.h
  gi/wrapperutils.h
Due: cppcheck, cpplint, pch_check

function: Refactor enum/flags check
  gi/arg-cache.h
  gi/function.cpp
Due: cppcheck, cpplint, pch_check

build: Move Gtk4 test out of dbus-run-session
  installed-tests/js/meson.build
Due: none

arg-cache: Make stricter checks on argument cache sizes
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

build: Make GTK 3 optional
  installed-tests/js/meson.build
  installed-tests/meson.build
  meson.build
Due: none

repo: Delete gjs_info_type_name
  gi/ns.cpp
  gi/repo.cpp
  gi/repo.h
Due: cppcheck, cpplint, pch_check

gi: Move away from GIInfoType where possible
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/ns.cpp
  gi/object.cpp
  gi/repo.cpp
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

release: Prepare for 1.82.2
  NEWS
Due: none

CI: Update to use GNOME Release Service
  .gitlab-ci.yml
  test/test-ci.sh
Due: none

maint: Adapt maintainer-upload-release script for GNOME Release Service
  .gitlab-ci.yml
  build/maintainer-tag-release.sh
  meson.build
Due: none

release: Prepare for 1.82.3
  NEWS
  meson.build
Due: none

release: Prepare for 1.84.2
  NEWS
  meson.build
Due: none

Use unordered_set for s_wrapped_gobject_list
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint, pch_check

Update object.cpp
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

add assertions
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

Remove remove_one_from_unsorted_vector
  gi/object.cpp
  gi/object.h
  gi/utils-inl.h
  gjs/context.cpp
Due: cppcheck, cpplint, pch_check

remove assert
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

linter fixes
  gi/object.cpp
  gi/object.h
  gi/utils-inl.h
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint, pch_check

Apply 1 suggestion(s) to 1 file(s)
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

Change m_destroy_notifications to use unordered_set
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint, pch_check

linter stuff
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint, pch_check

object: Change m_closures back to vector
  gi/object.cpp
  gi/object.h
  gi/utils-inl.h
Due: cppcheck, cpplint, pch_check

Seems reasonable
  gjs/context-private.h
Due: cppcheck, cpplint, pch_check

Extra handling for enum/flags in setter and getter callers
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

Apply 1 suggestion(s) to 1 file(s)
  gjs/context-private.h
Due: cppcheck, cpplint, pch_check

fix hash
  gjs/context-private.h
Due: cppcheck, cpplint, pch_check

Fix memory leak
  gi/object.cpp
Due: cppcheck, cpplint, pch_check
