Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

tests: Avoid using deprecated Gio.Settings.schema property
  installed-tests/js/testGio.js
  installed-tests/js/testIntrospection.js
Due: eslint

deprecation: Add a compile-time check that every ID has a message
  gjs/deprecation.cpp
  gjs/deprecation.h
Due: cppcheck, cpplint, pch_check

arg: Don't multiply C array element size
  gi/arg.cpp
Due: cppcheck, cpplint, pch_check

deprecation: Don't use stringstream.str().c_str()
  gjs/deprecation.cpp
Due: cppcheck, cpplint, pch_check

gobject: Use gjs_lookup_object_constructor() instead of ..._from_info()
  gi/gobject.cpp
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint, pch_check

foreign: Remove outdated comment
  gi/foreign.cpp
Due: cppcheck, cpplint, pch_check

maint: Fix IWYU includes
  gi/boxed.cpp
  gi/foreign.cpp
  gi/foreign.h
Due: cppcheck, cpplint, pch_check

foreign: C++ify the data structures
  gi/foreign.cpp
Due: cppcheck, cpplint, pch_check

release: Prepare for 1.79.90
  NEWS
  meson.build
Due: none

meson: fix automagic dependency lookup for cairo
  meson.build
Due: none

meson: don't bother checking for both option.disabled() and dep.found()
  meson.build
Due: none

CI: Build newer GLib in debug Docker image
  test/extra/Dockerfile.debug
Due: none

maint: Fix IWYU includes
  gi/interface.cpp
  gi/ns.cpp
  gjs/context.cpp
Due: cppcheck, cpplint, pch_check

ns: Deprecate accessing GLibUnix/GLibWin32 APIs through GLib
  gi/ns.cpp
  gi/repo.cpp
  gjs/deprecation.cpp
  gjs/deprecation.h
  installed-tests/js/testGDBus.js
  installed-tests/js/testIntrospection.js
Due: cppcheck, cpplint, eslint, pch_check

GLib: Override GLib.MatchInfo
  installed-tests/js/testGLib.js
  libgjs-private/gjs-match-info.c
  libgjs-private/gjs-match-info.h
  meson.build
  modules/core/overrides/GLib.js
Due: cppcheck, cpplint, eslint, pch_check

build: Pre-release version bump
  meson.build
Due: none

release: Prepare for 1.80.0
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

boxed: Prevent name conflicts between boxed fields and methods
  gi/boxed.cpp
  installed-tests/js/testRegress.js
Due: cppcheck, cpplint, eslint, pch_check

GObject: Throw on data stashing methods like get_data(), set_data()
  installed-tests/js/testGObject.js
  modules/core/overrides/GObject.js
Due: eslint

GObject: Throw on refcounting methods
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObject.js
  installed-tests/js/testGObjectDestructionAccess.js
  modules/core/overrides/GObject.js
Due: cppcheck, cpplint, eslint, pch_check

context: Set a FinalizationRegistry cleanup callback
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
  installed-tests/js/testWeakRef.js
Due: cppcheck, cpplint, eslint, pch_check

release: Prepare for 1.78.5
  NEWS
Due: none

context: Call js::RunJobs() to allow WeakRefs to work
  gjs/promise.cpp
  installed-tests/js/.eslintrc.yml
  installed-tests/js/meson.build
  installed-tests/js/testGtk3.js
  installed-tests/js/testGtk4.js
  installed-tests/js/testLegacyGtk.js
  installed-tests/js/testWeakRef.js
Due: cppcheck, cpplint, eslint, pch_check

release: Copy NEWS from oldstable branch
  NEWS
Due: none

value: Explicit cast from g(u)int64 to (u)int64_t
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

release: Prepare for 1.80.1
  NEWS
Due: none

build: Post-branch version bump
  meson.build
Due: none

object: Only accept plain-object property bags in GObject constructors
  gi/object.cpp
  installed-tests/js/testGObjectClass.js
Due: cppcheck, cpplint, eslint, pch_check

CI: Add a check that <config.h> is included first
  .gitlab-ci.yml
  gi/gobject.h
  gi/ns.h
  gi/toggle.cpp
  gi/toggle.h
  gjs/deprecation.h
  gjs/engine.h
  gjs/error-types.cpp
  gjs/internal.cpp
  gjs/mem-private.h
  gjs/mem.cpp
  libgjs-private/gjs-gdbus-wrapper.c
  libgjs-private/gjs-match-info.c
  test/check-headers.sh
  test/gjs-test-common.h
  test/gjs-test-coverage.cpp
  test/gjs-test-jsapi-utils.cpp
  test/gjs-test-no-introspection-object.cpp
  test/gjs-test-no-introspection-object.h
  util/console.h
  util/log.cpp
  util/log.h
  util/misc.cpp
  util/misc.h
Due: cppcheck, cpplint, pch_check

doc: avoid reference to Gio.UnixInputStream
  doc/Overrides.md
Due: none

CI: Add an escape hatch for skipping the IWYU job
  .gitlab-ci.yml
Due: none

CI: Add a check for header inclusion order
  gi/closure.h
  gi/toggle.h
  gjs/context.cpp
  gjs/global.h
  gjs/internal.cpp
  gjs/profiler.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-ps-surface.cpp
  modules/cairo-svg-surface.cpp
  modules/cairo.cpp
  test/check-headers.sh
  test/gjs-test-jsapi-utils.cpp
  test/gjs-test-utils.h
  util/log.cpp
Due: cppcheck, cpplint, pch_check

gi: check for if return type is a pointer in ffi_pointer conversion
  gi/function.cpp
Due: cppcheck, cpplint, pch_check

release: Prepare for 1.80.2
  NEWS
Due: none

release: Copy NEWS from stable branch
  NEWS
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
