Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

object: Make ensure_toggle_reference to follow the JS API so we can throw
  gi/arg-cache.cpp
  gi/object.cpp
  gi/object.h
  test/gjs-test-toggle-queue.cpp
Due: cppcheck, cpplint

Value: add Gjs::AutoGValue and use this to handle lifetime of GValues
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  gi/value.h
Due: cppcheck, cpplint

object: Use AutoGValueVector to build a list of GValue signal arguments
  gi/object.cpp
Due: cppcheck, cpplint

utils: Add inline function to remove from unsorted vectors
  gi/utils-inl.h
Due: cppcheck, cpplint

build: Use pch header for the internal library
  meson.build
Due: none

object: Invalidate closures while iterating, avoiding recursion
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

gjs_pch: Only include sysprof-capture if profiler is enabled
  gjs/gjs_pch.hh
Due: none

doc: add Almond to applications
  doc/Home.md
Due: none

doc: add Commit to applications
  doc/Home.md
Due: none

byteArray: Fix crash with 0-length GLib.Bytes
  gjs/byteArray.cpp
  installed-tests/js/testByteArray.js
Due: cppcheck, cpplint, eslint

byteArray: Fix crash with 0-length string
  gjs/byteArray.cpp
  installed-tests/js/testByteArray.js
Due: cppcheck, cpplint, eslint

build: Disable glib assertions via G_DISABLE_ASSERT on release builds
  gjs/internal.cpp
  gjs/module.cpp
  meson.build
  util/misc.h
Due: cppcheck, cpplint

meson.build: Avoid putting two copies of libsysprof-capture-4.a in libgjs
  meson.build
Due: none

mem: Reimplement counters using c++ atomic and constexpr expressions
  gjs/mem-private.h
  gjs/mem.cpp
Due: cppcheck, cpplint

object: Use vector for holding the list of wrapped objects
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

modified _promisify function
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: eslint

Revert "object: Use vector for holding the list of wrapped objects"
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

modified messsage
  modules/core/overrides/Gio.js
Due: eslint

subprojects: Use GLib main branch
  subprojects/glib.wrap
Due: none

CI: Add autoconf213 to dependencies in Dockerfile
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

maint: Add linter rule for multiline object literals
  .eslintrc.yml
  installed-tests/js/testFundamental.js
  installed-tests/js/testGObjectClass.js
Due: eslint

CI: Correct task ID for TSAN job
  .gitlab-ci.yml
Due: none

gettext: Export LocaleCategory enum in ES module
  modules/esm/gettext.js
Due: eslint

jsapi-util-string: Handle BigInt in gjs_debug_value()
  gjs/gjs_pch.hh
  gjs/jsapi-util-string.cpp
  installed-tests/js/testGIMarshalling.js
  meson.build
  test/gjs-tests.cpp
Due: cppcheck, cpplint, eslint

GObject: Call only setter for JS-defined construct-only properties
  gi/gobject.cpp
Due: cppcheck, cpplint

object: Avoid setting construct properties multiple times
  gi/object.cpp
Due: cppcheck, cpplint

gi: Correctly hold references for gvariant transfer parameters
  gi/boxed.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

byteArray: Refactor functionality into Encoding
  gjs/byteArray.cpp
  gjs/context.cpp
  gjs/text-encoding.cpp
  gjs/text-encoding.h
  meson.build
Due: cppcheck, cpplint

ByteArray: Clarify eslint override
  modules/script/byteArray.js
Due: eslint

ByteArray: Add jsdoc to ByteArray.fromArray()
  modules/script/byteArray.js
Due: eslint

jsapi-util-string: Clean up gjs_string_from_utf8() to use early return
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

text-encoding: Factor out UTF-16 codeset into a string constant
  gjs/text-encoding.cpp
Due: cppcheck, cpplint

text-encoding: Improve and factor out check for "UTF-8" encoding
  gjs/text-encoding.cpp
Due: cppcheck, cpplint

jsapi-util-args: Fix obsolete comments
  gjs/jsapi-util-args.h
Due: cppcheck, cpplint

jsapi-util-args: Add 'S' conversion specifier
  gjs/jsapi-util-args.h
  test/gjs-test-call-args.cpp
Due: cppcheck, cpplint

jsapi-util-args: Improve template for free_if_necessary
  gjs/jsapi-util-args.h
Due: cppcheck, cpplint

jsapi-util-args: Fix assert_match() in tests
  test/gjs-test-call-args.cpp
Due: cppcheck, cpplint

internal: Use gjs_parse_call_args() in internal module loader functions
  gjs/internal.cpp
Due: cppcheck, cpplint
