Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh

package: Really specify GIRepository version
  modules/script/package.js
Due: eslint

CI: Update non-debug Dockerfile with correct versions
  test/extra/Dockerfile
Due: none

maint: Include missing config.h
  gi/arg-inl.h
  gjs/profiler-private.h
Due: cppcheck, cpplint, pch_check

private: Remove unnecessary comma
  gi/private.cpp
Due: cppcheck, cpplint, pch_check

introspection: Replace GArgument -> GIArgument
  gi/arg-cache.cpp
  gi/arg-inl.h
  gi/arg.cpp
  gi/boxed.cpp
  gi/foreign.cpp
  gi/foreign.h
  gi/function.cpp
  gi/fundamental.cpp
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

jsapi-util-root: Add missing include
  gjs/jsapi-util-root.h
Due: cppcheck, cpplint, pch_check

value: Don't pass GISignalInfo to gjs_value_from_ functions
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

gi: Remove unnecessary casts
  gi/arg.cpp
  gi/object.cpp
  gi/repo.cpp
Due: cppcheck, cpplint, pch_check

docs: Update info about standalone SpiderMonkey release
  doc/Understanding-SpiderMonkey-code.md
Due: none

introspection: Use C++ introspection info API when available
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

arg: Remove redundant argument from is_gvalue()
  gi/arg.cpp
Due: cppcheck, cpplint, pch_check

maint: Add clangd configuration
  .clangd
Due: none

jsapi-class: Fix cyclic include
  gi/wrapperutils.h
  gjs/jsapi-class.h
Due: cppcheck, cpplint, pch_check

gi: Rename all "g_argument" functions to "gi_argument"
  gi/arg-cache.cpp
  gi/arg-inl.h
  gi/arg.cpp
  gi/arg.h
  gi/boxed.cpp
  gi/foreign.cpp
  gi/foreign.h
  gi/function.cpp
  gi/fundamental.cpp
  gi/object.cpp
  gi/repo.cpp
  gi/value.cpp
  modules/cairo-context.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint, pch_check

object: Fix profiler stack frame label
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object: Add null check for GdkSurface introspection info
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

private: Assert associateClosure()'s function is callable
  gi/private.cpp
  installed-tests/js/testGtk4.js
Due: cppcheck, cpplint, eslint, pch_check

gi/gerror: Fix version of the GIRepository typelib import
  gi/gerror.cpp
Due: cppcheck, cpplint, pch_check

package: Specify GIRepository version
  modules/script/package.js
Due: eslint

build: Pre-release version bump
  meson.build
Due: none

release: Prepare for 1.76.3
  NEWS
Due: none

release: Prepare for 1.78.4
  NEWS
Due: none

release: Prepare for 1.79.3
  NEWS
Due: none

release: Include NEWS from stable branch
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

context: Call js::RunJobs() to allow WeakRefs to work
  gjs/promise.cpp
  installed-tests/js/.eslintrc.yml
  installed-tests/js/meson.build
  installed-tests/js/testGObjectClass.js
  installed-tests/js/testGtk3.js
  installed-tests/js/testGtk4.js
  installed-tests/js/testLegacyGtk.js
  installed-tests/js/testWeakRef.js
Due: cppcheck, cpplint, eslint, pch_check

context: Set a FinalizationRegistry cleanup callback
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
  installed-tests/js/testWeakRef.js
Due: cppcheck, cpplint, eslint, pch_check

arg: Throw on flat zero-terminated non-GValue array
  gi/arg.cpp
Due: cppcheck, cpplint, pch_check

testGIMarshalling: Check we handle null arrays gracefully
  installed-tests/js/testGIMarshalling.js
Due: eslint

testGIMarshalling/testRegress: Add few more cases for null values
  installed-tests/js/testGIMarshalling.js
Due: eslint

arg-inl, js-value-inl: Add ability to pass type tag to conversion functions
  gi/arg-inl.h
  gi/js-value-inl.h
Due: cppcheck, cpplint, pch_check

arg-cache/function: Simplify the return parsing for basic types
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Generate different argument types for strings and filenames
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Add implementation for return and out string arguments
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Rename BaseInfo to HasIntrospectionInfo
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

object: Fix introspection info types
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/boxed.cpp
  gi/boxed.h
  gi/foreign.cpp
  gi/foreign.h
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint, pch_check

arg: Remove assumption that GIValueInfo means GValue
  gi/arg.cpp
Due: cppcheck, cpplint, pch_check

value: Remove dead code
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

value: Don't use AutoArgInfo when expecting stack-allocated GIArgInfo
  gi/value.cpp
Due: cppcheck, cpplint, pch_check
