Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh

tools: Update package lockfile
  tools/package-lock.json
Due: none

module loader: Never return null from loadURI()
  modules/internal/internalLoader.js
  modules/internal/loader.js
Due: eslint

module loader: Fix crash on dynamically importing a module with sourcemap
  installed-tests/debugger-test.sh
  installed-tests/debugger/sourcemap-dynamic-module.debugger
  installed-tests/debugger/sourcemap-dynamic-module.debugger.js
  installed-tests/debugger/sourcemap-dynamic-module.debugger.output
  installed-tests/meson.build
  modules/internal/loader.js
Due: eslint

tools: Add typecheck script
  modules/internal/source-map/array-set.js
  modules/internal/source-map/base64-vlq.js
  modules/internal/source-map/base64.js
  modules/internal/source-map/binary-search.js
  modules/internal/source-map/extractUrl.js
  modules/internal/source-map/source-map-consumer.js
  modules/internal/source-map/util.js
  tools/package-lock.json
  tools/package.json
  tsconfig.json
Due: eslint

CI: Add typecheck job
  .gitlab-ci.yml
  tools/run_typecheck.sh
Due: none

module loader: Add missing types for module hooks
  modules/internal/internalLoader.js
  modules/internal/loader.js
  tsconfig.json
Due: eslint

testRegress: add corresponding GJS tests for discontinuous flag values with private values
  installed-tests/js/testRegress.js
Due: eslint

build: Shorten debugger test names
  installed-tests/meson.build
Due: none

internal: Fix name of function
  gjs/internal.cpp
Due: cppcheck, cpplint, pch_check

CI: Remove include_what_you_use messages from cpplint
  test/test-ci.sh
Due: none

arg: Remove unnecessary constref to JS::HandleValue
  gi/arg-inl.h
  gi/arg.cpp
  gi/js-value-inl.h
Due: cppcheck, cpplint, pch_check

arg-cache: Pack Argument::Init struct
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint, pch_check

build: Remove git-evtag from maintainer-tag-release script
  build/maintainer-tag-release.sh
Due: none

value: Choose correct template specialization for enum/flags
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

CI: Remove mozjs115 jobs
  .gitlab-ci.yml
Due: none

value: Fix typo in error message
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

tests: Write new tests corresponding to updated g-i-tests
  installed-tests/js/testCairo.js
Due: eslint

Gtk: Rename BuilderScope to TemplateBuilderScope
  modules/core/overrides/Gtk.js
Due: eslint

module loader: Throw on resolution fail instead of returning nullable URI
  modules/internal/environment.d.ts
  modules/internal/internalLoader.js
  modules/internal/loader.js
  test/gjs-tests.cpp
Due: cppcheck, cpplint, eslint, pch_check

jsapi-util: Better error sensitivity in exception logging
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint, pch_check

source maps: Bail out of printing source maps if we can't iterate
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint, pch_check

example: Use import.meta.url in GTK4 template example
  examples/gtk4-template.js
Due: eslint

internal: Factor out Uri object creation into gjs_uri_object()
  gjs/internal.cpp
Due: cppcheck, cpplint, pch_check

global: Pass JSString to global_source_map_get()
  gjs/global.cpp
  gjs/global.h
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint, pch_check

module loader: Refactor to pass URI object to resolveSpecifier
  modules/internal/internalLoader.js
  modules/internal/loader.js
Due: eslint

module loader: Make resolveRelativeResourceOrFile() return Uri object
  gjs/internal.cpp
  modules/internal/environment.d.ts
  modules/internal/internalLoader.js
  modules/internal/loader.js
Due: cppcheck, cpplint, eslint, pch_check

maint: Alphabetize list of internal global properties
  modules/internal/.eslintrc.yml
  modules/internal/environment.d.ts
  modules/internal/loader.js
Due: eslint

maint: Ignore any root folder starting with _ in eslint
  .eslintignore
Due: eslint

console: Reformat long g_object_new() call
  gjs/console.cpp
Due: cppcheck, cpplint, pch_check

maint: Change C++ inline docs to GLib-style comment format
  gjs/global.cpp
  gjs/internal.cpp
  gjs/jsapi-util-string.cpp
  gjs/module.cpp
  gjs/promise.cpp
  gjs/promise.h
Due: cppcheck, cpplint, pch_check

jsapi-util-error: Print column number in console warning reports
  gjs/jsapi-util-error.cpp
Due: cppcheck, cpplint, pch_check

maint: Remove jsconfig.json
  jsconfig.json
Due: none

module loader: Refactor loadURI to not return whether module is internal
  modules/internal/environment.d.ts
  modules/internal/internalLoader.js
  modules/internal/loader.js
Due: eslint

console: Remove periods from command line help descriptions
  gjs/console.cpp
Due: cppcheck, cpplint, pch_check

module: Rename importingModulePriv → importing_module_priv
  gjs/module.cpp
Due: cppcheck, cpplint, pch_check

release: Prepare for 1.83.90
  NEWS
  meson.build
Due: none

tests: Prevent `gjs:dbus / Gtk4` connecting to accessibility bus
  installed-tests/js/meson.build
  meson.build
Due: none

tests: Make `gjs:Scripts / Warnings` conditional on GTK 4 being available
  installed-tests/js/meson.build
  installed-tests/meson.build
Due: none

tests: Make `gjs:Scripts / Warnings` conditional on DISPLAY
  installed-tests/meson.build
Due: none

testWarnings: run gc wrapper test only under Gtk4
  installed-tests/meson.build
  installed-tests/scripts/testGtk4Warnings.sh
  installed-tests/scripts/testWarnings.sh
Due: none
