Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

arg-cache: Move CallerAllocates parameter to constructor
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Move Callback parameters to constructor
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Move Array parameters to constructor
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Remove return values of set_argument() and friends
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint, pch_check

arg-cache: Move GITypeInfo out of common initialization args
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint, pch_check

arg-cache: Templatize the GITypeInfo in build_interface_in_arg()
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint, pch_check

auto: Add function to safely move JS::UniqueChars to Gjs::AutoChar
  gjs/auto.h
Due: cppcheck, cpplint, pch_check

js-value-inl: Add implementation for js value to c-string
  gi/js-value-inl.h
  installed-tests/js/testRegress.js
Due: cppcheck, cpplint, eslint, pch_check

gjs: Add simple class to wrap a C++ object inside a JS Object
  gjs/jsapi-simple-wrapper.cpp
  gjs/jsapi-simple-wrapper.h
  meson.build
  test/gjs-test-jsapi-utils.cpp
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint, pch_check

object: Bind GIFieldInfo to each field property
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint, pch_check

object: Use simpler property accessors if properties are not actionable
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint, pch_check

arg/arg-cache: Do not duplicate strings that we can steal instead
  gi/arg-cache.cpp
  gi/arg.cpp
Due: cppcheck, cpplint, pch_check

object: Generate properties setters and getters per type
  gi/object.cpp
  gi/object.h
  gi/value.h
Due: cppcheck, cpplint, pch_check

value: Use direct access to GValue field elements
  gi/arg.cpp
  gi/value.cpp
  gi/value.h
Due: cppcheck, cpplint, pch_check

object: Reuse the same property descriptors (and associated objects)
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object/value: Warn when getting properties that can't be stored in JS numbers
  gi/object.cpp
  gi/value.cpp
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGObjectClass.js
Due: cppcheck, cpplint, eslint, pch_check

object: Avoid trying to resolve any field if it's already defined
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

deprecation: Handle null pointers location strings nicely
  gjs/deprecation.cpp
Due: cppcheck, cpplint, pch_check

value: Avoid ambiguity on 32-bit in gvalue_to_string()
  gi/value.h
Due: cppcheck, cpplint, pch_check

ci: Switch to GNOME GitLab mirror of ci-templates
  .gitlab-ci.yml
Due: none

gobject: handle gjs_context_dispose unroots wrappers but ObjectInstance still exists
  gi/gobject.cpp
  installed-tests/scripts/testWarnings.sh
Due: cppcheck, cpplint, pch_check

maint: Update to latest gobject-introspection-tests
  installed-tests/js/meson.build
Due: none

tests: Fix typo
  installed-tests/js/testGIMarshalling.js
Due: eslint

tests: Write tests for all the new stuff added to g-i-tests
  installed-tests/js/.eslintrc.yml
  installed-tests/js/meson.build
  installed-tests/js/testCairo.js
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testRegress.js
  installed-tests/js/testUtility.js
Due: eslint

boxed: Fix memory leak when attempting to write unsupported field
  gi/boxed.cpp
Due: cppcheck, cpplint, pch_check

tests: Test for current behaviour of skipped parameters
  installed-tests/js/testRegress.js
Due: eslint

tests: Skip dev_t inout for the time being
  installed-tests/js/testGIMarshalling.js
Due: eslint

CI: Fix cppcheck job
  .gitlab-ci.yml
Due: none

closure: guard against non-js thread when marshalling
  gi/value.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObject.js
Due: cppcheck, cpplint, eslint, pch_check

maint: Adapt maintainer-upload-release script for GNOME Release Service
  .gitlab-ci.yml
  build/maintainer-tag-release.sh
  meson.build
Due: none

maint: Add more stable branches to maintainer-tag-release
  build/maintainer-tag-release.sh
Due: none

CI: Update to use GNOME Release Service
  .gitlab-ci.yml
  test/test-ci.sh
Due: none

tests: Suppress cppcheck error
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
Due: cppcheck, cpplint, pch_check

debugger: show private fields in print and keys command
  installed-tests/debugger/keys.debugger
  installed-tests/debugger/keys.debugger.js
  installed-tests/debugger/keys.debugger.output
  installed-tests/debugger/print.debugger
  installed-tests/debugger/print.debugger.js
  installed-tests/debugger/print.debugger.output
  modules/script/_bootstrap/debugger.js
  modules/script/_bootstrap/default.js
Due: eslint

deprecation: Accept std::string for deprecation message format arguments
  gi/ns.cpp
  gi/object.cpp
  gjs/deprecation.cpp
  gjs/deprecation.h
  gjs/module.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Use Maybe for return types
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Untemplatize ArgsCache::set_array_argument
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint, pch_check

gi: Use format_name() in exception and debug messages
  gi/boxed.cpp
  gi/function.cpp
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/object.cpp
  gi/union.cpp
  gi/wrapperutils.h
Due: cppcheck, cpplint, pch_check

arg-cache: Check for GdkAtom first
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

arg-cache: Use full tagged types in Numeric arg-cache
  gi/arg-cache.cpp
  gi/arg-inl.h
Due: cppcheck, cpplint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
