Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

profiler: Support external SysprofCaptureWriters
  gjs/profiler.cpp
  gjs/profiler.h
Due: cppcheck, cpplint

object: Use switch to introspection unsupported tags
  gi/object.cpp
Due: cppcheck, cpplint

arg-cache: Use switch to select the array length argument type
  gi/arg-cache.cpp
Due: cppcheck, cpplint

jsapi-util-error: Use switch to filter the supported error protos
  gjs/jsapi-util-error.cpp
Due: cppcheck, cpplint

arg: Use a switch to check the intarray element tags
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Use switch/cases instead of long if's when convenient
  gi/arg.cpp
Due: cppcheck, cpplint

gjs-tests: Add tests to verify rounded GArgument getter
  test/gjs-tests.cpp
Due: cppcheck, cpplint

gjs-tests: Add gjs_arg_* tests
  test/gjs-tests.cpp
Due: cppcheck, cpplint

CI: Fix IWYU includes
  gi/function.cpp
  gi/gtype.cpp
  gi/object.cpp
  gi/repo.cpp
  gjs/importer.cpp
  modules/cairo-context.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-ps-surface.cpp
  modules/cairo-radial-gradient.cpp
  modules/cairo-svg-surface.cpp
Due: cppcheck, cpplint

function: Make gjs_callback_trampoline_ref to return the struct
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

function: Use gatomicrefcount for trampoline refcounting
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

function: Define a trampoline autopointer cleanup function and use it
  gi/arg-cache.cpp
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

function: Cleanup the completed trampolines removal in one call
  gi/function.cpp
Due: cppcheck, cpplint

function: Use more auto pointers for base info
  gi/function.cpp
Due: cppcheck, cpplint

engine: Cleanup leftover async calls trampolines on gc
  gi/function.cpp
  gi/function.h
  gjs/engine.cpp
Due: cppcheck, cpplint

arg-cache: Make it clearer how we handle the trampoline references
  gi/arg-cache.cpp
  gi/function.cpp
Due: cppcheck, cpplint

function: Use a vector to hold the completed trampolines
  gi/function.cpp
  tools/process_iwyu.py
Due: cppcheck, cpplint

jsapi-util: Mark some GjsAutoPointer operations as constexpr
  gjs/jsapi-util.h
Due: cppcheck, cpplint

function: Use c++ features to handle GjsCallbackTrampoline
  gi/arg-cache.cpp
  gi/function.cpp
  gi/function.h
  gi/object.cpp
Due: cppcheck, cpplint

function: Split trampoline callback handler removing goto
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

Prevent passing null pointers when not nullable.
  gi/arg-cache.cpp
Due: cppcheck, cpplint

Add test for not-nullable gpointer parameters.
  installed-tests/js/testGLib.js
Due: eslint

arg: Automatically figure out the proper container type for a JS value
  gi/arg.cpp
  gi/js-value-inl.h
Due: cppcheck, cpplint

arg: Automatically set all the numeric values to GIArguments
  gi/arg-inl.h
  gi/arg.cpp
  gi/js-value-inl.h
Due: cppcheck, cpplint

js-value-inl: Add Support for GType and 64 bit integer
  gi/js-value-inl.h
Due: cppcheck, cpplint

arg-cache: Use gjs_arg_set_from_js_value to set arguments from JS
  gi/arg-cache.cpp
Due: cppcheck, cpplint

arg: Add a templated static type name function
  gi/arg-types-inl.h
Due: cppcheck, cpplint

maint: Replace clutter example image with a known license-free one
  examples/test.jpg
  examples/test.jpg.license
Due: none

examples: Fix Clutter example
  examples/clutter.js
Due: eslint

profiler: More specific struct initializer expressions
  gjs/profiler.cpp
Due: cppcheck, cpplint

jsapi-util: Change upper limit of RSS trigger to uint32 max
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

maint: Add license to files that were copied from GLib
  subprojects/libffi.wrap
  subprojects/proxy-libintl.wrap
  subprojects/sysprof.wrap
  subprojects/zlib.wrap
  tools/lcovrc
Due: none

maint: Remove obsolete unittest.gdb
  installed-tests/extra/unittest.gdb
Due: none

maint: Remove Mozilla license from stack.cpp
  COPYING
  gjs/stack.cpp
Due: cppcheck, cpplint

maint: Remove weird indentation from Meson subproject file
  subprojects/sysprof.wrap
Due: none

CI: Make clang jobs actually use clang
  .gitlab-ci.yml
Due: none

maint: Mark parameters maybe_unused if only used in asserts
  gi/closure.cpp
  gi/object.cpp
  gjs/context.cpp
  gjs/jsapi-util.h
Due: cppcheck, cpplint

maint: Add MIT license to clang-format hooks
  tools/apply-format
  tools/git-pre-commit-format
Due: none
