Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js

object: Use "associated memory" API instead of malloc counter
  gi/object.cpp
  gi/object.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

engine: Remove locale callbacks
  gjs/engine.cpp
  installed-tests/js/meson.build
  installed-tests/js/testLocale.js
  installed-tests/js/testself.js
Due: cppcheck, cpplint, eslint

docs: Update documentation for SpiderMonkey 68
  NEWS
  README.MSVC.md
  doc/Hacking.md
Due: none

context: Rewrite promise job queue
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
  modules/console.cpp
Due: cppcheck, cpplint

tests: Minor changes in debugger and coverage expected output
  installed-tests/debugger/backtrace.debugger.output
  test/gjs-test-coverage.cpp
Due: cppcheck, cpplint

js: Use new warnings API
  gi/function.cpp
  gi/object.cpp
  gi/repo.cpp
  gi/union.cpp
  gjs/engine.cpp
  modules/console.cpp
Due: cppcheck, cpplint

tests: Add weak pointer callback in tests with untraced weak pointer
  gjs/jsapi-util-root.h
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint

gtype: Don't use lookupForAdd() when adding GType to table
  gi/gtype.cpp
Due: cppcheck, cpplint

object: Add overrides for signal matching methods
  gi/closure.cpp
  gi/object.cpp
  gi/object.h
  gi/private.cpp
  gjs/atoms.h
  installed-tests/js/testGObjectClass.js
  modules/overrides/GObject.js
Due: cppcheck, cpplint, eslint

docs: Fix badge in README
  README.md
Due: none

build: Remove duplicate meson argument
  installed-tests/js/meson.build
Due: none

release: Prepare for 1.63.90
  NEWS
  meson.build
Due: none

build: Post-release version bump
  meson.build
Due: none

maint: Run eslint job when eslint config files change
  .gitlab-ci.yml
Due: none

maint: Fix eslint errors
  examples/gtk-application.js
  installed-tests/js/testTweener.js
Due: eslint

doc: Update references to module files in documentation
  doc/Modules.md
  doc/Package/Specification.md
  installed-tests/js/testGObject.js
Due: eslint

object: Bypass read barrier in jsobj_addr()
  gi/object.cpp
Due: cppcheck, cpplint

wrapper: Change type of debug addresses to void*
  gi/closure.cpp
  gi/object.cpp
  gi/object.h
  gi/wrapperutils.h
  gjs/jsapi-util-root.h
Due: cppcheck, cpplint

installed-tests/js/meson.build: Don't use -Wno-error on MSVC
  installed-tests/js/meson.build
Due: none

gi/arg.cpp, gjs/importer.cpp: Avoid C++ ambiguity
  gi/arg.cpp
  gjs/importer.cpp
Due: cppcheck, cpplint

gjs/global.cpp: Fix linking on Visual Studio builds
  gjs/global.cpp
Due: cppcheck, cpplint

README.MSVC.md: Update build instructions
  README.MSVC.md
Due: none

gjs/context.cpp: Make typelib search path consistent
  gjs/context.cpp
  win32/install.mak
Due: cppcheck, cpplint

gjs/*.cpp, util/*.cpp: Check for sys/signal.h and _WIN32
  configure.ac
  doc/CPP_Style_Guide.md
  gjs/console.cpp
  gjs/context.cpp
  gjs/context.h
  gjs/debugger.cpp
  gjs/engine.cpp
  gjs/importer.cpp
  gjs/jsapi-util.cpp
  gjs/profiler.cpp
  util/log.cpp
  win32/config.h.win32.in
Due: cppcheck, cpplint

NMake: Define NOMINMAX during the build
  win32/config-msvc.mak
Due: none

installed-tests/js: Add missing dep on warnlib_typelib
  installed-tests/js/meson.build
Due: none

object: Cache known unresolvable properties
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

jsapi-util: add GjsAutoFree
  gjs/jsapi-util.h
Due: cppcheck, cpplint

object: fix property regression
  gi/object.cpp
Due: cppcheck, cpplint

Add test for no introspection data.
  test/gjs-test-no-introspection-object.cpp
  test/gjs-test-no-introspection-object.h
  test/gjs-tests.cpp
  test/meson.build
Due: cppcheck, cpplint

release: Prepare for 1.58.5
  NEWS
Due: none

release: Prepare for 1.63.91
  NEWS
Due: none

object: Use g_irepository_get_object_gtype_interfaces
  gi/object.cpp
Due: cppcheck, cpplint

build: Add -fno-semantic-interposition to -Bsymbolic-functions
  meson.build
Due: none

examples: add a dbus-client and dbus-service example
  examples/dbus-client.js
  examples/dbus-service.js
Due: eslint

tests: Avoid filename conflict when tests run in parallel
  test/gjs-tests.cpp
Due: cppcheck, cpplint

maint: Make all operator bool explicit
  gjs/engine.cpp
  gjs/jsapi-util-root.h
Due: cppcheck, cpplint
