Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: singapore/lint-condo
  stage: source_check
  script:
  - node /usr/src/lint-condo

arg: Generate heap values using a single template function
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Add an utility header to access to GIArgument union members by type
  gi/arg-inl.h
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Add arguments setter/getter to use implicit types
  gi/arg-inl.h
  gi/arg.cpp
Due: cppcheck, cpplint

arg: Add template specialization for boolean
  gi/arg-inl.h
Due: cppcheck, cpplint

CI: Fix image builds
  test/extra/Dockerfile
Due: none

tests: Adapt to GTK4 API changes
  installed-tests/js/testGtk4.js
Due: eslint

release: Prepare for 1.64.4
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

release: Prepare for 1.65.4
  NEWS
Due: none

CI: Don't run iwyu jobs on schedules
  .gitlab-ci.yml
Due: none

CI: Build sysprof from source in debug image
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

profiler: Implement flush delay internally
  gjs/profiler.cpp
Due: cppcheck, cpplint

CI: Build profiler only on debug CI images, and bump pinned image
  .gitlab-ci.yml
Due: none

build: Bump sysprof dependency to libsysprof-capture-4.a
  meson.build
Due: none

build: Add sysprof-capture-4 subproject
  meson.build
  subprojects/sysprof.wrap
Due: none

CI: Run coverage jobs on debug image as well
  .gitlab-ci.yml
Due: none

arg: Ignore compiler warning on un-initialized value
  gi/arg.cpp
Due: cppcheck, cpplint

testIntrospection: Verify we warn also when trying to use MININT64
  installed-tests/js/testIntrospection.js
Due: eslint

arg: Update copyright statement
  gi/arg.cpp
Due: cppcheck, cpplint

build: Add sysprof subproject dir to gitignore
  subprojects/.gitignore
Due: none

CI: Check separate inline header files as well
  tools/run_iwyu.sh
Due: none

build: Fix includes according to latest IWYU config
  gi/boxed.h
  gi/object.cpp
  gi/object.h
  gi/wrapperutils.h
  gjs/atoms.h
  gjs/importer.cpp
Due: cppcheck, cpplint

CI: Switch ASAN jobs to runners tagged so
  .gitlab-ci.yml
Due: none

global: Refactor to support multiple global types.
  gi/repo.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/debugger.cpp
  gjs/global.cpp
  gjs/global.h
  gjs/jsapi-class.h
  modules/script/_bootstrap/debugger.js
Due: cppcheck, cpplint, eslint

Fix iwyu errors.
  gjs/context-private.h
Due: cppcheck, cpplint

jsapi-dynamic-class: Don't predefine properties with RESOLVING flag
  gjs/jsapi-dynamic-class.cpp
Due: cppcheck, cpplint

engine: Remove GJS_DISABLE_EXTRA_WARNINGS
  gjs/engine.cpp
  installed-tests/minijasmine.cpp
  test/gjs-test-coverage.cpp
Due: cppcheck, cpplint

build: Switch to C++17
  doc/CPP_Style_Guide.md
  meson.build
Due: none

object: Use JS::Heap<jsid> in the negative lookup cache
  gi/object.h
Due: cppcheck, cpplint

js: Define Symbol.toStringTag names on all our custom classes
  gi/function.cpp
  gi/gtype.cpp
  gi/ns.cpp
  gi/object.cpp
  gi/object.h
  gi/repo.cpp
  gi/wrapperutils.h
  gjs/global.cpp
  gjs/importer.cpp
  modules/cairo-context.cpp
  modules/cairo-gradient.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-ps-surface.cpp
  modules/cairo-radial-gradient.cpp
  modules/cairo-region.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-surface.cpp
  modules/cairo-svg-surface.cpp
Due: cppcheck, cpplint

engine: Use JS_SetGlobalJitCompilerOption to control the JIT
  gjs/engine.cpp
Due: cppcheck, cpplint

arg: Add utility function to unset a GIArgument depending on type
  gi/arg-inl.h
Due: cppcheck, cpplint

arg: Use GIArgument's char pointer to store strings
  gi/arg-inl.h
Due: cppcheck, cpplint

js: Use gjs_arg_value to get, set and access GIArgument values
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/object.cpp
  gi/union.cpp
  gi/value.cpp
  gi/wrapperutils.h
  modules/cairo-context.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint

arg: Add GIArgument setter overload for char32_t
  gi/arg-inl.h
Due: cppcheck, cpplint

function: Ensure ffi return pointer initialization is consistent
  gi/function.cpp
Due: cppcheck, cpplint

arg: Add GIArgument setter overload for function pointers
  gi/arg-inl.h
Due: cppcheck, cpplint

gi: Use specialized GIArgument wrapper to handle enum types
  gi/arg-inl.h
Due: cppcheck, cpplint

arg: Make possible to set any pointer type without casting
  gi/arg-inl.h
Due: cppcheck, cpplint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js
