Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

gjs-util: make gjs_setlocale thread-safe
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/core/_gettext.js
  tools/gjs-private-iwyu.imp
Due: cppcheck, cpplint, eslint, pch_check

release: Prepare for 1.83.1
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

profiler: only build dynamic string for profiler label if profiling
  gi/function.cpp
  gi/object.cpp
  gi/wrapperutils.h
  gjs/profiler-private.h
Due: cppcheck, cpplint, pch_check

format: Fix %Id to work regardless of libc implementation
  installed-tests/scripts/testCommandLine.sh
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  meson.build
  modules/core/_format.js
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: cppcheck, cpplint, eslint, pch_check

prettyPrinter: handle null prototype and nullish toString
  installed-tests/debugger/print.debugger
  installed-tests/debugger/print.debugger.js
  installed-tests/debugger/print.debugger.output
  installed-tests/js/testPrint.js
  modules/script/_bootstrap/default.js
Due: eslint

object: Fix missing static_type_name template parameter
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object: Fix relaxed vs strict conversion in property setter via paramspec
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

release: Prepare for 1.83.2
  NEWS
Due: none

console: Use readline callback-based API
  meson.build
  modules/console.cpp
Due: cppcheck, cpplint, pch_check

object: Handle simple getters/setters with type void*
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object: Pass GIFunctionInfo to property callers by pointer
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object: Factor out create_getter_invoker and create_setter_invoker
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object: Use g_callable_info_load_arg before create_setter_invoker
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

object: Handle mismatch in type of property with type of C accessor
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

overrides: add simpler GObject.Value constructor API
  installed-tests/js/testGObjectValue.js
  modules/core/overrides/GObject.js
Due: eslint

build: Use Meson 1.4 and full_path() feature
  meson.build
Due: none

Revert "object: Fix relaxed vs strict conversion in property setter via paramspec"
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

function: Remove inferrable template type parameter
  gi/function.cpp
Due: cppcheck, cpplint, pch_check

arg-types-inl: Replace static_type_name() with MarshallingInfo struct
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg-types-inl.h
  gi/arg.cpp
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

value: Specify signed char in gvalue_get specialization
  gi/value.cpp
Due: cppcheck, cpplint, pch_check

value: Avoid more ambiguity on 32-bit in gvalue_to_string()
  gi/value.h
Due: cppcheck, cpplint, pch_check

object: Handle signed and unsigned long properties in fast path
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

arg-types-inl: Explain JSValueHolder::Strict and Relaxed
  gi/arg-inl.h
  gi/arg-types-inl.h
  gi/arg.cpp
  gi/js-value-inl.h
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

arg-types-inl: Replace <T, TAG> pairs with a single TAG
  gi/arg-cache.cpp
  gi/arg-inl.h
  gi/arg-types-inl.h
  gi/arg.cpp
  gi/function.cpp
  gi/js-value-inl.h
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  gi/value.h
  test/gjs-tests.cpp
Due: cppcheck, cpplint, pch_check

js-value-inl: Work around case where int64_t is long long
  gi/js-value-inl.h
Due: cppcheck, cpplint, pch_check

util: Fix memory leak when newlocale fails
  libgjs-private/gjs-util.c
Due: cppcheck, pch_check

Update g-i-tests
  installed-tests/js/testGIMarshalling.js
Due: eslint

object: Add tests for static virtual functions
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGObjectClass.js
Due: eslint

object: Add support for static virtual functions
  gi/object.cpp
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGObjectClass.js
  modules/core/overrides/GObject.js
Due: cppcheck, cpplint, eslint, pch_check

release: Prepare for 1.83.3
  NEWS
Due: none

release: Prepare for 1.83.4
  NEWS
Due: none

module loader: Move jsdoc types to environment file, and correct jsdoc
  modules/internal/environment.d.ts
  modules/internal/internalLoader.js
  modules/internal/loader.js
Due: eslint

module loader: Wrap GI loadAsync in Promise
  modules/internal/loader.js
Due: eslint

module loader: Fix nullish type confusion
  modules/internal/loader.js
Due: eslint

source maps: Use resolveRelativePath directly instead of resolveSpecifier
  modules/internal/loader.js
Due: eslint

module loader: Fix crash when dynamic importing unknown URI scheme
  installed-tests/js/.eslintrc.yml
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/modules/networkURI.js
  installed-tests/js/modules/scaryURI.js
  installed-tests/js/testESModules.js
  modules/internal/environment.d.ts
  modules/internal/loader.js
Due: eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
