Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh

repo: Handle GioUnix/GioWin32 types being returned from Gio methods
  gi/interface.cpp
  gi/object.cpp
  gi/repo.cpp
  gi/repo.h
  gi/value.cpp
  installed-tests/js/testIntrospection.js
Due: cppcheck, cpplint, eslint, pch_check

GBytes to be accepted by TextDecoder
  installed-tests/js/testEncoding.js
  modules/esm/_encoding/encoding.js
Due: eslint

doc: Document how to get a stack trace
  doc/Hacking.md
Due: none

maint: Remove dependency on G_GINT64_MODIFIER
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/enumeration.cpp
Due: cppcheck, cpplint, pch_check

debugger: Improve keys command
  installed-tests/debugger/keys.debugger
  installed-tests/debugger/keys.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

debugger: Refactor throwOrReturn to deal with exceptions from eval
  installed-tests/debugger/return.debugger
  installed-tests/debugger/return.debugger.output
  installed-tests/debugger/throw.debugger
  installed-tests/debugger/throw.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

jsapi-util-root: De-templateify GjsMaybeOwned
  gi/closure.cpp
  gi/closure.h
  gi/object.cpp
  gi/object.h
  gjs/jsapi-util-root.h
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint, pch_check

debugger: Fix message when throwing or returning from an older frame
  installed-tests/debugger/return.debugger
  installed-tests/debugger/return.debugger.output
  installed-tests/debugger/throw.debugger
  installed-tests/debugger/throw.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

debugger: Remove extra semicolon from debugger test
  installed-tests/debugger/throw.debugger
  installed-tests/debugger/throw.debugger.output
Due: none

repo: Shorten error checking
  gi/repo.cpp
Due: cppcheck, cpplint, pch_check

debugger: Minor improvements from upstream jorendb
  modules/script/_bootstrap/debugger.js
Due: eslint

maint: Update eslint and eslint-plugin-jsdoc
  .eslintrc.yml
  tools/package-lock.json
  tools/package.json
Due: eslint

interface: Don't call g_type_interfaces() in interface enumeration
  gi/interface.cpp
Due: cppcheck, cpplint, pch_check

arg: Remove rooting in a few places
  gi/arg.cpp
Due: cppcheck, cpplint, pch_check

build: Use DYLD_LIBRARY_PATH instead of DYLD_FALLBACK_LIBRARY_PATH
  meson.build
Due: none

tests: Remove obsolete test for ByteArray
  installed-tests/js/testGIMarshalling.js
Due: eslint

CI: Fix branch regex
  .gitlab-ci.yml
Due: none

tests: Move testByteArray into testLegacyByteArray
  installed-tests/js/meson.build
  installed-tests/js/testByteArray.js
  installed-tests/js/testLegacyByteArray.js
Due: eslint

byteArray: Remove usage of ByteArray module within GJS
  installed-tests/js/testGDBus.js
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGLib.js
  installed-tests/js/testGtk3.js
  installed-tests/js/testGtk4.js
  installed-tests/js/testLegacyGtk.js
  modules/core/overrides/GLib.js
Due: eslint

Docs: Use correct reference-link syntax
  doc/SpiderMonkey_Memory.md
  doc/Style_Guide.md
Due: none

Docs: Markdownify Understanding-SpiderMonkey-code
  doc/Understanding-SpiderMonkey-code.md
Due: none

Docs: Remove trailing heading hashes
  doc/CPP_Style_Guide.md
  doc/Hacking.md
  doc/SpiderMonkey_Memory.md
  doc/Style_Guide.md
Due: none

build: Use MESON_INSTALL_DESTDIR_PREFIX instead of joining manually
  build/symlink-gjs.py
Due: none

build: Exclude generated js-resources from unity build
  meson.build
Due: none

build: Fix trailing space
  installed-tests/js/meson.build
Due: none

build: Make directory handling consistent
  installed-tests/meson.build
  meson.build
Due: none

build: Call glib-compile-schemas directly instead of wrapper script
  build/compile-gschemas.py
  meson.build
Due: none

build: Remove unused variables
  installed-tests/js/meson.build
  installed-tests/meson.build
Due: none

build: Rename _GJS_TEST_TOOL_EXTERN -> GJS_TEST_TOOL_EXTERN
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/libgjstesttools/meson.build
Due: cppcheck, cpplint, pch_check

build: Bump Meson dependency to 0.62
  installed-tests/js/libgjstesttools/meson.build
  installed-tests/js/meson.build
  meson.build
Due: none

gi/object.cpp: Fix build on Visual Studio under C++-17
  gi/object.cpp
Due: cppcheck, cpplint, pch_check

gjs/deprecation.h: Make Enum basetype explicit
  gjs/deprecation.h
Due: cppcheck, cpplint, pch_check

modules/console: Do not avoid pretty printing undefined values
  modules/console.cpp
Due: cppcheck, cpplint, pch_check

param: set Symbol toStringTag property
  gi/param.cpp
  installed-tests/js/testParamSpec.js
  modules/script/_bootstrap/default.js
Due: cppcheck, cpplint, eslint, pch_check

release: Prepare for 1.81.1
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

maint: Fix codespell
  NEWS
Due: none

importer: do not iterate search path dir if error exists
  gjs/importer.cpp
Due: cppcheck, cpplint, pch_check

prettyPrint: handle more cases in nested objects
  installed-tests/js/testPrint.js
  modules/script/_bootstrap/default.js
Due: eslint

prettyPrint: do not call legacy toString for Uint8Arrays
  installed-tests/js/testPrint.js
  modules/script/_bootstrap/default.js
Due: eslint
