Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: singapore/lint-condo
  stage: source_check
  script:
  - node /usr/src/lint-condo

object: Fix dangling pointer crash
  gi/object.cpp
Due: cppcheck, cpplint

build: Late post-release version bump
  meson.build
Due: none

release: Prepare for 1.63.92
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

build: Remove last traces of Autotools
  installed-tests/scripts/common.sh
  installed-tests/scripts/testCommandLine.sh
  installed-tests/scripts/testWarnings.sh
  test/run-test
Due: none

build: Handle missing /usr/bin/locale
  build/choose-tests-locale.sh
  meson.build
Due: none

release: Prepare for 1.64.0
  NEWS
Due: none

build: Post-branch version bump
  meson.build
Due: none

boxed: Implement newEnumerate hook for boxed objects
  gi/boxed.cpp
  gi/boxed.h
  installed-tests/js/testIntrospection.js
Due: cppcheck, cpplint, eslint

ns: Implement newEnumerate hook for namespaces
  gi/ns.cpp
  installed-tests/js/testIntrospection.js
Due: cppcheck, cpplint, eslint

build: Use more traditional installed-tests variables
  installed-tests/js/meson.build
  installed-tests/meson.build
Due: none

vuild: Pass schemadir to compile-gschemas.py
  build/compile-gschemas.py
  meson.build
Due: none

build: Make installed tests vars absolute
  installed-tests/js/meson.build
  installed-tests/meson.build
Due: none

build: Use installed_tests_execdir in the .test files
  installed-tests/debugger.test.in
  installed-tests/js/meson.build
  installed-tests/meson.build
  installed-tests/minijasmine.test.in
  installed-tests/script.test.in
  meson.build
Due: none

build: Install test libraries under installed_tests_execdir
  installed-tests/js/meson.build
  installed-tests/minijasmine.cpp
Due: cppcheck, cpplint

CI: Tag sanitizer jobs as "privileged"
  .gitlab-ci.yml
Due: none

function: Pass the deferenced callback out pointer value to JS
  gi/function.cpp
Due: cppcheck, cpplint

testRegress: Always enable tests depending on old MR
  installed-tests/js/testRegress.js
Due: eslint

linter: Bump JS version to ES2019
  .eslintrc.yml
Due: none

testGIMarshalling: Verify vfunc inout parameters are correctly hanled
  installed-tests/js/testGIMarshalling.js
Due: eslint

testGIMarshalling: Don't try to override methods we may not have
  installed-tests/js/testGIMarshalling.js
Due: eslint

Fix failed redirect of output in CommandLine tests
  installed-tests/scripts/testCommandLine.sh
Due: none

overrides/Gio: Allow promisifying static methods
  modules/core/overrides/Gio.js
Due: eslint

overrides/Gio: Guard against repeated _promisify() calls
  modules/core/overrides/Gio.js
Due: eslint

tests: Avoid filename conflict when tests run in parallel
  test/gjs-tests.cpp
Due: cppcheck, cpplint

build: Late post-release version bump
  configure.ac
Due: none

release: Prepare for 1.58.6
  NEWS
Due: none

global: Enable BigInt
  gjs/global.cpp
Due: cppcheck, cpplint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js
