Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

typecheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_typecheck.sh --version
  - ./tools/run_typecheck.sh

headers_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - env SELFTEST=1 test/check-headers.sh
  - test/check-pch.sh
  - test/check-headers.sh

jsapi-util-string: Use string for gjs_hyphen_to_camel()
  gi/gobject.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
Due: cpplint, headers_check

jsapi-util: Use string_view for gjs_string_from_utf8()
  gi/arg.cpp
  gi/function.cpp
  gi/gerror.cpp
  gi/gtype.cpp
  gi/wrapperutils.cpp
  gjs/importer.cpp
  gjs/internal.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  modules/system.cpp
  test/gjs-tests.cpp
Due: cpplint, headers_check

ns: Use std::string to hold allocated namespace name
  gi/ns.cpp
  gi/ns.h
Due: cpplint, headers_check

module: Use std::string to store module name
  gjs/importer.cpp
  gjs/module.cpp
  gjs/module.h
Due: cpplint, headers_check

misc: Move statm file parsing to std::string_view
  gjs/jsapi-util.cpp
  util/misc.cpp
  util/misc.h
Due: cpplint, headers_check

context: Use std::string_view for eval source text
  gi/foreign.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/importer.cpp
Due: cpplint, headers_check

tests: Add capability for inspector tests to load a file
  installed-tests/js/inspector/sample.js
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/meson.build
  installed-tests/js/testInspector.js
Due: eslint

tests: Add test harness for inspector
  installed-tests/js/meson.build
  installed-tests/js/testInspector.js
  installed-tests/miniinspector.cpp
Due: cpplint, eslint, headers_check

Release 1.90.0
  NEWS
  meson.build
Due: none

chore: point clangd to meson build dir
  .clangd
Due: none

feat: correctly build filename instead of just concaneting them
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: cpplint, eslint, headers_check

chore: decode Debugger.Script URLs
  modules/script/_bootstrap/inspector.js
Due: eslint

chore: add test for special characters in file name
  installed-tests/js/inspector/nested dir#/% hello.js
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
Due: eslint

Apply 3 suggestion(s) to 2 file(s)
  gjs/debugger.cpp
  installed-tests/js/testInspector.js
Due: cpplint, eslint, headers_check

chore: attribute hello.js to me
  installed-tests/js/inspector/nested dir#/% hello.js
Due: eslint

chore: use autochar and remove null check
  gjs/debugger.cpp
Due: cpplint, headers_check

chore: inline calls to path.get() and cwd.get()
  gjs/debugger.cpp
Due: cpplint, headers_check

fix: file path is not encoded before launching
  modules/script/_bootstrap/inspector.js
Due: eslint

feat: handle program without a cwd
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
Due: eslint

chore: use g_file_new_for_commandline_arg for the loading file
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: cpplint, eslint, headers_check

fix: eslint issues
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
Due: eslint

DAP: handle filenames and cwd correctly when launching a program
  gjs/debugger.cpp
  installed-tests/js/inspector/nested dir#/% hello.js
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: cpplint, eslint, headers_check

inspector: Exit with failure code on error
  gjs/console.cpp
  gjs/context.h
  gjs/debugger.cpp
  installed-tests/js/testInspector.js
  installed-tests/miniinspector.cpp
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: cpplint, eslint, headers_check

inspector: Handle EOF when reading content length header
  gjs/debugger.cpp
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: cpplint, eslint, headers_check

inspector: Fix line and column of stack trace when stopping on entry
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

inspector: Fix stop on entry
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
Due: eslint

inspector: Handle unknown requests gracefully
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
Due: eslint

inspector: Report exit code of the debuggee
  gjs/debugger.cpp
  installed-tests/js/inspector/exitcode.js
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/testInspector.js
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: cpplint, eslint, headers_check

maint: Update header include order
  doc/CPP_Style_Guide.md
  gi/arg-cache.cpp
  gi/function.cpp
  gi/info.h
  gjs/context.cpp
  modules/console.cpp
  test/check-headers.sh
Due: cpplint, headers_check

object: Fix reference leak for GObject that already has a wrapper
  gi/object.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObject.js
  installed-tests/js/testGtk3.js
Due: cpplint, eslint, headers_check

object: Don't modify wrapped GObject list while iterating it
  gi/object.cpp
  installed-tests/js/testGtk4.js
Due: cpplint, eslint, headers_check

closure: Defer closure invalidation when it happens off-thread
  gi/closure.cpp
  gi/closure.h
  gjs/context-private.h
  gjs/context.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cpplint, eslint, headers_check

object: Fix C++20 usage
  gi/object.cpp
Due: cpplint, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh
