Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: node:12
  stage: source_check
  script:
  - ./tools/run_eslint.sh

toggle: Rely on wrapper to cancel finalized objects in queue
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

gjs-test-tools: Throw error if we can't create threads
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
Due: cppcheck, cpplint

testGObjectDestructionAccess: Ignore errors when creating many threads
  installed-tests/js/testGObjectDestructionAccess.js
Due: eslint

GObject: Ensure to call setter methods for construct-only properties
  gi/gobject.cpp
  installed-tests/js/testGObjectClass.js
Due: cppcheck, cpplint, eslint

heapgraph: Add special formatting for Proxy nodes
  tools/heapdot.py
Due: none

context: Don't prepend installed GjsPrivate search path if uninstalled
  doc/Hacking.md
  gjs/context.cpp
Due: cppcheck, cpplint

system: Add missing functions to System module
  modules/esm/system.js
Due: eslint

arg-cache: Never throw when building the argument cache
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
  gi/function.h
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testIntrospection.js
  installed-tests/js/testRegress.js
Due: cppcheck, cpplint, eslint

release: Prepare for 1.68.1
  NEWS
Due: none

context: Collect nursery before heap dump
  gjs/context.cpp
  modules/system.cpp
Due: cppcheck, cpplint

Add overrides for Gio.ListStore.insert_sorted and Gio.ListStore.sort
  installed-tests/js/testGio.js
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/core/overrides/Gio.js
Due: cppcheck, cpplint, eslint

gjs: Define once GCPolicy instead of repeating it all over the places
  gjs/atoms.cpp
  gjs/context-private.h
  gjs/deprecation.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/objectbox.cpp
  gjs/stack.cpp
  modules/cairo-context.cpp
  modules/cairo-gradient.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-path.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-ps-surface.cpp
  modules/cairo-radial-gradient.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-svg-surface.cpp
  modules/cairo.cpp
  modules/print.cpp
Due: cppcheck, cpplint

function: Move Function into the Gjs namespace to be unique
  gi/function.cpp
Due: cppcheck, cpplint

gjs: Ensure that we always use unique names for static values and types
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/gobject.cpp
  gi/private.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  modules/cairo-context.cpp
  modules/cairo-pattern.cpp
  modules/cairo-private.h
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
Due: cppcheck, cpplint

build: Add support to Unity builds and add a CI job testing it
  .gitlab-ci.yml
  gjs/atoms.h
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  meson.build
Due: cppcheck, cpplint

GObject properties with GByteArray type
  gi/value.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

build: Support building with precompiled headers
  .gitlab-ci.yml
  gjs/gjs_pch.hh
  meson.build
Due: none

meson: Ignore precompiled headers option under g++ and earlier versions of meson
  meson.build
Due: none

gjs_pch: Also include the mozjs required defines part of cflags
  gjs/gjs_pch.hh
Due: none

ci: Only perform iwyu builds when actual sources or build parameters changed
  .gitlab-ci.yml
Due: none

test: Add a CI job that ensures that PCH file is populated with all headers
  .gitlab-ci.yml
  test/check-pch.sh
Due: none

system: Use RAII in System.dumpHeap and logging for file pointer
  modules/system.cpp
  util/log.cpp
  util/misc.h
Due: cppcheck, cpplint

test: Move assert_equal definition into Gjs::Test and common header
  test/gjs-test-utils.h
  test/gjs-tests.cpp
Due: cppcheck, cpplint

tests: Move internal API tests into a different test binary
  installed-tests/js/libgjstesttools/meson.build
  meson.build
  test/gjs-tests-internal.cpp
  test/gjs-tests.cpp
  test/meson.build
Due: cppcheck, cpplint

ci: Use unity build with the maximum size possible
  .gitlab-ci.yml
Due: none

test: Move gjs-test code into Gjs::Test namespace
  test/gjs-tests.cpp
Due: cppcheck, cpplint

tests: Add unit tests for ToggleQueue and ObjectInstance usage of it
  gi/object.h
  gi/toggle.h
  test/gjs-test-toggle-queue.cpp
  test/gjs-test-utils.h
  test/gjs-tests-internal.cpp
  test/meson.build
Due: cppcheck, cpplint

arg-inl: Use more auto-generated code avoiding typed parameters
  gi/arg-inl.h
Due: cppcheck, cpplint

jsapi-util: Add GjsAutoPointerSimple to avoid repeating the same type
  gjs/jsapi-util.h
Due: cppcheck, cpplint

context: Use native c++ thread to keep track of the context thread
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint

mem-private: Do not use volatile for atomic values
  gjs/mem-private.h
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint

jsapi-util-root: Mark some constexpr operations as such
  gjs/jsapi-util-root.h
Due: cppcheck, cpplint

object: Optimize a bit AutoGValueVector usage
  gi/object.cpp
Due: cppcheck, cpplint

object: Move private callbacks to the private scope
  gi/object.cpp
  gi/object.h
Due: cppcheck, cpplint

gjs-test-utils: Be more liberal in comparing values of different types
  test/gjs-test-utils.h
Due: cppcheck, cpplint

context: Ensure that the GjsContext object is disposed from the owner thread
  gjs/context.cpp
Due: cppcheck, cpplint

context: Handle dispose notify manually
  gjs/context.cpp
Due: cppcheck, cpplint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
