Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh

feat: basics
  doc/Debugging.md
  modules/script/_bootstrap/inspector.js
  tools/dap-test.py
Due: eslint

feat: improve breakpoint handling
  modules/script/_bootstrap/inspector.js
Due: eslint

feat: pass around seq
  .zed/debug.json
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
  tools/dap-test.py
Due: cpplint, eslint, headers_check

feat: load the inspector file
  gjs/console.cpp
  gjs/context.h
  gjs/debugger.cpp
  js.gresource.xml
  modules/script/_bootstrap/inspector.js
Due: cpplint, eslint, headers_check

chore: no ignore cache
  .gitignore
Due: none

chore: support pause on initial step
  modules/script/_bootstrap/inspector.js
  test.js
Due: eslint

chore: inspector
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
  tsconfig.json
Due: eslint, typecheck

WIP
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
Due: cpplint, eslint, headers_check

chore: implement threads
  modules/script/_bootstrap/inspector.js
Due: eslint

feat: add initial inspector
  modules/script/_bootstrap/inspector.js
  test.js
  tools/dap-test.py
Due: eslint

feat: improve variables printing
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

chore: improve GjsGlobal display
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

feat: add full support for events
  modules/script/_bootstrap/inspector.js
  test.js
  tools/dap-test.py
Due: eslint

chore: change inspector
  modules/script/_bootstrap/inspector.js
Due: eslint

chore: try using _encodingNative for encoding messages
  .zed/debug.json
  gjs/console.cpp
  gjs/debugger.cpp
  modules/script/_bootstrap/inspector.js
  tools/dap-test.py
Due: cpplint, eslint, headers_check

chore: load files as ESM modules
  gjs/debugger.cpp
Due: cpplint, headers_check

feat: add setBreakpoints handler
  modules/script/_bootstrap/inspector.js
Due: eslint

chore: my gjs
  .zed/debug.json
Due: none

feat: improve name
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

feat: handle debugger statement
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

feat: add vscode launch config
  .vscode/launch.json
  .zed/debug.json
Due: none

chore: improve setting
  modules/script/_bootstrap/inspector.js
Due: eslint

feat: implement stepping
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

feat: make next event work (badly)
  modules/script/_bootstrap/inspector.js
Due: eslint

fix: stepping is now line granularity
  modules/script/_bootstrap/inspector.js
Due: eslint

feat: print nested values
  .zed/debug.json
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

feat: support exception filters
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

feat: improve environment display
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

feat: implement more stepping code
  modules/script/_bootstrap/inspector.js
  modules/script/_bootstrap/types.d.ts
Due: eslint

CI: Fix clang-tidy job for libgjs-private/gjs-util.h
  tools/run_clang_tidy.sh
Due: none

Add override for g_settings_bind_with_mapping()
  installed-tests/js/testGio.js
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/core/overrides/Gio.js
Due: cpplint, eslint, headers_check

Apply 3 suggestion(s) to 2 file(s)
  gjs/debugger.cpp
  tsconfig.json
Due: cpplint, typecheck, headers_check

chore: remove unnecessary files
  .vscode/launch.json
  .zed/debug.json
  test.js
Due: eslint

fixup! chore: remove unnecessary files
  doc/Debugging.md
Due: none

chore: remove .cache from .gitignore
  .gitignore
Due: none

chore: use opaque types correctly
  modules/script/_bootstrap/types.d.ts
Due: none

chore: update licence for inspector.js
  modules/script/_bootstrap/inspector.js
Due: eslint

chore: remove explicit initialization to nullptr
  gjs/debugger.cpp
Due: cpplint, headers_check

chore: use gjs_throw instead of JS_ReportErrorUTF8
  gjs/debugger.cpp
Due: cpplint, headers_check

chore: remove unused variable
  gjs/debugger.cpp
Due: cpplint, headers_check
