Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js

build: Port IWYU runner script to use compilation database
  Makefile.am
  configure.ac
  tools/run_iwyu.sh
  tools/run_iwyu.sh.in
Due: none

build: Meson build system
  Makefile.am
  build/compile-gschemas.sh
  installed-tests/extra/gjs.supp
  installed-tests/js/meson.build
  installed-tests/meson.build
  libgjs.map
  libgjs.symbols
  meson.build
  meson_options.txt
  subprojects/.gitignore
  subprojects/glib.wrap
  subprojects/gobject-introspection.wrap
  subprojects/libffi.wrap
  subprojects/proxy-libintl.wrap
  subprojects/zlib.wrap
  test/meson.build
  tools/lcovrc
  tools/run_coverage.sh
Due: none

CI: Add meson CI job
  .gitlab-ci.yml
Due: none

build: Port cppcheck target to use compilation database
  Makefile.am
  doc/Hacking.md
  tools/run_cppcheck.sh
Due: none

CI: Add dbus-x11 to CI images
  test/ci-images.sh
Due: none

build: Bump gobject-introspection requirement to 1.61.2
  configure.ac
  meson.build
Due: none

docs: Update Hacking.md to use Meson workflow
  doc/Hacking.md
Due: none

private: Don't pass argv to for_js_typecheck and use result for later
  gi/private.cpp
Due: cppcheck, cpplint

object: Throw if constructing an unregistered object inheriting from GObject
  gi/object.cpp
Due: cppcheck, cpplint

testGObjectClass: Verify the usage of GObject classes with wrong base
  installed-tests/js/testGObjectClass.js
Due: eslint

meson: Use proper so-version
  meson.build
Due: none

CI: Update pinned job
  .gitlab-ci.yml
Due: none

testGObjectClass: Verify that we properly sanitize the provided GType name
  installed-tests/js/testGObjectClass.js
Due: eslint

GObject: Optionally use the caller script basename to define the GType
  modules/overrides/GObject.js
Due: eslint

GObject: Sanitize provided GTypeName to match allowed ones
  modules/overrides/GObject.js
Due: eslint

testGObject: Verify that GType name is computed for registered classes
  installed-tests/js/testGObjectClass.js
Due: eslint

Don't pass generic marshaller to g_signal_newv()
  gi/private.cpp
Due: cppcheck, cpplint

Fix ESM example (ARGV is broken).
  examples/esm.js
Due: eslint

Fix clutter example. - Clutter Color from_string became static around GNOME 3.8
  examples/clutter.js
Due: eslint
