Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

Fix fundamental conversion with missing functions.
  gi/fundamental.cpp
  gi/fundamental.h
Due: cppcheck, cpplint

Install the js/modules subdirectory along with tests.
  installed-tests/js/meson.build
Due: none

Fix a test expectation for when the test is installed.
  installed-tests/js/testESModules.js
Due: eslint

When GTK isn't enabled, skip each test spec individually.
  installed-tests/js/testIntrospection.js
Due: eslint

tests: Add regression test for null returned GError
  installed-tests/js/testExceptions.js
Due: eslint

docs: Fix contributors link
  README.md
Due: none

Remove comments referring to the slice allocator
  gi/boxed.cpp
  gi/wrapperutils.h
Due: cppcheck, cpplint

build: Use Meson built-in setting for RTTI
  meson.build
  meson_options.txt
Due: none

build: Don't override -no-undefined
  meson.build
Due: none

context: Update obsolete comment
  gjs/context.cpp
Due: cppcheck, cpplint

GObject: Guard against classes with GType name 'Gjs_'
  installed-tests/js/testGObjectClass.js
  modules/core/overrides/GObject.js
Due: eslint

maint: Remove trailing spaces
  gi/boxed.cpp
  gi/toggle.cpp
  gjs/context.cpp
  tools/heapgraph.md
Due: cppcheck, cpplint

context: Use JS::JobQueueIsEmpty optimization
  gjs/context.cpp
Due: cppcheck, cpplint

context: Add some debug logging for promise job queue
  gjs/context.cpp
Due: cppcheck, cpplint

jsapi-util-string: Improve gjs_debug_object() to print more info
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

value: Introspect element-type in arrays
  gi/arg.cpp
  gi/arg.h
  gi/value.cpp
Due: cppcheck, cpplint

testGIMarshalling: Add initial set of tests for arguments in signals
  installed-tests/js/testGIMarshalling.js
Due: eslint

Add some profiling labels
  gi/function.cpp
  gi/object.cpp
  gi/wrapperutils.h
  gjs/profiler-private.h
Due: cppcheck, cpplint

js-value-inl: Consider NaN results to be out of range values for integers
  gi/js-value-inl.h
Due: cppcheck, cpplint

testRegress: Verify that undefined can be passed to C functions
  gi/js-value-inl.h
  installed-tests/js/testRegress.js
Due: cppcheck, cpplint, eslint

README.MSVC.md: Mention about VS2019 requirement
  README.MSVC.md
Due: none

[modules]/cairo-*.cpp: Forward declare specializations
  modules/cairo-context.cpp
  modules/cairo-gradient.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-path.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-ps-surface.cpp
  modules/cairo-radial-gradient.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-svg-surface.cpp
Due: cppcheck, cpplint

console.cpp: Make code build on Windows
  modules/console.cpp
Due: cppcheck, cpplint

enum-utils.h: Fix type ambiguity on Visual Studio
  gi/arg-cache.cpp
  gi/arg-cache.h
  gjs/enum-utils.h
Due: cppcheck, cpplint

util: Add backported version of g_memdup2()
  gjs/byteArray.cpp
  gjs/jsapi-util-string.cpp
  util/misc.h
Due: cppcheck, cpplint

jsapi-util-string: Check for overflow when copying string chars
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint

gi/js-value-inl.h: Cast parameter to std::isnan() to float
  gi/js-value-inl.h
Due: cppcheck, cpplint

function: Prevent copying of GjsFunctionCallState
  gi/function.h
Due: cppcheck, cpplint

function: Mark accessor methods as const
  gi/function.h
Due: cppcheck, cpplint

CI: Increase async test timeout under Valgrind
  installed-tests/js/minijasmine.js
Due: eslint

CI: Update suppressions file
  installed-tests/extra/gjs.supp
Due: none

CI: Skip refcount tests in extra_gc mode
  installed-tests/js/testGIMarshalling.js
Due: eslint

CI: Increase Mainloop test timeout
  installed-tests/js/testMainloop.js
Due: eslint

CI: Skip codespell and license-check in monthly Docker image builds
  .gitlab-ci.yml
Due: none

maint: Fix IWYU warnings
  gi/arg.cpp
  gi/enumeration.cpp
  gi/param.cpp
Due: cppcheck, cpplint

object: Do not call any function on disposed GObject pointers
  gi/object.cpp
  gi/toggle.cpp
  gi/toggle.h
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint

tests/Gtk3: Functions that leads running dispose vfuncs can be safely called
  installed-tests/js/testGtk3.js
Due: eslint

js-value-inl: Only check isnan() on floating point types
  gi/js-value-inl.h
Due: cppcheck, cpplint

build: Forgotten post-release version bump
  meson.build
Due: none

release: Prepare for 1.67.3
  NEWS
Due: none
