Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

js: Add gjs_debug_callable() debug function
  gi/function.cpp
  gi/value.cpp
  gjs/context.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
Due: cppcheck, cpplint, pch_check

build: Build Cairo from subproject if not found
  .gitlab-ci.yml
  doc/CPP_Style_Guide.md
  gjs/context.cpp
  installed-tests/js/meson.build
  meson.build
  meson_options.txt
  subprojects/cairo.wrap
  test/test-ci.sh
Due: cppcheck, cpplint, pch_check

Bump CI image to Fedora 40
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

GjsPrivate: Fix closure annotations
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
Due: cppcheck, cpplint, pch_check

maint: Fix apply-format script to work with clang-format 18.x
  tools/apply-format
Due: none

maint: Update IWYU includes and false positives for 0.22
  gi/arg.cpp
  gi/boxed.cpp
  gi/cwrapper.h
  gi/fundamental.cpp
  gi/gtype.cpp
  gi/ns.cpp
  gi/utils-inl.h
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/jsapi-util-args.h
  gjs/native.h
  test/gjs-test-toggle-queue.cpp
  tools/gjs-private-iwyu.imp
  tools/process_iwyu.py
Due: cppcheck, cpplint, pch_check

CI: Update pinned CI image
  .gitlab-ci.yml
Due: none

CI: Update Alpine FDO image
  .gitlab-ci.yml
Due: none

maint: Remove false positive suppression and update config for updated cppcheck
  tools/cppcheck.cfg
  tools/run_cppcheck.sh
Due: none

CI: Build mozjs128 images
  .gitlab-ci.yml
  test/extra/Dockerfile
  test/extra/Dockerfile.debug
Due: none

js: Update JS_GetFunctionId() calls
  gi/object.cpp
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint, pch_check

js: Use new API for column numbers
  gi/gerror.cpp
  gjs/gjs_pch.hh
  gjs/jsapi-util-error.cpp
  installed-tests/debugger/backtrace.debugger.output
  installed-tests/debugger/breakpoint.debugger.output
  installed-tests/debugger/continue.debugger.output
  installed-tests/debugger/delete.debugger.output
  installed-tests/debugger/down-up.debugger.output
  installed-tests/debugger/finish.debugger.output
  installed-tests/debugger/frame.debugger.output
  installed-tests/debugger/keys.debugger.output
  installed-tests/debugger/lastvalues.debugger.output
  installed-tests/debugger/list.debugger.output
  installed-tests/debugger/next.debugger.output
  installed-tests/debugger/print.debugger.output
  installed-tests/debugger/return.debugger.output
  installed-tests/debugger/set.debugger.output
  installed-tests/debugger/step.debugger.output
  installed-tests/debugger/throw-ignored.debugger.output
  installed-tests/debugger/throw.debugger.output
  installed-tests/debugger/until.debugger.output
  installed-tests/scripts/testWarnings.sh
Due: cppcheck, cpplint, pch_check

maint: Release notes for SpiderMonkey 128
  NEWS
Due: none

js: Move UniquePtr into external ArrayBuffers
  gjs/byteArray.cpp
  gjs/gjs_pch.hh
  gjs/text-encoding.cpp
Due: cppcheck, cpplint, pch_check

context: Implement JS::JobQueue::isDrainingStopped()
  gjs/context-private.h
Due: cppcheck, cpplint, pch_check

js: Remove realm creation options for unconditional features
  gjs/global.cpp
Due: cppcheck, cpplint, pch_check

js: Heap can no longer be stored in WeakCache
  gjs/context-private.h
  gjs/jsapi-util-root.h
Due: cppcheck, cpplint, pch_check

build: Build with SpiderMonkey 128
  .gitlab-ci.yml
  README.MSVC.md
  doc/Hacking.md
  meson.build
  tools/run_iwyu.sh
Due: none

js: Adapt to JS::ErrorReport::filename type change
  gjs/jsapi-util-error.cpp
Due: cppcheck, cpplint, pch_check

byteArray: Copy GBytes data in ByteArray.fromGBytes()
  gjs/byteArray.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  installed-tests/js/testLegacyByteArray.js
Due: cppcheck, cpplint, eslint, pch_check

release: Prepare for 1.81.2
  NEWS
Due: none

build: Bump version to 1.81.90 for GNOME 47.rc
  meson.build
Due: none

Integrate gobject-introspection-tests as submodule
  .gitlab-ci.yml
  .gitmodules
  installed-tests/js/meson.build
  meson.build
  subprojects/gobject-introspection-tests.wrap
  tools/run_coverage.sh
  tools/run_cppcheck.sh
Due: none

CI: Don't build custom gobject-introspection in CI image
  .gitlab-ci.yml
  test/extra/Dockerfile.debug
  test/test-ci.sh
Due: none

tests: Remove conditional skipping for tests present in g-i-tests
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testRegress.js
Due: eslint

module: handle import query component
  gjs/internal.cpp
  gjs/module.cpp
  installed-tests/js/.eslintrc.yml
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/modules/sideEffect3.js
  installed-tests/js/modules/sideEffect4.js
  installed-tests/js/testESModules.js
  modules/internal/loader.js
Due: cppcheck, cpplint, eslint, pch_check

test: Sort resource description file
  installed-tests/js/jsunit.gresources.xml
Due: none

module: Include full module specifier in import.meta.url
  gjs/module.cpp
  installed-tests/js/.eslintrc.yml
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/modules/greet.js
  installed-tests/js/testESModules.js
Due: cppcheck, cpplint, eslint, pch_check

doap: Remove invalid maintainer entry
  gjs.doap
Due: none

installed-tests: fix libexecdir
  installed-tests/debugger.test.in
  installed-tests/js/meson.build
  installed-tests/minijasmine-module.test.in
  installed-tests/minijasmine.test.in
  installed-tests/script.test.in
Due: none

object: remove type_query_dynamic_safe workaround
  gi/object.cpp
  gi/object.h
  gi/private.cpp
Due: cppcheck, cpplint, pch_check

type: throw if registering a type with final parent
  gi/private.cpp
  installed-tests/js/testGObjectClass.js
Due: cppcheck, cpplint, eslint, pch_check

callbacks: fix sweeping check for incremental GC
  gi/function.cpp
  gi/value.cpp
  gjs/context-private.h
  gjs/context.cpp
  installed-tests/js/testGtk3.js
Due: cppcheck, cpplint, eslint, pch_check

jsapi-util-string: Allocate UTF8 buffer in malloc arena
  gjs/jsapi-util-string.cpp
Due: cppcheck, cpplint, pch_check

byteArray: Copy data directly into ArrayBuffer
  gi/arg.cpp
  gjs/byteArray.cpp
  gjs/byteArray.h
Due: cppcheck, cpplint, pch_check

arg-cache: Rename TypeInfo to HasTypeInfo
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

arg: Handle return value of g_function_info_invoke()
  gi/arg.cpp
  gjs/gjs_pch.hh
Due: cppcheck, cpplint, pch_check

build: Fix double prefix in installed test files
  installed-tests/debugger.test.in
  installed-tests/minijasmine-module.test.in
  installed-tests/minijasmine.test.in
Due: none

profiler: Move finalize status callback into profiler
  gjs/context-private.h
  gjs/context.cpp
  gjs/engine.cpp
  gjs/profiler-private.h
  gjs/profiler.cpp
Due: cppcheck, cpplint, pch_check

context: Remove unused declaration
  gjs/context-private.h
  gjs/profiler-private.h
  gjs/profiler.cpp
Due: cppcheck, cpplint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
