Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh

maint: Check all shell scripts with shellcheck
  .gitlab-ci.yml
  tools/run_shellcheck.sh
Due: none

maint: Make testExamples.sh compatible with POSIX sh
  installed-tests/scripts/testExamples.sh
Due: none

maint: Append multiple lines all at once in check-pch selftest
  test/check-pch.sh
Due: headers_check

maint: Use grep -c to count lines
  test/test-ci.sh
Due: none

maint: Abort shell scripts if cd fails
  tools/run_cppcheck.sh
  tools/run_eslint.sh
  tools/run_iwyu.sh
  tools/run_typecheck.sh
Due: none

maint: $ not necessary inside arithmetic expansion
  test/extra/do_environment.sh
Due: none

maint: Consistent array-variable handling in shell scripts
  test/check-headers.sh
  test/check-pch.sh
  test/test-ci.sh
  tools/run_coverage.sh
  tools/run_iwyu.sh
Due: headers_check

maint: Avoid declaring local variable with command output
  test/check-pch.sh
Due: headers_check

maint: Consistent double-quoting in shell scripts
  build/choose-tests-locale.sh
  test/test-ci.sh
  tools/run_coverage.sh
  tools/run_cppcheck.sh
  tools/run_iwyu.sh
Due: none

maint: Avoid test -o
  tools/run_iwyu.sh
Due: none

maint: Remove A && B || C pattern from scripts
  test/check-headers.sh
  test/check-pch.sh
Due: headers_check

maint: Remove useless function parameter names from headers
  gi/arg-cache.h
  gi/arg.h
  gi/boxed.cpp
  gi/boxed.h
  gi/cwrapper.h
  gi/foreign.h
  gi/fundamental.h
  gi/gerror.h
  gi/gobject.h
  gi/interface.h
  gi/object.h
  gi/param.h
  gi/private.h
  gi/repo.h
  gi/toggle.h
  gi/union.h
  gi/value.cpp
  gi/wrapperutils.h
  gjs/atoms.h
  gjs/byteArray.h
  gjs/context-private.h
  gjs/context.cpp
  gjs/deprecation.h
  gjs/engine.h
  gjs/global.h
  gjs/importer.h
  gjs/internal.h
  gjs/jsapi-class.h
  gjs/jsapi-util.h
  gjs/module.h
  gjs/native.h
  gjs/objectbox.h
  gjs/profiler-private.h
  gjs/promise.h
  gjs/text-encoding.h
  modules/cairo-private.h
  test/gjs-test-common.h
  test/gjs-test-utils.h
  util/log.h
Due: cpplint, headers_check

maint: Remove usage of NULL from C++, preferring nullptr
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/object.cpp
  gi/repo.cpp
  gi/value.cpp
  gjs/console.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/global.cpp
  gjs/importer.cpp
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-string.cpp
  gjs/profiler.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/testGio.js
  installed-tests/js/testLegacyGObject.js
  installed-tests/minijasmine.cpp
  test/gjs-test-call-args.cpp
  test/gjs-test-coverage.cpp
  test/gjs-test-jsapi-utils.cpp
  test/gjs-tests.cpp
  util/log.cpp
Due: cpplint, eslint, headers_check

maint: Make use of (void) for empty parameter list consistent
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/interface.cpp
  gi/object.cpp
  gi/toggle.cpp
  gi/union.cpp
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/error-types.cpp
  gjs/stack.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.h
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  meson.build
  modules/cairo-context.cpp
  modules/cairo-path.cpp
  modules/cairo-pattern.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
  test/gjs-test-call-args.cpp
  test/gjs-test-jsapi-utils.cpp
  test/gjs-test-rooting.cpp
  test/gjs-tests.cpp
Due: cpplint, headers_check

maint: Remove old assertion message idiom
  gi/toggle.cpp
  gjs/global.cpp
  gjs/jsapi-util-args.h
  gjs/profiler.cpp
Due: cpplint, headers_check

maint: Remove usage of glong and gulong where possible
  gi/object.cpp
Due: cpplint, headers_check

format: Reformat jsdoc comment for Format.format()
  modules/script/format.js
Due: eslint

maint: Change all doc comments to /** ... */
  examples/glistmodel.js
  gi/arg.cpp
  gi/boxed.cpp
  gi/cwrapper.h
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/gtype.cpp
  gi/interface.cpp
  gi/object.cpp
  gi/object.h
  gi/struct.cpp
  gi/wrapperutils.h
  gjs/context.cpp
  gjs/importer.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  gjs/profiler.cpp
  modules/cairo-path.cpp
  modules/script/format.js
  util/misc.cpp
  util/misc.h
Due: cpplint, eslint, headers_check

maint: Consistently format inline comments indicating unnamed arguments
  gi/arg.h
  gi/closure.h
  gi/private.cpp
  gjs/engine.cpp
Due: cpplint, headers_check

maint: Remove usage of other GLib POD typedefs
  gi/arg.cpp
  gi/enumeration.cpp
  gi/function.cpp
  gi/fundamental.cpp
  gi/info.h
  gi/object.cpp
  gi/object.h
  gi/value.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/importer.cpp
  gjs/jsapi-util-args.h
  gjs/jsapi-util.cpp
  gjs/mem.cpp
  gjs/profiler.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testGLib.js
  libgjs-private/gjs-gdbus-wrapper.c
  libgjs-private/gjs-gdbus-wrapper.h
  libgjs-private/gjs-util.h
  modules/cairo-context.cpp
  modules/system.cpp
  test/gjs-test-call-args.cpp
  test/gjs-test-coverage.cpp
  test/gjs-test-rooting.cpp
  test/gjs-tests.cpp
  tools/cppcheck.cfg
  util/log.cpp
Due: cpplint, eslint, headers_check

maint: Remove usage of gboolean, TRUE, and FALSE where possible
  gi/arg-inl.h
  gjs/profiler.cpp
  libgjs-private/gjs-gdbus-wrapper.c
  libgjs-private/gjs-util.c
  test/gjs-test-coverage.cpp
Due: cpplint, headers_check

maint: Remove usage of gsize and gssize where possible
  gi/arg-inl.h
  gi/arg.cpp
  gi/enumeration.cpp
  gi/function.cpp
  gjs/console.cpp
  gjs/context.cpp
  gjs/context.h
  gjs/coverage.cpp
  gjs/importer.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.cpp
  test/gjs-test-coverage.cpp
  test/gjs-tests.cpp
Due: cpplint, headers_check

maint: Update IWYU bug link
  tools/process_iwyu.py
Due: none

maint: Only build generated GLib headers if GLib is a subproject
  tools/run_iwyu.sh
Due: none

Fix typo in comment
  tools/process_iwyu.py
Due: none

maint: Update cppcheck bug link
  tools/run_cppcheck.sh
Due: none

tests: Remove unnecessary GObject-style parent member
  test/gjs-test-rooting.cpp
Due: cpplint, headers_check

doc: Mention GJS_USED_ASSERT macro in style guide
  doc/CPP_Style_Guide.md
Due: none

maint: Update more union tests
  installed-tests/js/testGIMarshalling.js
Due: eslint

arg: Remove awkward gjs_ghr_helper
  gi/arg.cpp
Due: cpplint, headers_check

tests: Remove unused return value
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
Due: cpplint, headers_check

arg-cache: Fix Flags::in mask comparison
  gi/arg-cache.cpp
Due: cpplint, headers_check

overrides/GLib: Add overrides for one-shot timeout/idle functions
  installed-tests/js/testGLib.js
  modules/core/overrides/GLib.js
Due: eslint

maint: Remove clang-format comments where possible
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/gtype.cpp
  gi/interface.cpp
  gi/ns.cpp
  gi/object.cpp
  gi/union.cpp
  gjs/console.cpp
  gjs/debugger.cpp
  gjs/jsapi-util.cpp
  modules/print.cpp
  modules/script/_bootstrap/debugger.js
Due: cpplint, eslint, headers_check

maint: Remove double blank lines before comments
  examples/dbus-client.js
  examples/dbus-service.js
  examples/gtk3-template.js
  examples/gtk4-frame-clock.js
  examples/gtk4-template.js
  gi/arg.cpp
  modules/console.cpp
Due: cpplint, eslint, headers_check

maint: Name all JS::CallArgs variables 'args'
  gi/function.cpp
  gi/fundamental.cpp
  gi/gerror.cpp
  gi/object.cpp
  gi/private.cpp
  gjs/byteArray.cpp
  gjs/global.cpp
  modules/cairo-context.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-ps-surface.cpp
  modules/cairo-radial-gradient.cpp
  modules/cairo-region.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-svg-surface.cpp
  modules/console.cpp
  modules/print.cpp
  modules/system.cpp
Due: cpplint, headers_check
