Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: node:12
  stage: source_check
  script:
  - ./tools/run_eslint.sh

overrides/Gtk: Set BuilderScope in class init
  modules/core/overrides/Gtk.js
Due: eslint

gi/wrapperutils: Move gjs_get_string_id() into resolve() implementations
  gi/boxed.cpp
  gi/boxed.h
  gi/fundamental.cpp
  gi/fundamental.h
  gi/interface.cpp
  gi/interface.h
  gi/object.cpp
  gi/object.h
  gi/union.cpp
  gi/union.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

Fixed error in _init() that prevented GType objects from being created. Improved the regression test, implementing Marco T's feedback.
  installed-tests/js/testGObject.js
  modules/core/overrides/GObject.js
Due: eslint

release: Prepare for 1.64.5
  NEWS
Due: none

Add backtrace full command to debugger
  installed-tests/debugger/backtrace.debugger
  installed-tests/debugger/backtrace.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

Revert "arg-cache: Save space by not caching GType"
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
Due: cppcheck, cpplint

release: Prepare for 1.66.2
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

release: Prepare for 1.67.1
  NEWS
Due: none

various documentation improvements
  doc/Hacking.md
  doc/Mapping.md
  doc/Modules.md
Due: none

Replace remaining mentions of window with globalThis
  .eslintrc.yml
  doc/Logging.md
  doc/Modules.md
  doc/Package/Specification.md
  doc/Style_Guide.md
  tools/heapgraph.md
  tools/heapgraph.py
Due: eslint

add .editorconfig file
  .editorconfig
  doc/Environment.md
  doc/Modules.md
Due: none

doc: add Clapper and Flatseal to thirty party applications written in GJS
  doc/Home.md
Due: none

Display current line of source code when displaying current frame in debugger
  installed-tests/debugger/down-up.debugger.output
  installed-tests/debugger/frame.debugger.output
  installed-tests/debugger/throw.debugger.output
  modules/script/_bootstrap/debugger.js
Due: eslint

console: fix multiline template literals
  modules/console.cpp
Due: cppcheck, cpplint

js: Add new system for creating wrapper objects for native types
  gi/boxed.cpp
  gi/boxed.h
  gi/cwrapper.cpp
  gi/cwrapper.h
  gi/fundamental.cpp
  gi/fundamental.h
  gi/gerror.cpp
  gi/gerror.h
  gi/interface.cpp
  gi/interface.h
  gi/object.cpp
  gi/private.cpp
  gi/union.h
  gi/wrapperutils.cpp
  gi/wrapperutils.h
  meson.build
Due: cppcheck, cpplint

ns: Remove JSClass macros
  gi/ns.cpp
Due: cppcheck, cpplint

cairo: Remove JSClass macros from CairoPath
  modules/cairo-context.cpp
  modules/cairo-path.cpp
  modules/cairo-private.h
  modules/cairo.cpp
Due: cppcheck, cpplint

gtype: Remove JSClass macros
  gi/gtype.cpp
  installed-tests/js/testGTypeClass.js
  util/log.cpp
  util/log.h
Due: cppcheck, cpplint, eslint

js: Rename GJS_GET_WRAPPER_PRIV to GJS_CHECK_WRAPPER_PRIV
  gi/boxed.cpp
  gi/cwrapper.h
  gi/gerror.cpp
  gi/ns.cpp
  gi/object.cpp
  gi/wrapperutils.h
Due: cppcheck, cpplint

ns: Move code into class body
  gi/ns.cpp
Due: cppcheck, cpplint

cairo: Remove JSClass macros from CairoSurface and subclasses
  modules/cairo-context.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-private.h
  modules/cairo-ps-surface.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-surface.cpp
  modules/cairo-svg-surface.cpp
  modules/cairo.cpp
Due: cppcheck, cpplint

cairo: Remove JSClass macros from CairoPattern and subclasses
  modules/cairo-context.cpp
  modules/cairo-gradient.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-pattern.cpp
  modules/cairo-private.h
  modules/cairo-radial-gradient.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo.cpp
Due: cppcheck, cpplint

cairo: Remove JSClass macros from CairoRegion
  modules/cairo-private.h
  modules/cairo-region.cpp
  modules/cairo.cpp
Due: cppcheck, cpplint

gtype: Move code into class body
  gi/gtype.cpp
Due: cppcheck, cpplint

cairo: Remove JSClass macros from Cairo context
  modules/cairo-context.cpp
  modules/cairo-private.h
  modules/cairo.cpp
  util/log.cpp
  util/log.h
Due: cppcheck, cpplint

function: Remove JSClass macros
  gi/function.cpp
Due: cppcheck, cpplint

function: Store more call-state data in GjsFunctionCallState
  gi/arg-cache.cpp
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

function: Split finishing function invocation phase to another function
  gi/function.cpp
Due: cppcheck, cpplint

function: Cleanup function call GError on failures
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

importer: Add backwards-compatible GjsFileImporter global object
  gjs/importer.cpp
  installed-tests/js/testImporter.js
Due: cppcheck, cpplint, eslint

arg: fix build failure with glib master
  gi/arg.cpp
Due: cppcheck, cpplint

maint: Work around bug in clang-format
  .clang-format
Due: none

maint: Work around bug in address sanitizer
  meson.build
Due: none

GLib: Use native byte array function for override.
  modules/core/overrides/GLib.js
Due: eslint

Update to Jasmine 2.9.1
  installed-tests/js/jasmine.js
  installed-tests/js/testLang.js
Due: eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
