Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh

maint: Check that macro arguments are enclosed in parentheses
  .clang-tidy
  gi/cwrapper.h
  gjs/atoms.cpp
  gjs/jsapi-util.h
  gjs/mem-private.h
  gjs/profiler.cpp
  libgjs-private/gjs-util.c
  modules/cairo-context.cpp
  test/gjs-test-utils.h
Due: cpplint, headers_check

maint: Explicitly check strcmp() return value
  .clang-tidy
  libgjs-private/gjs-gdbus-wrapper.c
Due: headers_check

maint: Ensure copy-assignment operators handle self-assignment
  .clang-tidy
  gi/info.h
Due: cpplint, headers_check

maint: Don't define identifiers with leading underscore
  .clang-tidy
  gi/arg.cpp
  gi/arg.h
  gi/ns.cpp
  gi/object.cpp
  gi/value.cpp
  gjs/byteArray.cpp
  gjs/context.cpp
  gjs/deprecation.cpp
  gjs/deprecation.h
  gjs/engine.cpp
  gjs/module.cpp
  gjs/profiler-private.h
  gjs/profiler.cpp
  libgjs-private/gjs-gdbus-wrapper.c
  libgjs-private/gjs-match-info.c
  libgjs-private/gjs-match-info.h
  modules/cairo-context.cpp
  modules/print.cpp
  modules/system.cpp
Due: cpplint, headers_check

maint: Check for use-after-move
  .clang-tidy
  test/gjs-test-jsapi-utils.cpp
Due: cpplint, headers_check

maint: Add some more high-priority bugprone checks and a to-do list
  .clang-tidy
Due: none

maint: Eliminate if-statements with identical branches
  .clang-tidy
  gi/arg.cpp
  gi/boxed.cpp
  gi/value.h
  test/gjs-test-utils.h
Due: cpplint, headers_check

maint: Check for non-enum switches missing a default case
  .clang-tidy
  gi/value.cpp
Due: cpplint, headers_check

maint: Check for suspicious sizeof expressions
  .clang-tidy
  .clangd
  gi/value.h
Due: cpplint, headers_check

maint: Check for unused nontrivial variables
  .clang-tidy
  gi/arg.cpp
  gi/repo.cpp
  gjs/context.cpp
  gjs/internal.cpp
  test/gjs-test-jsapi-utils.cpp
  test/gjs-test-toggle-queue.cpp
Due: cpplint, headers_check

testGio: Add tests for all the Unix compatibility wrappers we added
  installed-tests/js/testGio.js
Due: eslint

deprecation: Add support for deprecating renamed symbols
  gjs/deprecation.cpp
  gjs/deprecation.h
  modules/print.cpp
Due: cpplint, headers_check

modules/core: Generalize and extract the function to define platform-specfic wrappers
  modules/core/_common.js
  modules/core/overrides/Gio.js
Due: eslint

overrides/GLib: Deprecate GLibUnix.signal_add_full
  installed-tests/js/testGLib.js
  modules/core/overrides/GLib.js
Due: eslint

overrides/Gio: Improve wrapper definition for object types without a gtype
  installed-tests/js/testGio.js
  modules/core/overrides/Gio.js
Due: eslint

overrides/GLib: Add wrappers for deprecated GLibUnix types
  gi/ns.cpp
  installed-tests/js/testGLib.js
  modules/core/overrides/GLib.js
Due: cpplint, eslint, headers_check

modules/common: Add utility function to define a deprecation wrapper
  modules/core/_common.js
Due: eslint

release: Prepare for 1.87.2
  NEWS
  meson.build
Due: none

maint: Check for unnecessary const parameters in function declarations
  .clang-tidy
  gjs/jsapi-util.h
Due: cpplint, headers_check

maint: Check for unnecessary const return types
  .clang-tidy
  gi/info.h
  gi/wrapperutils.h
  gjs/gerror-result.h
Due: cpplint, headers_check

maint: Pass around constrefs to UnownedInfo
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/arg.cpp
  gi/arg.h
  gi/boxed.cpp
  gi/boxed.h
  gi/enumeration.cpp
  gi/enumeration.h
  gi/foreign.cpp
  gi/foreign.h
  gi/function.cpp
  gi/function.h
  gi/fundamental.cpp
  gi/fundamental.h
  gi/gerror.cpp
  gi/gerror.h
  gi/object.cpp
  gi/object.h
  gi/repo.cpp
  gi/repo.h
  gi/struct.cpp
  gi/struct.h
  gi/union.cpp
  gi/union.h
  gi/value.cpp
  gi/wrapperutils.cpp
  gi/wrapperutils.h
Due: cpplint, headers_check

maint: Check for functions unnecessarily marked inline
  .clang-tidy
  gi/arg-cache.cpp
  gi/arg-inl.h
  gi/arg-types-inl.h
  gi/info.h
  gi/js-value-inl.h
  gi/value.h
  gjs/jsapi-util-args.h
  gjs/jsapi-util-root.h
  gjs/module.cpp
  gjs/profiler-private.h
Due: cpplint, headers_check

maint: Check for STL containers length() usage when empty() is sufficient
  .clang-tidy
  gjs/context.cpp
  test/gjs-test-coverage.cpp
Due: cpplint, headers_check

maint: Check for possible swapping of parameters
  .clang-tidy
  gjs/deprecation.cpp
Due: cpplint, headers_check

maint: Check for static methods that are called as instance methods
  .clang-tidy
  gi/function.cpp
  test/gjs-test-toggle-queue.cpp
Due: cpplint, headers_check

maint: Check for opportunities to use std::min/std::max
  .clang-tidy
  gi/arg-cache.cpp
Due: cpplint, headers_check

maint: Check for unnecessary initialization of string to ""
  .clang-tidy
  gjs/text-encoding.cpp
Due: cpplint, headers_check

maint: Check for unnecessary inline member initialization
  .clang-tidy
  gi/boxed.h
Due: cpplint, headers_check

maint: Enforce (const) auto* and auto&
  .clang-tidy
  gjs/internal.cpp
  gjs/objectbox.cpp
  test/gjs-test-call-args.cpp
  test/gjs-test-coverage.cpp
  test/gjs-test-misc.cpp
Due: cpplint, headers_check

maint: Check for unnecessary casts
  .clang-tidy
  gi/arg-cache.cpp
  gi/value.cpp
Due: cpplint, headers_check

maint: Check for taking the address of element 0 of an STL container
  .clang-tidy
  gi/arg.cpp
  gi/object.cpp
  gjs/profiler.cpp
Due: cpplint, headers_check

maint: Check for different arg names in declarations and definitions
  .clang-tidy
  gi/arg.cpp
  gi/arg.h
  gi/closure.h
  gjs/context-private.h
  gjs/context.cpp
  gjs/importer.h
Due: cpplint, headers_check

maint: Check for opportunities to use std::any_of and std::all_of
  .clang-tidy
  gi/enumeration.cpp
  gi/wrapperutils.cpp
Due: cpplint, headers_check

maint: Check for else right after return, continue, break, etc.
  .clang-tidy
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/fundamental.cpp
  gi/info.h
  gi/object.cpp
  gi/value.cpp
  gjs/coverage.cpp
  gjs/jsapi-dynamic-class.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
Due: cpplint, headers_check

maint: Remove separate declarations of constexpr members
  .clang-tidy
  gjs/global.cpp
  gjs/module.cpp
Due: cpplint, headers_check

maint: Prefer #ifdef rather than #if defined
  .clang-tidy
  gi/repo.cpp
Due: cpplint, headers_check

maint: Check for lowercase L integer suffix
  .clang-tidy
Due: none

maint: Check for function parameters that could be const
  .clang-tidy
  gjs/profiler-private.h
  gjs/profiler.cpp
Due: cpplint, headers_check

maint: Check for non-const member functions that could be const
  .clang-tidy
  gi/arg-cache.cpp
  gi/function.h
  gjs/console.cpp
Due: cpplint, headers_check

maint: Check for nested conditional operators
  .clang-tidy
  gi/object.cpp
Due: cpplint, headers_check
