Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

modules: Cleanup JSDoc, use ArrayBuffer.isView(), and use Object.defineProperty
  modules/esm/_encoding/encoding.js
Due: eslint

win32: Fix resource-based imports
  gjs/importer.cpp
Due: cppcheck, cpplint

build: Fix building with gobject-introspection as a subproject
  installed-tests/js/meson.build
Due: none

build: Provide fallback location for GLib Valgrind suppressions
  meson.build
Due: none

overrides/GLib: Guard Error.new_literal against invalid domains
  installed-tests/js/testExceptions.js
  modules/core/overrides/GLib.js
Due: eslint

build: Pre-release version bump
  meson.build
Due: none

CI: Codespell fixes
  NEWS
Due: none

release: Prepare for 1.68.3
  NEWS
Due: none

Set quote_type in editorconfig
  .editorconfig
Due: none

modules: Implement WHATWG console specification
  .eslintrc.yml
  installed-tests/js/.eslintrc.yml
  installed-tests/js/matchers.js
  installed-tests/js/meson.build
  installed-tests/js/testConsole.js
  js.gresource.xml
  modules/esm/_bootstrap/default.js
  modules/esm/console.js
Due: eslint

util: Add console handling utility
  gjs/debugger.cpp
  meson.build
  util/console.cpp
  util/console.h
Due: cppcheck, cpplint

modules: Implement console.clear()
  libgjs-private/gjs-util.c
  libgjs-private/gjs-util.h
  modules/esm/console.js
  util/console.cpp
  util/console.h
Due: cppcheck, cpplint, eslint

release: Add NEWS from stable release 1.68.3
  NEWS
Due: none

release: Prepare for 1.69.2
  NEWS
Due: none

Update ESLint to v8
  .eslintignore
  .eslintrc.yml
  .gitlab-ci.yml
  modules/esm/.eslintrc.yml
  modules/internal/.eslintrc.yml
  modules/script/package.js
  tools/package.json
  tools/yarn.lock
Due: eslint

gi: Don't zero terminate strings passed for bytes
  gi/arg.cpp
  installed-tests/js/testGLib.js
Due: cppcheck, cpplint, eslint

maint: Avoid bogus cppcheck warning about one-definition rule
  modules/console.cpp
Due: cppcheck, cpplint

CI: Don't skip checks depending on what files were changed
  .gitlab-ci.yml
Due: none

maint: Fix cppcheck warning about returning integer as pointer
  gi/arg-inl.h
Due: cppcheck, cpplint

CI: Print versions of linters before each linter check
  .gitlab-ci.yml
Due: none

maint: Fix trailing spaces
  installed-tests/js/testGLib.js
Due: eslint

gi: Return null if return argument is a pointer type
  gi/arg.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

gi: Convert GJS values to 64-bit GValue integers
  gi/value.cpp
  installed-tests/js/testGObjectClass.js
Due: cppcheck, cpplint, eslint

esm: Guard debugging log which assumes importing privates are objects
  gjs/module.cpp
Due: cppcheck, cpplint

gi: Enable pending tests which are now correctly handled
  installed-tests/js/testGIMarshalling.js
Due: eslint

gi: Assume native enums are signed, avoid asserting.
  gi/value.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint

gi: Use interface wrapper prototype to define implemented methods
  gi/object.cpp
  installed-tests/js/testGObjectInterface.js
Due: cppcheck, cpplint, eslint

overrides: Override replace_contents_async in Gio.File
  modules/core/overrides/Gio.js
Due: eslint

Use g_assert_true in test tools
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
Due: cppcheck, cpplint

gi: Allow GObject.Value boxed type in all contexts
  gi/value.cpp
Due: cppcheck, cpplint

overrides: Add Gtk.AccessibleRelationList
  gi/private.cpp
  gi/value.cpp
  modules/core/overrides/Gtk.js
Due: cppcheck, cpplint, eslint

overrides: Override Gtk.Accessible update_relation
  modules/core/overrides/Gtk.js
Due: eslint

function: Warn about unhandled promise rejections in System.exit()
  gi/function.cpp
  gjs/context-private.h
  installed-tests/scripts/testCommandLine.sh
Due: cppcheck, cpplint

Don't clear pending exceptions from module init files
  .eslintignore
  gjs/importer.cpp
  installed-tests/js/jsunit.gresources.xml
  installed-tests/js/modules/subBadInit/__init__.js
  installed-tests/js/modules/subErrorInit/__init__.js
  installed-tests/js/testImporter.js
Due: cppcheck, cpplint, eslint

Increase sanitizer timeout multiplier
  .gitlab-ci.yml
Due: none

Fix IWYU CI job.
  .gitlab-ci.yml
Due: none

Ensure instance constructor values are chained from Gtk.Widget
  gi/object.cpp
  gi/object.h
  installed-tests/js/testGtk3.js
  modules/core/overrides/Gtk.js
Due: cppcheck, cpplint, eslint

release: Prepare for 1.69.90
  NEWS
  meson.build
Due: none
