Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: cpplint
  script:
  - test/test-ci.sh CPPLINT

eslint:
  when: on_success
  image: ewlsh/lint-condo
  stage: source_check
  script:
  - node /usr/src/lint-condo

build: Late post-release version bump
  meson.build
Due: none

release: Prepare for 1.65.91
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

CI: Make iwyu idempotent
  .gitlab-ci.yml
Due: none

function: Don't assume FFI argument always matches GIArgument
  gi/function.cpp
Due: cppcheck, cpplint

[gjs|modules]/*.cpp: Forward declare specializations where needed
  gjs/atoms.cpp
  gjs/context-private.h
  gjs/deprecation.cpp
  gjs/jsapi-util-string.cpp
  gjs/stack.cpp
  modules/cairo.cpp
  modules/print.cpp
Due: cppcheck, cpplint

meson: Bring back Visual Studio build support
  meson.build
  meson_options.txt
Due: none

README.MSVC.md: Update build instructions
  README.MSVC.md
Due: none

gjs_dbus_implementation_emit_signal: don't try to unref NULL
  libgjs-private/gjs-gdbus-wrapper.c
Due: cppcheck, cpplint

doc: add third party applications
  doc/Home.md
Due: none

tests: Add missing vfunc
  installed-tests/js/testGIMarshalling.js
Due: eslint

maint: Un-deprecate Mainloop
  .eslintrc.yml
Due: eslint

maint: Add more eslint rules for restricted syntax
  .eslintrc.yml
  modules/script/tweener/tweener.js
Due: eslint

print: Define API writable
  installed-tests/js/meson.build
  installed-tests/js/testPrint.js
  modules/script/_bootstrap/default.js
Due: eslint

arg-cache: Don't assume an interface type on caller allocates
  gi/arg-cache.cpp
Due: cppcheck, cpplint

boxed: Initialize all the private BoxedInstance members
  gi/boxed.cpp
Due: cppcheck, cpplint

object: Fix GjsCallBackTrampoline's leaks
  gi/object.cpp
Due: cppcheck, cpplint

function: Unref the allocated trampoline if returning early
  gi/function.cpp
Due: cppcheck, cpplint

arg-inl: Add gjs_arg_steal to unset a value and return its value
  gi/arg-inl.h
  gi/arg.cpp
  gi/boxed.cpp
Due: cppcheck, cpplint

cleanup: Don't use GSlice anywhere
  gi/arg-cache.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/ns.cpp
  gi/repo.cpp
  gi/wrapperutils.h
  gjs/importer.cpp
Due: cppcheck, cpplint

release: Prepare for 1.65.92
  NEWS
Due: none

arg: Fix MIN/MAX safe big integer limits
  gi/arg-inl.h
  test/gjs-tests.cpp
Due: cppcheck, cpplint

Fix leak when virtual function is unimplemented.
  gi/function.cpp
Due: cppcheck, cpplint

function: Early-initialize arguments cache or we won't ever release them
  gi/function.cpp
Due: cppcheck, cpplint

function: Assert the presency of function info only if we've arguments
  gi/function.cpp
Due: cppcheck, cpplint

testGIMarshalling: Introspecting an unsupported out-caller allocated throws
  installed-tests/js/testGIMarshalling.js
Due: eslint

arg-cache: Throw an error when handling unsupported caller-allocates types
  gi/arg-cache.cpp
Due: cppcheck, cpplint

release: Prepare for 1.66.0
  NEWS
Due: none

release: Add NEWS from stable release 1.66.0
  NEWS
Due: none

build: Post-branch version bump
  meson.build
Due: none

fix build with clang
  gjs/jsapi-class.h
  gjs/jsapi-util-args.h
Due: cppcheck, cpplint

console: fix typo in command-line option
  gjs/console.cpp
Due: cppcheck, cpplint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
