Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js

CI: Add meson CI job
  .gitlab-ci.yml
Due: none

test-coverage: Ignore format-nonliteral warning
  test/gjs-test-coverage.cpp
Due: cppcheck, cpplint

build: Meson build system
  Makefile.am
  build/compile-gschemas.sh
  installed-tests/extra/gjs.supp
  installed-tests/js/meson.build
  installed-tests/meson.build
  libgjs.map
  libgjs.symbols
  meson.build
  meson_options.txt
  subprojects/.gitignore
  subprojects/glib.wrap
  subprojects/gobject-introspection.wrap
  subprojects/libffi.wrap
  subprojects/proxy-libintl.wrap
  subprojects/zlib.wrap
  test/meson.build
  tools/lcovrc
  tools/run_coverage.sh
Due: none

docs: Update Hacking.md to use Meson workflow
  doc/Hacking.md
Due: none

build: Bump gobject-introspection requirement to 1.61.2
  configure.ac
  meson.build
Due: none

build: Port cppcheck target to use compilation database
  Makefile.am
  doc/Hacking.md
  tools/run_cppcheck.sh
Due: none

build: Port IWYU runner script to use compilation database
  Makefile.am
  configure.ac
  tools/run_iwyu.sh
  tools/run_iwyu.sh.in
Due: none

object: Use g_irepository_get_object_gtype_interfaces
  configure.ac
  gi/object.cpp
Due: cppcheck, cpplint

context: Move gjs_get_import_global to jsapi-util
  gjs/context-private.h
  gjs/context.cpp
  gjs/jsapi-util.cpp
Due: cppcheck, cpplint

Apply suggestion to meson.build
  meson.build
Due: none

release: Copy NEWS from 1.58.1
  NEWS
Due: none

release: Prepare for 1.63.1
  NEWS
Due: none

build: Post-release version bump
  configure.ac
  meson.build
Due: none

object: Throw if constructing an unregistered object inheriting from GObject
  gi/object.cpp
Due: cppcheck, cpplint

private: Don't pass argv to for_js_typecheck and use result for later
  gi/private.cpp
Due: cppcheck, cpplint

testGObjectClass: Verify the usage of GObject classes with wrong base
  installed-tests/js/testGObjectClass.js
Due: eslint

meson, autotools: Hide non-exported symbols by default
  Makefile-test.am
  Makefile.am
  gjs-srcs.mk
  gjs/macros.h
  libgjs.map
  libgjs.symbols
  meson.build
Due: cppcheck, cpplint

object: Use g_irepository_get_object_gtype_interfaces
  gi/object.cpp
Due: cppcheck, cpplint

CI: Tweak eslint rule for unneeded parentheses
  .eslintrc.yml
Due: none

CI: Remove CODECHECK variable
  .gitlab-ci.yml
Due: none

CI: Remove header / footer
  .gitlab-ci.yml
Due: none

CI: Add test-ci.sh SETUP command
  .gitlab-ci.yml
  test/test-ci.sh
Due: none

build: Fix regress.c args
  installed-tests/js/meson.build
Due: none

CI: Move most CI jobs to Meson
  .gitlab-ci.yml
  test/test-ci.sh
Due: none

CI: Remove do_Get_Commit_Message
  test/test-ci.sh
Due: none

CI: Use Meson-based script for code coverage jobs
  .gitlab-ci.yml
  test/test-ci.sh
Due: none

build: Install files needed for debugger tests
  Makefile-insttest.am
  installed-tests/meson.build
Due: none

test: Accommodate GC zeal parameters in test skip condition
  test/gjs-test-coverage.cpp
Due: cppcheck, cpplint

test: Remove pending timeout source after test
  installed-tests/js/testMainloop.js
Due: eslint

build: Adjust test timeouts
  installed-tests/js/minijasmine.js
  meson.build
Due: eslint

build: Install libwarnlib.so
  installed-tests/js/meson.build
Due: none

gjs/*.cpp, util/*.cpp: Use XP_WIN instead of G_OS_WIN32
  gjs/context.cpp
  gjs/engine.cpp
  gjs/importer.cpp
  gjs/jsapi-util.cpp
  util/log.cpp
Due: cppcheck, cpplint

meson.build: Look for Cairo manually on MSVC builds
  meson.build
Due: none
