Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint, pch_check

cppcheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: test
  script:
  - cppcheck --version
  - mkdir -p /usr/share/gobject-introspection-1.0/tests
  ...

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

pch_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2023-01-06.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - test/check-pch.sh

profiler: Move GC status callback into profiler
  gjs/context-private.h
  gjs/context.cpp
  gjs/profiler-private.h
  gjs/profiler.cpp
Due: cppcheck, cpplint, pch_check

maint: Add alloca.h to IWYU exceptions cases
  gjs/profiler.cpp
Due: cppcheck, cpplint, pch_check

global: Add missing GJS_JSAPI_RETURN_CONVENTION annotation
  gjs/global.cpp
Due: cppcheck, cpplint, pch_check

maint: Update gobject-introspection-tests
  installed-tests/js/testRegress.js
  installed-tests/js/testWarnLib.js
Due: eslint

release: Prepare for 1.81.90
  NEWS
Due: none

installed-tests: Fix the search path that is compiled into minijasmine
  installed-tests/js/meson.build
Due: none

arg-cache: Init out parameters with correct number of bits
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

build: Pre-release version bump
  meson.build
Due: none

release: Prepare for 1.82.0
  NEWS
Due: none

internal: Replace PromiseData GC tracer with PersistentRooted
  gjs/internal.cpp
Due: cppcheck, cpplint, pch_check

release: Prepare for 1.82.1
  NEWS
Due: none

build: Post-release version bump
  meson.build
Due: none

Fix return value of load_contents_async
  doc/Overrides.md
Due: none

build: Post-branch version bump
  meson.build
Due: none

maint: Fix gobject-introspection-tests submodule path
  .gitmodules
Due: none

global: implement atob support
  gjs/global.cpp
  gjs/internal.cpp
  gjs/internal.h
Due: cppcheck, cpplint, pch_check

global: add source map registry slots
  gjs/global.cpp
  gjs/global.h
  gjs/internal.cpp
  gjs/internal.h
  gjs/module.cpp
  gjs/module.h
Due: cppcheck, cpplint, pch_check

modules/internal: bring in mozilla source-map library
  js.gresource.xml
  modules/internal/source-map/array-set.js
  modules/internal/source-map/base64-vlq.js
  modules/internal/source-map/base64.js
  modules/internal/source-map/binary-search.js
  modules/internal/source-map/source-map-consumer.js
  modules/internal/source-map/util.js
Due: eslint

tests: add tests for source maps in exceptions logging
  .eslintignore
  test/gjs-tests.cpp
  test/meson.build
  test/mock-js-resources.gresource.xml
  test/source-maps/inlined/noModule.js
  test/source-maps/inlined/noModule.js.license
  test/source-maps/inlined/number.js
  test/source-maps/inlined/number.js.license
  test/source-maps/inlined/numberWork.js
  test/source-maps/inlined/numberWork.js.license
  test/source-maps/separate/noModule.js
  test/source-maps/separate/noModule.js.license
  test/source-maps/separate/noModule.js.map
  test/source-maps/separate/noModule.js.map.license
  test/source-maps/separate/number.js
  test/source-maps/separate/number.js.license
  test/source-maps/separate/number.js.map
  test/source-maps/separate/number.js.map.license
  test/source-maps/separate/numberWork.js
  test/source-maps/separate/numberWork.js.license
  test/source-maps/separate/numberWork.js.map
  test/source-maps/separate/numberWork.js.map.license
Due: cppcheck, cpplint, eslint, pch_check

installed-tests: add tests for module and non-module debugger runs
  .eslintignore
  installed-tests/debugger-test.sh
  installed-tests/debugger/list.debugger.output
  installed-tests/debugger/noModule.js.map
  installed-tests/debugger/noModule.js.map.license
  installed-tests/debugger/number.js.map
  installed-tests/debugger/number.js.map.license
  installed-tests/debugger/numberWork.js.map
  installed-tests/debugger/numberWork.js.map.license
  installed-tests/debugger/sourcemap-inlined-module.debugger
  installed-tests/debugger/sourcemap-inlined-module.debugger.js
  installed-tests/debugger/sourcemap-inlined-module.debugger.js.license
  installed-tests/debugger/sourcemap-inlined-module.debugger.output
  installed-tests/debugger/sourcemap-inlined.debugger
  installed-tests/debugger/sourcemap-inlined.debugger.js
  installed-tests/debugger/sourcemap-inlined.debugger.js.license
  installed-tests/debugger/sourcemap-inlined.debugger.output
  installed-tests/debugger/sourcemap-number-module.js
  installed-tests/debugger/sourcemap-number-module.js.license
  installed-tests/debugger/sourcemap-separate-module.debugger
  installed-tests/debugger/sourcemap-separate-module.debugger.js
  installed-tests/debugger/sourcemap-separate-module.debugger.js.license
  installed-tests/debugger/sourcemap-separate-module.debugger.output
  installed-tests/debugger/sourcemap-separate.debugger
  installed-tests/debugger/sourcemap-separate.debugger.js
  installed-tests/debugger/sourcemap-separate.debugger.js.license
  installed-tests/debugger/sourcemap-separate.debugger.output
  installed-tests/meson.build
Due: eslint

modules: add source map support
  .eslintignore
  .gitlab-ci.yml
  LICENSES/CC-BY-3.0.txt
  gjs/context.cpp
  gjs/internal.cpp
  gjs/jsapi-util.cpp
  gjs/module.cpp
  modules/internal/internalLoader.js
  modules/internal/loader.js
  modules/internal/source-map/extractUrl.js
Due: cppcheck, cpplint, eslint, pch_check

context: add source map support for non-module files
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint, pch_check

debugger: add source map support
  gjs/debugger.cpp
  modules/script/_bootstrap/debugger.js
Due: cppcheck, cpplint, eslint, pch_check

console: persist REPL history to user defined path
  doc/Environment.md
  gjs/console.cpp
  gjs/context-private.h
  gjs/context.cpp
  gjs/context.h
  gjs/debugger.cpp
  modules/console.cpp
  util/console.cpp
  util/console.h
Due: cppcheck, cpplint, pch_check

arg: Un-templateize gjs_arg_unset()
  gi/arg-cache.cpp
  gi/arg-inl.h
  gi/arg.cpp
  gi/arg.h
  gi/function.cpp
  gi/gerror.cpp
  gi/object.cpp
  gi/wrapperutils.h
  modules/cairo-context.cpp
  modules/cairo-region.cpp
  modules/cairo-surface.cpp
  test/gjs-tests.cpp
Due: cppcheck, cpplint, pch_check

gerror: Fix incorrect comment
  gi/gerror.cpp
Due: cppcheck, cpplint, pch_check

js: Fix IWYU includes
  gi/fundamental.cpp
  gi/gtype.cpp
Due: cppcheck, cpplint, pch_check

js: Introduce GErrorResult type
  gjs/context-private.h
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/gerror-result.h
  gjs/gjs_pch.hh
Due: cppcheck, cpplint, pch_check

build: Require g-i 1.72
  gi/arg-cache.cpp
  gi/function.cpp
  gi/function.h
  meson.build
Due: cppcheck, cpplint, pch_check

docs: Remove dead links, apps no longer using GJS, and archived apps
  doc/README.md
Due: none

arg-cache: Label instance parameters as such
  gi/arg-cache.cpp
Due: cppcheck, cpplint, pch_check

GLib: Make GLib.log_set_writer_default work properly
  installed-tests/js/testConsole.js
  installed-tests/js/testGDBus.js
  installed-tests/js/testGLibLogWriter.js
  installed-tests/js/testGtk4.js
  libgjs-private/gjs-util.c
Due: cppcheck, eslint, pch_check

docs: Shorten list of apps to just GNOME Core and Circle
  doc/README.md
Due: none

misc: Remove _gjs_memdup2()
  gi/arg.cpp
  gjs/jsapi-util-string.cpp
  meson.build
  util/misc.h
Due: cppcheck, cpplint, pch_check

arg-cache: NotIntrospectable should not assume GITypeInfo is available
  gi/arg-cache.cpp
  installed-tests/js/testGIMarshalling.js
Due: cppcheck, cpplint, eslint, pch_check

docs: Alphabetize list of apps
  doc/README.md
Due: none

arg-cache: Replace tuple with convenience struct
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint, pch_check

arg-cache: Remove parameter pack expansion in ArgsCache
  gi/arg-cache.cpp
  gi/arg-cache.h
Due: cppcheck, cpplint, pch_check

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  pch_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh
