Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml

build: Post-release version bump
  meson.build
Due: none

build: Only install installed-tests modules if option activated
  installed-tests/js/meson.build
Due: none

object: Ignore toggle notifications after disposition
  gi/object.cpp
Due: cppcheck, cpplint

release: Prepare for 1.68.0
  NEWS
Due: none

arg-cache: Never throw when building the argument cache
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
  gi/function.h
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testIntrospection.js
  installed-tests/js/testRegress.js
Due: cppcheck, cpplint, eslint

GObject: Don't autogenerate accessors for CONSTRUCT_ONLY properties
  installed-tests/js/testGObjectClass.js
  modules/core/_common.js
Due: eslint

GObject: Define camel and kebab variants of CONSTRUCT_ONLY properties
  gi/gobject.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
  installed-tests/js/testGObjectClass.js
Due: cppcheck, cpplint, eslint

WIP: connect up prettyPrint() to console.interact and log
  gjs/atoms.h
  gjs/jsapi-util.cpp
  gjs/jsapi-util.h
  modules/console.cpp
  modules/print.cpp
  modules/script/_bootstrap/default.js
  test/gjs-tests.cpp
Due: cppcheck, cpplint, eslint

overrides/Gio: Fix _LocalFilePrototype
  modules/core/overrides/Gio.js
Due: eslint

doc: Fix documentation for dynamic imports
  doc/ESModules.md
Due: none

object: Return undefined and not the actual function on disposed objects
  gi/object.cpp
  installed-tests/js/testGObjectDestructionAccess.js
Due: cppcheck, cpplint, eslint

Update Hacking.md
  doc/Hacking.md
Due: none

Updated Dependencies
  doc/Hacking.md
Due: none

Implement GObject.registerType
  gi/cwrapper.cpp
  gi/gtype.cpp
  gi/object.cpp
  gi/private.cpp
  gi/wrapperutils.h
  gjs/atoms.h
  modules/core/overrides/GObject.js
Due: cppcheck, cpplint, eslint

cairo: Add missing semi-colons from dummy class declarations
  modules/cairo-private.h
Due: cppcheck, cpplint

Upgrades codespell to 2.0.0 in CI and adds suggestions by codespell package
  .gitlab-ci.yml
  CONTRIBUTING.md
  NEWS
  README.md
  doc/CPP_Style_Guide.md
  doc/ESModules.md
  doc/Environment.md
  doc/Home.md
  doc/Logging.md
  doc/Modules.md
  doc/Package/Specification.md
  test/test-ci.sh
  tools/heapgraph.md
Due: none

Updates revision address of glib and gobject-introspection
  subprojects/glib.wrap
  subprojects/gobject-introspection.wrap
Due: none

testFundamental: Ensure a fundamental can be converted to GValue in both ways
  installed-tests/js/testFundamental.js
Due: eslint

fundamental: Use value or instance pointer when no get/set funcs are provided
  gi/fundamental.cpp
  installed-tests/js/testFundamental.js
Due: cppcheck, cpplint, eslint

doc: add an example to get relative filename and dirname with import.meta.url
  doc/ESModules.md
Due: none

function: Save original allocated pointers
  gi/arg-cache.cpp
  gi/arg-cache.h
  gi/function.cpp
  gi/function.h
Due: cppcheck, cpplint

value: Rewrite incorrect and obsolete comments
  gi/value.cpp
Due: cppcheck, cpplint

tests: Fix GIMarshallingTests.SubSubObject tests
  installed-tests/js/testGIMarshalling.js
Due: eslint

maint: Mark functions as [[gnu::const]]
  gi/object.h
  gi/wrapperutils.h
Due: cppcheck, cpplint

jsapi-util-string: Return smart pointer from gjs_hyphen_to_underscore()
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.h
Due: cppcheck, cpplint

maint: Replace G_GNUC_... macros with C++ attributes
  gjs/global.cpp
  gjs/jsapi-util-error.cpp
  gjs/jsapi-util.h
  util/log.cpp
  util/log.h
Due: cppcheck, cpplint

system: Add missing functions to System module
  modules/esm/system.js
Due: eslint

tests: Increase coverage of Regress and GIMarshalling test suite
  installed-tests/js/testGIMarshalling.js
  installed-tests/js/testRegress.js
Due: eslint

gerror: Make gjs_gerror_make_from_error() infallible
  gi/function.cpp
  gi/gerror.cpp
Due: cppcheck, cpplint

docs: Add note about building SpiderMonkey
  doc/Hacking.md
Due: none

build: Add Flatpak manifest
  .gitlab-ci.yml
  .reuse/dep5
  build/flatpak/org.gnome.GjsConsole.json
  doc/Hacking.md
Due: none

build: Post-branch version bump
  meson.build
Due: none

wrapperutils: Use native ostringstream pointer to string conversion
  gi/wrapperutils.cpp
  installed-tests/js/testGObject.js
Due: cppcheck, cpplint, eslint

fundamental: Improve error message about invalid conversion types
  gi/fundamental.cpp
  installed-tests/js/testFundamental.js
Due: cppcheck, cpplint, eslint

testFundamental: Add more tests ensuring we can upcast but not downcast
  installed-tests/js/testFundamental.js
Due: eslint

testGObjectValue: Check that GValue's can be passed to functions
  installed-tests/js/testGObjectValue.js
Due: eslint

value: Support creating a GType from a GValue holding it
  gi/value.cpp
Due: cppcheck, cpplint

fundamental: Use g_value_type_compatible to check if we can do type conversion
  gi/fundamental.cpp
Due: cppcheck, cpplint

testGObjectValue: Add cases with GValue holding a GValue
  installed-tests/js/testGObjectValue.js
Due: eslint
