Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cpplint, eslint, typecheck, headers_check

cpplint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - cpplint --version
  - test/test-ci.sh CPPLINT

eslint:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_eslint.sh --version
  - ./tools/run_eslint.sh

typecheck:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - ./tools/run_typecheck.sh --version
  - ./tools/run_typecheck.sh

headers_check:
  variables:
    FDO_DISTRIBUTION_TAG: 2024-07-28.0
    FDO_UPSTREAM_REPO: GNOME/gjs
  when: on_success
  stage: source_check
  script:
  - env SELFTEST=1 test/check-pch.sh
  - env SELFTEST=1 test/check-headers.sh
  - test/check-pch.sh
  - test/check-headers.sh

CI: Run cpplint on the whole codebase
  .gitlab-ci.yml
  test/test-ci.sh
  tools/run_cpplint.sh
Due: none

maint: Remove NOLINT(runtime/int) comments
  gi/arg-types-inl.h
  gi/js-value-inl.h
  gi/object.cpp
  modules/system.cpp
  tools/run_cpplint.sh
Due: cpplint, headers_check

maint: Use {} for empty statements
  gi/toggle.cpp
  gjs/engine.cpp
Due: cpplint, headers_check

tests: Avoid multiline strings for JS code snippets
  test/gjs-tests.cpp
Due: cpplint, headers_check

maint: Move all pointer asterisks to be adjacent to the type
  gi/arg-cache.cpp
  gi/arg.cpp
  gi/foreign.cpp
  gi/gerror.cpp
  gi/object.cpp
  gi/repo.cpp
  gi/value.cpp
  gjs/console.cpp
  gjs/context.cpp
  gjs/coverage.cpp
  gjs/importer.cpp
  gjs/jsapi-dynamic-class.cpp
  gjs/jsapi-util-args.h
  gjs/jsapi-util-error.cpp
  gjs/jsapi-util-string.cpp
  gjs/jsapi-util.cpp
  gjs/profiler.cpp
  gjs/stack.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  installed-tests/minijasmine.cpp
  libgjs-private/gjs-gdbus-wrapper.c
  libgjs-private/gjs-gdbus-wrapper.h
  libgjs-private/gjs-util.c
  modules/cairo-context.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-pdf-surface.cpp
  modules/cairo-ps-surface.cpp
  modules/cairo-region.cpp
  modules/cairo-solid-pattern.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-svg-surface.cpp
  modules/console.cpp
  modules/system.cpp
  test/gjs-test-coverage.cpp
  test/gjs-test-rooting.cpp
  test/gjs-test-utils.h
  test/gjs-tests.cpp
  util/log.cpp
  util/misc.cpp
Due: cpplint, headers_check

maint: Don't use C89-style declarations
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/object.cpp
  gi/value.cpp
  gjs/console.cpp
  gjs/importer.cpp
  gjs/mem.cpp
  gjs/stack.cpp
  installed-tests/js/libgjstesttools/gjs-test-tools.cpp
  libgjs-private/gjs-gdbus-wrapper.c
  libgjs-private/gjs-util.c
  modules/cairo-context.cpp
  modules/cairo-image-surface.cpp
  modules/cairo-linear-gradient.cpp
  modules/cairo-pattern.cpp
  modules/cairo-radial-gradient.cpp
  modules/cairo-region.cpp
  modules/cairo-surface-pattern.cpp
  modules/cairo-surface.cpp
  test/gjs-test-call-args.cpp
  test/gjs-test-coverage.cpp
  util/log.cpp
Due: cpplint, headers_check

maint: Move variable declarations into inner scopes when possible
  gi/arg.cpp
  gi/object.cpp
  installed-tests/minijasmine.cpp
Due: cpplint, headers_check

Update g-i-tests
  subprojects/gobject-introspection-tests.wrap
Due: none

gi: Allow optional inout arguments to be null
  gi/arg-cache.cpp
  installed-tests/js/testGIMarshalling.js
Due: cpplint, eslint, headers_check

ci/coverage: Strip the build path from coverage report on JS files
  tools/run_coverage.sh
Due: none

ci/coverage: Strip spaces from cobertura report
  tools/run_coverage.sh
Due: none

ci: Use rules syntax for the iwyu job
  .gitlab-ci.yml
Due: none

ci: Use GNOME default rules
  .gitlab-ci.yml
Due: none

ci: Run iwyu job only if C/C++ sources have been changed
  .gitlab-ci.yml
Due: none

jsapi-util: Fix regression in RSS behaviour
  gjs/jsapi-util.cpp
Due: cpplint, headers_check

info: Fix return type of GI::CallableInfo::closure_native_address()
  gi/arg-cache.cpp
  gi/function.h
  gi/info.h
  gi/object.cpp
Due: cpplint, headers_check

release: Prepare for 1.87.1
  NEWS
  meson.build
Due: none

CI: Add clang-tools-extra to Docker images
  test/extra/Dockerfile
Due: none

CI: Remove libtsan from Docker images
  test/extra/Dockerfile
Due: none

CI: Update Docker images to use Fedora 43
  test/extra/Dockerfile
Due: none

CI: Use new pinned image
  .gitlab-ci.yml
Due: none

Revert "CI, docs: Various temporary changes to accommodate GLib as subproject"
  .gitlab-ci.yml
  doc/Hacking.md
Due: none

CI: Remove sanitizer_clang job
  .gitlab-ci.yml
Due: none

test: Avoid creating second pre-destroyed Gtk.Window
  installed-tests/js/testGObjectDestructionAccess.js
Due: eslint

maint: Update Valgrind suppressions for Fedora 43 system
  installed-tests/extra/gjs.supp
Due: none

test: Skip Gdk.Event test if GTK not enabled
  installed-tests/js/testIntrospection.js
Due: eslint

CI: Remove thread sanitizer job
  .gitlab-ci.yml
  installed-tests/extra/tsan.supp
  meson.build
Due: none

maint: Update includes for Fedora 43 version of IWYU
  gi/arg.cpp
  gi/boxed.cpp
  gi/function.cpp
  gi/info.h
  gjs/jsapi-util-root.h
  libgjs-private/gjs-util.c
  modules/console.cpp
  test/gjs-test-utils.h
Due: cpplint, headers_check

build: Fix unity build with generated enums
  meson.build
Due: none

test: Don't set object to null when only testing dispose
  installed-tests/js/testIntrospection.js
Due: eslint

CI: Bump up long-running GC test suite timeouts
  installed-tests/js/minijasmine.js
  meson.build
Due: eslint

test: Use JS_GC_ZEAL keywords instead of numbers
  installed-tests/js/minijasmine.js
  installed-tests/js/testGIMarshalling.js
  meson.build
Due: eslint

test: Don't drop Gtk.SortListModel until end of test
  installed-tests/js/testGtk4.js
Due: eslint

test: Make coverage function name test order-independent
  test/gjs-test-coverage.cpp
Due: cpplint, headers_check

CI: Skip Gtk4 tests when running CI Valgrind job
  installed-tests/js/testGtk4.js
  installed-tests/scripts/testGtk4Warnings.sh
Due: eslint

jsapi-util: Port gjs_gc_if_needed() to chrono::microseconds
  gjs/gjs_pch.hh
  gjs/jsapi-util.cpp
  util/misc.h
Due: cpplint, headers_check

wrapperutils: Pass const reference to the introspection info to toString()
  gi/wrapperutils.cpp
  gi/wrapperutils.h
Due: cpplint, headers_check

console: Add RAII class for trace FD
  gjs/console.cpp
Due: cpplint, headers_check

object: Refactor ctor and proto lookup to use RegisteredTypeInfo
  gi/info.h
  gi/object.cpp
Due: cpplint, headers_check

maint: Use mozilla::ScopeExit for cleanup
  gi/boxed.cpp
  gi/function.cpp
  gi/repo.cpp
Due: cpplint, headers_check

Path conditions:
  cpplint: any of: **/*.cpp, **/*.h, **/*.hh
  eslint: any of: **/*.js, .eslintignore, .eslintrc.yml, **/.eslintrc.yml
  typecheck: any of: modules/internal/*.js, tools/package-lock.json, tsconfig.json
  headers_check: any of: **/*.c, **/*.cpp, **/*.h, **/*.hh, test/check-pch.sh, test/check-headers.sh
