Repository GNOME/gjs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cppcheck, cpplint, eslint

cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
  - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability

cpplint:
  when: on_success
  artifacts:
    name: log
    when: always
    paths:
    - configure
    - Makefile
    - ./*.log
    - ./*.trs
    - ./installed-tests/scripts/*.log
    - ./installed-tests/scripts/*.trs
  script:
  ...

eslint:
  when: on_success
  image: singapore/lint-condo
  stage: source_check
  script:
  - node /usr/src/lint-condo

Modify default search path for legacy modules.
  gjs/importer.cpp
Due: cppcheck, cpplint

Remove VSCode configuration file.
  .vscode/c_cpp_properties.json
Due: none

Remove accidental formatting.
  gi/boxed.cpp
Due: cppcheck, cpplint

Remove unused code, unneeded comments/warnings.
  gjs/context-private.h
  gjs/context.cpp
  gjs/global.cpp
  gjs/global.h
  gjs/module.cpp
Due: cppcheck, cpplint

Fix configure.ac rebase regression.
  configure.ac
Due: none

Remove now unnecessary run-as-legacy utility.
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint

Remove newline.
  gjs/engine.cpp
Due: cppcheck, cpplint

Remove old esm modules.
  modules/esm/gjs.js
  modules/esm/internal/gjs.js
  modules/modules.gresource.xml
Due: eslint

Remove old comments.
  gjs/global.cpp
Due: cppcheck, cpplint

util: Don't free memory we do not own
  libgjs-private/gjs-util.c
Due: cppcheck, cpplint

GLib: Override string manipulation functions
  installed-tests/js/testGLib.js
  modules/overrides/GLib.js
Due: eslint

release: Prepare for 1.58.1
  NEWS
Due: none

build: Post-release version bump
  configure.ac
Due: none

Apply suggestion to meson.build
  meson.build
Due: none

fixup gitlab ci
  .gitlab-ci.yml
Due: none

gjs: Ensure that GjsContextPrivate::from_current_context is not inlined
  gjs/context-private.h
  gjs/context.cpp
Due: cppcheck, cpplint

jsapi-util-root: Add JSContext parameter to switch_to_unrooted
  gi/object.cpp
  gi/object.h
  gjs/jsapi-util-root.h
  test/gjs-test-rooting.cpp
Due: cppcheck, cpplint

object: Use GjsContextPrivate::from_current_context() to get context
  gi/object.cpp
Due: cppcheck, cpplint

build: Port IWYU runner script to use compilation database
  Makefile.am
  configure.ac
  tools/run_iwyu.sh
  tools/run_iwyu.sh.in
Due: none

build: Meson build system
  Makefile.am
  build/compile-gschemas.sh
  installed-tests/extra/gjs.supp
  installed-tests/js/meson.build
  installed-tests/meson.build
  libgjs.map
  libgjs.symbols
  meson.build
  meson_options.txt
  subprojects/.gitignore
  subprojects/glib.wrap
  subprojects/gobject-introspection.wrap
  subprojects/libffi.wrap
  subprojects/proxy-libintl.wrap
  subprojects/zlib.wrap
  test/meson.build
  tools/lcovrc
  tools/run_coverage.sh
Due: none

build: Port cppcheck target to use compilation database
  Makefile.am
  doc/Hacking.md
  tools/run_cppcheck.sh
Due: none

CI: Add meson CI job
  .gitlab-ci.yml
Due: none

docs: Update Hacking.md to use Meson workflow
  doc/Hacking.md
Due: none

build: Bump gobject-introspection requirement to 1.61.2
  configure.ac
  meson.build
Due: none

libgjs_dep
  installed-tests/js/meson.build
  meson.build
  test/meson.build
Due: none

tests: Fail debugger tests if command failed
  installed-tests/debugger-test.sh
Due: none

CI: Add diffutils to Docker image
  test/ci-images.sh
Due: none

CI: Generate machine ID on Docker image
  test/ci-images.sh
Due: none

Path conditions:
  cppcheck: any of: **/*.c, **/*.cpp, **/*.h
  cpplint: any of: **/*.c, **/*.cpp, **/*.h
  eslint: any of: **/*.js
